<section class="datagovuk-company-health">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half company-health__col company-health__col--left">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Company health</h2>
            <p class="govuk-body company-health__subtitle govuk-!-margin-bottom-6">
                Statistics showing<br>
                company closed per month
            </p>
            <p class="company-health__value govuk-!-margin-bottom-2">
                500,000
            </p>
            <p class="govuk-body govuk-!-margin-bottom-6">
                In 2023, up to 0.7%<br>
                from 2025
            </p>

            <p class="company-health__delta company-health__delta--up govuk-!-margin-bottom-0">
                <span class="company-health__arrow" aria-hidden="true">^</span>
                <span class="company-health__delta-value">23</span>
                <span class="company-health__delta-value-prc">(5.4%)</span>
            </p>
        </div>
        <div class="govuk-grid-column-one-half company-health__col company-health__col--right">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Company health</h2>
            <p class="govuk-body company-health__subtitle govuk-!-margin-bottom-6">
                Statistics showing<br>
                company closed per month
            </p>
            <p class="company-health__value govuk-!-margin-bottom-2">
                500,000
            </p>
            <p class="govuk-body govuk-!-margin-bottom-6">
                In 2023, up to 0.7%<br>
                from 2025
            </p>

            <p class="company-health__delta company-health__delta--up govuk-!-margin-bottom-0">
                <span class="company-health__arrow" aria-hidden="true">~~~</span>
                <span class="company-health__delta-value">-23</span>
                <span class="company-health__delta-value-prc">(5.4%)</span>
            </p>
        </div>
    </div>
</section>