<h1 class="govuk-heading-l datagovuk-heading-l">Who this manual is for</h1>

<p class="govuk-body">
  This manual is mainly for people who work with data in government, arm’s length bodies or other public sector organisations.
</p>

<p class="govuk-body">
  It links to current data guidance and resources on GOV.UK and other trusted bodies like the Information Commissioner’s Office and National Cyber Security Centre.
</p>


<p class="govuk-body">
You’ll find these links helpful if:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    you want to know more about data in government – including how it should be managed, used, protected and shared
  </li>
  <li>
    you’re developing a system or service that processes or shares data
  </li>
  <li>
    you're working on a project that’s about data or driven by data – for example, if it involves AI or algorithmic tools
  </li>
  <li>
    you have a data-related role
  </li>
</ul>

<h2 class="govuk-heading-m datagovuk-heading-m">Data-related roles</h2>
<p class="govuk-body">
  These include:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    chief digital and information officers (CDIOs)
  </li>
  <li>
    chief technology officers (CTOs)
  </li>
  <li>
    chief data officers (CDOs)
  </li>
  <li>
    senior responsible officers (SROs)
  </li>
  <li>
    chief information security officers (CISOs) and cyber security professionals
  </li>
  <li>
    data protection officers (DPOs)
  </li>
  <li>
    data owners
  </li>
    data custodians
  </li>
  <li>
    data stewards
  </li>
  <li>
    information asset owners (IAOs)
  </li>
  <li>
    data analysts and data scientists
  </li>
  <li>
    anyone whose role involves delivering digital services – for
  </li>
  <li>
    example, product owners, software developers, designers and project and programme managers
  </li>
  <li>
    IT operations roles (DevOps)
  </li>
  <li>
    technical, data and security architects
  </li>
  <li>
    commercial and legal teams responsible for ensuring the safe handling of personal data is included in relevant contracts
  </li>
</ul>

<h2 class="govuk-heading-m datagovuk-heading-m">Why this manual is important</h2>

<p class="govuk-body">
  Data and data-driven technologies have revolutionised every aspect of our society and the economy, including how the UK government and public sector organisations deliver services. 
  The 
    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/publications/a-blueprint-for-modern-digital-government/a-blueprint-for-modern-digital-government-html">
      blueprint for modern digital government
    </a> 
  sets out a vision for public sector digital reform. Its priorities include harnessing the power of AI and strengthening our digital and data public infrastructure.
</p>
<p class="govuk-body">
  As the public sector uses and relies on data more, it’s vital that it does
  this responsibly and effectively to improve outcomes for citizens and the
  economy. This manual brings together the most important guidance to
  support public servants in doing this, while removing some of the pain
  points we know about.
</p>

<h2 class="govuk-heading-m datagovuk-heading-m">Other people that might find the manual useful</h2>

<p class="govuk-body">
  The manual might be of interest to anyone with an interest in data. It covers broad themes including data ethics, data protection and AI-driven technologies.
</p>
<p class="govuk-body">
  While much of the guidance was designed for specialist audiences (typically people who work with data), some of the links provide a good introduction to the topic.
</p>
