<% content_for :page_title do %>Preview on map<% end %>

<% content_for :head do %>
  <meta name="dc.coverage" content="GB" />
  <meta name="dc.creator" content="Ordnance Survey, http://www.ordnancesurvey.co.uk/contactus" />
  <meta name="dc.date" scheme="DCTERMS.W3CDTF" content="2011-04-15" />
  <meta name="dc.language" scheme="DCTERMS.ISO639-2" content="eng" />
  <meta name="dc.publisher" content="Ordnance Survey, Adanac Drive, Southampton, SO16 0AS, 023 8005 5257, customerservices@ordnancesurvey.co.uk" />
  <meta name="dc.subject" scheme="eGMS.IPSV" content="Civil Service" />
  <meta name="dc.title" content="UK Location Programme" />

  <meta name="copyright" content="Ordnance Survey 2011" />
  <meta name="description" content="UK Location Programme is a UK pan-government initiative to improve the sharing and re-use of public sector location information." />
  <meta name="keywords" content="ordnance survey, os, inspire, uklp, uk location programme" />

  <%= stylesheet_link_tag '//osinspiremappingprod.ordnancesurvey.co.uk/libraries/ext-3.4.0/resources/css/ext-all.css',
                          '//osinspiremappingprod.ordnancesurvey.co.uk/libraries/ext-3.4.0/resources/css/xtheme-gray.css',
                          'map-preview' %>

  <%= javascript_include_tag '//osinspiremappingprod.ordnancesurvey.co.uk/libraries/ext-3.4.0/adapter/ext/ext-base.js',
                             '//osinspiremappingprod.ordnancesurvey.co.uk/libraries/ext-3.4.0/ext-all.js',
                             '//osinspiremappingprod.ordnancesurvey.co.uk/libraries/openlayers-openlayers-85b836d/OpenLayers.js',
                             '//osinspiremappingprod.ordnancesurvey.co.uk/libraries/proj4js-1.0.3/lib/proj4js.js',
                             '//osinspiremappingprod.ordnancesurvey.co.uk/libraries/GeoExt/GeoExt.js',
                             'map-preview' %>
<% end %>

<%= content_for :breadcrumb do %>
  <%= link_to 'Back', :back, class: 'dgu-back-link' %>
<% end %>

<main role="main" id="content">
  <div class="grid-row inner">
    <div class="column-two-thirds ">
      <h1 class='heading-large'>Preview on map</h1>

      <noscript>
        <div class="error-summary">
          <p class="heading-medium error-summary-heading">
            Sorry, preview on map only works with JavaScript.
          </p>
        </div>
      </noscript>

      <p class="map-preview-loading-message">
        Calling Web Map Services.
      </p>
      <p class="map-preview-loading-message">
        Please wait &hellip;
      </p>
    </div>
  </div>
</main>
