<% content_for :page_title, "Component test" %>

<div class="govuk-width-container datagovuk-width-container">
  <h1 class="govuk-heading-xl datagovuk-heading-xl">Test heading-xl</h1>
  
  <h2 class="govuk-heading-l datagovuk-heading-l">Test heading-l</h1>
  
  <h2 class="govuk-heading-m datagovuk-heading-m">Test heading-m</h1>
  
  <p class="govuk-body datagovuk-body">Test govuk-body <a href="#" class="govuk-link datagovuk-link">test link</a></p>
  <div class="govuk-!-margin-top-5">
    <button class="govuk-button datagovuk-button">Test button</button>
  </div>
  <div class="govuk-!-margin-top-5">
    <a href="#" class="govuk-button datagovuk-button">Test link button</a>
  </div>

  <%= render partial: "v2/components/feedback" %>

  <%= render partial: "v2/collection/line_chart", locals: { 
    max_value: 300_000,
    y_title: "Average house price (£#{1000})",
    empty_description: "No data available",
    number_base: 1000,
    data_series: @data
  } %>

</div>
