<% content_for :page_title, "Component test" %>

<div class="govuk-width-container datagovuk-width-container">
  <h1 class="govuk-heading-xl datagovuk-heading-xl">Test heading-xl</h1>
  
  <h2 class="govuk-heading-l datagovuk-heading-l">Test heading-l</h1>
  
  <h2 class="govuk-heading-m datagovuk-heading-m">Test heading-m</h1>
  
  <p class="govuk-body datagovuk-body">Test govuk-body <a href="#" class="govuk-link datagovuk-link">test link</a></p>
  <div class="govuk-!-margin-top-5">
    <button class="govuk-button datagovuk-button">Test button</button>
  </div>
  <div class="govuk-!-margin-top-5">
    <a href="#" class="govuk-button datagovuk-button">Test link button</a>
  </div>

  <%= render partial: "v2/components/feedback" %>

  <%= render partial: "v2/collection/line_chart", locals: { 
    elements_point_radius: 0,
    pointRadius: 5,
    pointHoverRadius: 7,
    elements_point_radius: 0,
    title: "Comparing the nations",
    subtitle: "Average house prices in England, Wales and Scotland",
    data: [
        {
            "name": "England",
            "data": [
                {
                    "Date": "1968-04-01",
                    "Average_Price": 3218
                },
                {
                    "Date": "1968-05-01",
                    "Average_Price": 3218
                }
            ]
        },
    ],
    prefix: "£",
    suffix: "",
    ytitle: "Average house prices in England, Wales and Scotland",
    xtitle: "Date",
    min: 50000,
    max: 200000,
    stepSize: 100_000,
    limit: 10
  } %>

</div>
