<% content_for :page_title, "Component test" %>

<div class="govuk-width-container datagovuk-width-container">
  <h1 class="govuk-heading-xl datagovuk-heading-xl">Test heading-xl</h1>
  
  <h2 class="govuk-heading-l datagovuk-heading-l">Test heading-l</h1>
  
  <h2 class="govuk-heading-m datagovuk-heading-m">Test heading-m</h1>
  
  <p class="govuk-body datagovuk-body">Test govuk-body <a href="#" class="govuk-link datagovuk-link">test link</a></p>
  <div class="govuk-!-margin-top-5">
    <button class="govuk-button datagovuk-button">Test button</button>
  </div>
  <div class="govuk-!-margin-top-5">
    <a href="#" class="govuk-button datagovuk-button">Test link button</a>
  </div>

  <%= render partial: "v2/components/feedback" %>

  <%= render partial: "v2/collection/charts/headline/headline", locals: {
    title: "Companies incorporated and dissolved (2024-25)",
    left: {
      subtitle: "Companies incorporated",
      description: "Statistics showing companies incorporated this month",
      value: 581_768,
      analysis: "In 2023, up by 0.7% compared to 2022.",
      trend: "up",
      value_change: 100,
      percent_change: 10
    },
    right: {
      subtitle: "Companies dissolved",
      description: "Statistics showing companies dissolved this month",
      value: 200_210,
      analysis: "In 2023, up by 0.7% compared to 2022.",
      trend: "down",
      value_change: 50,
      percent_change: 5
    }
  } 
  %>
</div>
