<% content_for :page_title, title %>

<div class="govuk-width-container datagovuk-width-container govuk-!-margin-top-9">

  <h1 class="govuk-heading-xl datagovuk-heading-xl">
    Our plan for data.gov.uk
  </h1>
  <div class="govuk-grid-row datagovuk-roadmap govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body datagovuk-body">
        We’re updating data.gov.uk, with new <a class="govuk-link datagovuk-link--secondary datagovuk-link--secondary" href="/collections/business-and-economy">curated collections</a> of data, and a <a class="govuk-link datagovuk-link--secondary" href="/data-manual">data manual</a> to support the data community.
      </p>
      <p class="govuk-body datagovuk-body">
        You can still search the <a class="govuk-link datagovuk-link--secondary" href="/search">data directory</a>, which we are working on.
      </p>
    </div>

    <div class="govuk-grid-column-one-third">
      <%= image_tag "v2/plant-shoot.svg", class: "datagovuk-roadmap__image", alt: "A young plant sprouting from the ground" %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= rendered_content %>
    </div>
  </div>
</div>
