<% content_for :page_title do %>Changes to your datasets<% end %>

<main role="main" id="content">
  <div>
    <div class="grid-row">
      <div class="column-full">
        <section class="dgu-datalinks">
          <h2 class="heading-medium">Changes to your datasets</h2>
          <p>All new and changed datasets will appear as normal on Find open data. This can take up to an hour.</p>
        </section>
      </div>
    </div>
  </div>
</main>
