<% content_for :page_title do %>
  Available Soon
<% end %>

<main role="main" id="content">
  <div>
    <div class="grid-row">
      <div class="column-full">
        <section class="dgu-datalinks">
          <h2 class="heading-medium">Available Soon</h2>
          <p>Your dataset</p>
        </section>
      </div>
    </div>
  </div>
</main>
