$datagovuk-black: #333333;
$datagovuk-grey: #5D5D5D;

$datagovuk-dark-green: #00381E;
$datagovuk-green: #00890B;
$datagovuk-light-green: #F1FAF0;
$datagovuk-dark-pink: #4D303D;
$datagovuk-pink: #C27A9A;
$datagovuk-light-pink: #FBF4F7;
