$datagovuk-black: #333333;
$datagovuk-grey: #5D5D5D;
$datagovuk-light-grey: #E5E6E7;

$datagovuk-dark-green: #00381E;
$datagovuk-green: #00890B;
$datagovuk-light-green: #F1FAF0;
$datagovuk-dark-pink: #4D303D;
$datagovuk-pink: #C27A9A;
$datagovuk-light-pink: #FBF4F7;

.datagovuk-\!-colour-grey {
  color: $datagovuk-grey !important;
}

.datagovuk-\!-colour-dark-pink {
  color: $datagovuk-dark-pink !important;
}

.datagovuk-\!-colour-dark-green {
  color: $datagovuk-dark-green !important;
}
