$datagovuk-grey: #5D5D5D;
$link_color: $datagovuk-grey;

$datagovuk-dark-green: #00381e;
$datagovuk-light-green: #61A658;
$datagovuk-pink: #C27A9A;


$datagovuk-light-pink: rgb(240,230,236);


// .datagovuk-side-navigation__item--active {
//    ...
// border-left: 4px solid #00890b !important; 

// TODO: Check colours are matching design
// ...
// }