$govuk-assets-path: "";

$govuk-font-family-gds-transport: "GDS Transport", arial, sans-serif;

@import "govuk_frontend_support";
@import "colors";
@import "components/*";
@import "pages/collections/content";
@import "pages/collections/side_navigation";
@import "pages/collections/charts";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.datagovuk-heading-xl {
  font-size: 50px;
}

.datagovuk-heading-l {
  font-size: 42px;
}

.datagovuk-heading-m {
  font-size: 30px;
}