<%= include_gon(namespace: 'Find') %>

<h2 class="heading-medium">Filter by</h2>

<div class="form-group">
  <label for="location" class="form-label">
    Enter geographical area
  </label>
  <input id="location" name="location" value="<%= @location %>" class="dgu-filters__filter"/>
</div>

<div class="form-group">
  <label for="publisher" class="form-label">
    Enter publisher
  </label>
  <input id="publisher" name="publisher" value="<%= @organisation %>" class="dgu-filters__filter"/>
</div>

<div class="form-group">
  <div class="dgu-filters__apply-button">
    <input class="button" type="submit" value="Apply filters"/>
  </div>
  <div class="dgu-filters__remove-button">
    <%= link_to 'Remove filters', search_path(q: @query) %>
  </div>
</div>
