<div class="dgu-dropdown">
  <select name="sort">
    <option <%= 'selected' if @sort=='recent' %> value="recent">Most recent</option>
    <option <%= 'selected' if @sort=='best' %> value="best">Best match</option>
  </select>
</div>
