.datagovuk-cta {
  background-color: var(--datagovuk-light-green);
  padding: 40px;
  border-radius: 10px;
  min-height: 10em;
}

.datagovuk-cta--secondary {
  background-color: var(--datagovuk-light-pink);
}
