.datagovuk-cta {
  background-color: $datagovuk-light-green;
  padding: 40px;
  border-radius: 10px;
  min-height: 10em;
  margin-bottom: 2em;
}

.datagovuk-cta--secondary {
  background-color: $datagovuk-light-pink;
}
