.datagovuk-feedback-inset-text {
  background-color: $datagovuk-light-green;
  border-left: 4px solid $datagovuk-green;
  padding: 15px;
}

.datagovuk-feedback-inset-text .datagovuk-link {
  color: $datagovuk-green;
}
