<section class="info">
  <h2 class="heading-medium">
    Additional information
  </h2>
  <p class="additional-information">
    A list of abbreviations and terms used by HMRC when recording spend with suppliers, can be found : https://www.gov.uk/government/publications/hmrc-glossary-of-terms-used-in-departmental-spending-over-25000-pages
  </p>
  <p class="additional-information"> This dataset is available under the <a href="">Open Government Licence</a>. All the data variables are coded rather than
    containing textual strings. The look up tables are available under "Additional resources" section towards the border-bottom
    of the table for the 2015 data.

    Coverage is for England Scotland and Wales and was added on the 20/09/2011. </p>
</section>
