<section class="dgu-additional-info">
  <h2 class="heading-medium">
    <%= t('datasets.show.additional_info') %>
  </h2>

  <p class="dgu-additional-info__notes">
    <%= @dataset.notes %>
  </p>
</section>
