<% if @dataset %>
  <section id="dgu-breadcrumb">
    <div class="govuk-grid-row">
      <!-- Only display breadcrumb if the referrer host matches the application host  -->
      <div class="govuk-grid-column-full">
        <%= render "govuk_publishing_components/components/breadcrumbs", {
          collapse_on_mobile: true,
          breadcrumbs: [
            {
              title: t('.home'),
              url: root_path
            },
            {
              title: @referer_query.nil? ? @dataset.organisation.title : t('.search'),
              url: @referer_query.nil? ? false : "/search?#{@referrer}"
            },
            {
              title: shorten_title(@dataset.title)
            }
          ]
        } %>
      </div>
    </div>
  </section>
<% end %>
