<div class="grid-row">
  <!-- Only display breadcrumb if the referrer host matches the application host  -->
  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li>
        <% if @query.nil? %>
          <%= @dataset.organisation['title'] %>
        <% else %>
          <%= link_to 'Search', "/search?#{@query}" %>
        <% end %>
      </li>
      <li>
        <%= @dataset.title %>
      </li>
    </ol>
  </div>
</div>
