<div class="grid-row">
  <!-- Only display breadcrumb if the referrer host matches the application host  -->
  <div class="column-full">
    <div class="datagov_breadcrumb">
      <ol role="breadcrumb">
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <li>
          <% if @referrer.nil? %>
            <%= @dataset.organisation['title'] %>
          <% else %>
            <%= link_to 'Search', "/search?#{@referrer}" %>
          <% end %>
        </li>
        <li>
          <%= @dataset.title %>
        </li>
      </ol>
    </div>
  </div>
</div>
