<section class="supporting docs">
  <h2 class="heading-medium">
    Supporting documents
  </h2>

    <table>
      <thead>
        <tr>
          <th class="title">Link to the document</th>
          <th>Format</th>
          <th>Date added</th>
        </tr>
      </thead>
      <tbody>
        <% @documents.each do |document| %>
          <tr>
            <td class="title">
              <a href="<%= document[:url] %>"><%= document[:name ]%></a>
            </td>
            <td><%= document[:format] or "n/a" %></td>
            <td><%= document[:start_date] or "n/a" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</section>
