<% table_rows = [] %>

<% dataset.docs.each do |doc| %>
<% table_rows << [
  {
    text: sanitize(link_to doc.name, doc.url, class: "govuk-link")
  },
  {
    text: doc.format || "N/A"
  },
  {
    text: format_timestamp(doc.created_at) || "N/A"
  },
] %>
<% end %>

<section id="supporting-docs">
  <%= render "govuk_publishing_components/components/heading", {
    text: t('.supporting_docs'),
    margin_bottom: 4,
    heading_level: 2,
    font_size: "m"
  } %>

  <%= render "govuk_publishing_components/components/table", {
    head: [
      {
        text: t('.link_to_doc')
      },
      {
        text: t('.format')
      },
      {
        text: t('.date_added')
      },
    ],
    rows: table_rows
  } %>
</section>
