<main id="content" role="main">
  <%= render "meta_data" %>
  render "timeseries_data"
  render "non_timeseries_data"
  render "additional_info"
  render "supporting_docs"
  render "contact"
  render "feedback"
</main>
