a:link {
   color:#00890B;
}

a:visited {
  color:#00890B;
  text-decoration: none;
}

a:hover {
   color:#00890B;
}

a:active {
   color:#00890B;
}

a:link {
  color:#00890B;
}

.dgu-side-navigation__item {
    margin-bottom: 20px;
}

.dgu-side-navigation li a {
    color: rgb(97,166,88);
    text-decoration: none;
    padding-left: 10px;
         display: block;
     width: 100%;
     height: 100%;
}

.dgu-side-navigation li:hover {
    box-shadow: #444 0 0 0px !important;
    border-left: 4px solid #00890B !important;
    cursor: pointer;
}

@media (max-width: 40.0625em) {
    .dgu-side-navigation {
        order: 1
    }

    .govuk-grid-column-two-thirds {
        order: 2
    }
}

.dgu-side-navigation__item--active {
    color: rgb(97,166,88);
    text-decoration: none;
    padding-left: 10px;
    border-left: 4px solid #00890B !important;
    cursor: pointer;
}