.collections-row,
.manual-row {
  display: none;

  &.is-open {
    display: block;
  }
}

.datagovuk-nav-dropdown__toggle,
.datagovuk-manual-nav-dropdown__toggle {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: #666666;
  font-weight: 200;
  text-decoration: none;
  @include govuk-font(19);

  &:hover {
    color: rgb(102, 102, 102);
  }
}


.datagovuk-nav-dropdown__chevron, 
.datagovuk-manual-nav-dropdown__chevron {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: currentColor;
  transform: rotate(45deg);
  transition: transform 0.2s ease-in-out;
  pointer-events: none;
}


.datagovuk-nav-item--has-dropdown,
.datagovuk-manual-nav-item--has-dropdown {
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;

  &:hover, &:focus-within {
    .datagovuk-nav-dropdown__chevron,
    .datagovuk-manual-nav-dropdown__chevron {
      transform: rotate(-135deg);
    }
  }
}


.datagovuk-nav-dropdown__menu,
.datagovuk-manual-nav-dropdown__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 10px;

  .govuk-header__link {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.datagovuk-header-row-onem,
.govuk-header__navigation,
.govuk-header__navigation-item,
.govuk-header__logo,
.govuk-width-container {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.is-closed {
  display: none !important;
}