<div class="datagovuk-cta <%= local_assigns.fetch(:classes, "") %>">
  <h3 class="govuk-heading-m datagovuk-heading-m">
    <a href="<%= url %>" class="govuk-link datagovuk-link"><%= title %></a>
  </h3>
  <p class="govuk-body datagovuk-body govuk-!-margin-bottom-0">
    <%= body %>
  </p>
</div>
