<li class="datagovuk-gridlist__item">
  <h2 class="govuk-body datagovuk-body datagovuk-gridlist__item--icon datagovuk-gridlist__item--icon-<%= item[:icon] %>">
    <a class="govuk-link datagovuk-link datagovuk-link--secondary" href="<%= item[:url] %>">
      <%= item[:title] %>
    </a>
  </h2>
  <p class="govuk-body datagovuk-body">
    <%= item[:body] %>
  </p>
</li>
