<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
    <% if local_assigns.fetch(:dataset, false) %>
      Is this data useful?
    <% else %>
      Is this page useful?
    <% end %>
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>
