<div class="datagovuk-feedback">
  <p class="govuk-body datagovuk-body govuk-!-margin-bottom-0">
    <% if local_assigns.fetch(:dataset, false) %>
      Is this data/dataset useful?
    <% else %>
      Is this page useful?
    <% end %>
    <a href="#" class="govuk-link datagovuk-link">Give us feedback.</a>
  </p>
</div>
