<li class="datagovuk-gridlist__item">
  <h2 class="govuk-heading-s datagovuk-heading-s datagovuk-gridlist__item--icon datagovuk-gridlist__item--icon-<%= gridlist_item_icons[:icon] %>">
    <a class="govuk-link datagovuk-link datagovuk-link--secondary" href="<%= gridlist_item_icons[:url] %>"><%= gridlist_item_icons[:title] %></a>
  </h2>
  <p class="govuk-body datagovuk-body"><%= gridlist_item_icons[:body] %></p>
</li>
