<li class="datagovuk-gridlist__item">
  <div>
    <h2 class="govuk-heading-s datagovuk-heading-s">
      <a class="govuk-link datagovuk-link datagovuk-link--secondary" href="<%= gridlist_item[:url] %>"><%= gridlist_item[:title] %></a>
    </h2>
    <p class="govuk-body datagovuk-body"><%= gridlist_item[:body] %></p>
  </div>
</li>
