<header class="datagovuk-hero">
  <h1 class="govuk-heading-xl datagovuk-heading-xl govuk-!-margin-bottom-1">
    <%= title %>
  </h2>
  <p class="govuk-body datagovuk-body">
    <%= body %>
  </p>
</header>
