<li class="datagovuk-section-navigation__item <%= section_navigation_item[:selected] ? "datagovuk-section-navigation__item--selected" : "" %>">
  <a class="govuk-link datagovuk-link datagovuk-section-navigation__link" href="<%= section_navigation_item[:url] %>">
    <%= section_navigation_item[:label] %>
  </a>
</li>
