<nav id="datagovuk-section-navigation" class="datagovuk-section-navigation govuk-!-margin-bottom-8">
  <button type="button" class="datagovuk-section-navigation__button govuk-heading-l datagovuk-heading-l govuk-!-padding-top-0" id="datagovuk-section-navigation-button-all" aria-controls="datagovuk-section-navigation">
    Pages
  </button>
  <ul class="govuk-list datagovuk-section-navigation__items-mobile">
    <%= render partial: "v2/components/section_navigation_item", collection: items %>
  </ul>
  <ul class="govuk-list datagovuk-section-navigation__items-desktop">
    <%= render partial: "v2/components/section_navigation_item", collection: items %>
  </ul>
</nav>
