<%
  data_series = local_assigns[:data_series]
  max_value = local_assigns[:max_value] || 0
  y_title = local_assigns[:y_title]
  empty_description = local_assigns[:empty_description]
  number_base = local_assigns[:number_base]
%>

<section class="govuk-section datagovuk-section">
  <div class="govuk-width-container">
    <h2 class="govuk-heading-s datagovuk-heading-s govuk-!-margin-bottom-2"><%= local_assigns[:title] %></h2>
  </div>

<%# TODO: TOASK: should each data point with the highest value always have precedence on fill, background color? %>

  <div class="govuk-grid-row line-chart">
    <%= line_chart data_series,
    points: true,
    ytitle: y_title,
    dataset: {
      empty: empty_description, # TODO: What should be this message
      tension: 0.5,
      pointRadius: 0,
    },
    library: {
      plugins: { 
        datalabels: {
          display: false
        },
        legend: {
          display: true,
          labels: {
            color: "#5D5D5D",
            font: {
              size: 12,
              family: "Inter, sans-serif",
              weight: "bold"
            },
            usePointStyle: true
          }
        },
      },
      responsive: true,
      layout: {
        padding: {
          top: 20,
          bottom: 20,
          left: 20,
          right: 20
        }
      },
      scales: {
        y: {
          bounds: 'ticks',
          min: 0,
          grid: {
            display: true,
          },
          border: {
            dash: [5, 5],
          },
          ticks: {
            stepSize: (max_value.ceil.to_f * 0.25) / number_base,
            maxTicksLimit: 10,
            autoSkip: false,
          },
        },
        x: {
          bounds: 'ticks',
          border: {
            display: true,
          },
          ticks: {
            source: 'data' # This with bounds: true shows the last data value as the last tick on the x axis
          }
        },
      },
    },
    legend: "bottom"
    %>
  </div>
</section>
