<div class="govuk-width-container datagovuk-collection-header">
    <%= image_tag @collection_image_url, class: "datagovuk-collection-header__image" %>
    <p class="govuk-body datagovuk-body datagovuk-body-uppercase">
        <%= t(".page_name") %>
    </p>
    <h2 class="datagovuk-collection-name govuk-heading-xl datagovuk-heading-xl">
        <%= @collection.gsub("-", " ").humanize %>
    </h2>
    <div class="datagovuk-collection-header__underline"></div>
</div>
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            Side navigation in progress
        </div>
        <div class="govuk-grid-column-two-thirds">
            <%= render template: @view_template, locals: { collections: @collections } %>
        </div>
    </div>
</div>
