<div class="govuk-width-container title_box">
    <div class="dgu-collection-wrapper">
        
        <h2><%= t(".page_name").upcase %></h2>
    </div>
</div>
<div class="govuk-width-container">
    <h1 class="dgu-collection-name govuk-heading-xl dgu-collection-name--short-underline"><%= @collection.gsub("-", " ").humanize %></h1>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <%= render partial: "v2/collection/side_navigation", locals: { collection: @collection, side_navigations: @side_navigations, current_topic: @current_topic } %>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <%= render template: @view_template, locals: { collections: @collections } %>
            </div>
        </div>
    </main>
</div>
