<div class="govuk-width-container title_box">
    <div class="datagovuk-collection-wrapper">
        <img src="/find-assets/abstract_stock_image_1.jpg" alt="abstract artwork image" />
        <h2 class="govuk-heading-m datagovuk-heading-m"><%= t(".page_name").upcase %></h2>
    </div>
</div>
<div class="govuk-width-container">
    <h1 class="datagovuk-collection-name govuk-heading-xl datagovuk-heading-xl"><%= @collection.gsub("-", " ").humanize %></h1>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <%= render partial: "v2/collection/side_navigation", locals: { collection: @collection, side_navigations: @side_navigations, current_topic: @current_topic } %>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <%= render template: @view_template, locals: { collections: @collections } %>
            </div>
        </div>
    </main>
</div>