<div class="grid-row">
  <div class="column-full">
    <div class="breadcrumbs">
      <nav aria-label="Breadcrumb">
        <ol>
          <li><%= link_to t('.home'), root_path %></li>
          <li aria-current="page"><%= yield :page_title %></li>
        </ol>
      </nav>
    </div>
  </div>
</div>
