<div class="grid-row inner">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge dgu-home-spacer__top">How we’ll use your data</h1>
      <p>
        The data.gov.uk team will collect some data on how you’re using the new service, beta.data.gov.uk, to help us improve it.
      </p>
      <p>
        We’ll use Google Analytics to collect data on:
      </p>
      <ul class="list list-bullet">
        <li>the terms you enter into the search box</li>
        <li>the pages you visit</li>
        <li>the links you click on</li>
      </ul>
      <p>
        When you visit beta.data.gov.uk, we’ll put a small file (known as a ‘cookie’) onto your computer to collect the data.
      </p>

  <details>
    <summary><span class="summary">Find out more about how we use cookies</span></summary>
    <div class="panel panel-border-narrow">
      <p>We’ll use the following cookies to collect data on how you use the service:</p>
      <table>
        <tbody>
          <th>Name</th>
          <th>Purpose</th>
          <th>Expires</th>
          <tr>
            <td>_ga</td>
            <td>This helps us count how many people visit beta.data.gov.uk by tracking if you’ve visited before</td>
            <td>2 years</td>
          </tr>
          <tr>
            <td>_gid</td>
            <td>This helps us count how many people visit beta.data.gov.uk by tracking if you’ve visited before</td>
            <td>24 hours</td>
          </tr>
          <tr>
            <td>_gat</td>
            <td>Used to manage the rate at which page view requests are made</td>
            <td>10 minutes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </details>

<p>By signing into beta.data.gov.uk, you’re agreeing to us:</p>

<ul class="list list-bullet">
  <li>collecting this data</li>
  <li>sharing it with government organisations to show how people think about and use our services</li>
  <li>If we do share data with other government organisations, we won’t include your personal details (such as your name or contact details).</li>
</ul>

<p>
  You can contact us if you have any questions about how we’ll use your data.
</p>


      <%= link_to "Sign in to beta.data.gov.uk", confirm_consent_path, class:"button dgu-filters__apply-button" %>
    </div>
  </div>
