<div class="grid-row inner">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge dgu-home-spacer__top">Consent</h1>
      <p class="dgu-home-spacer__bottom">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod autem ratione actum est, id officium appellamus. Sed ad bona praeterita redeamus. Ad eos igitur converte te, quaeso. Ne in odium veniam, si amicum destitero tueri. Eam stabilem appellas. Hoc est non modo cor non habere, sed ne palatum quidem. Duo Reges: constructio interrete. Nihil opus est exemplis hoc facere longius. Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus;
      </p>
      <%= link_to "I consent", confirm_consent_path, class: 'button' %>
    </div>
  </div>
