<div class="dgu-main-search">
  <div class="grid-row inner">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        <%= t('.find_gov_data') %>
      </h1>
      <p class="lede">
        <%= t('.lede') %>
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/search" method="GET" class="dgu-search-box">
        <label for="q" class="visuallyhidden"><%= t('.search_box_label') %></label>
        <input id="q"
               name="q"
               type="text"
               class="form-control dgu-search-box__input"
        /><button type="submit"
                  class="dgu-search-box__button">
                  <%= t('.search_box_button') %>
          </button>
      </form>
    </div>
  </div>
</div>
