<div class="masthead">
  <div class="grid-row inner">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Welcome to Find UK government data
      </h1>
      <p class="lede">
        Find data published by central government, local authorities, and public bodies to help you build products and services.
      </p>
    </div>
  </div>
</div>

<form id="search-form" action="/search-results" method="GET" class="column-two-thirds">
  <fieldset>
    <div id="search-box">
      <input id="q" name="q" type="text" placeholder="" class="form-control search" autocomplete="off"/><button type="submit" class="search-submit">Find data</button>
    </div>
  </fieldset>
</form>
