<div class="dgu-split-background">
  <%= render partial: 'layouts/beta_message' if flash[:beta_message] == 'show'%>
  <main role="main" tabindex="-1" id="content">
    <%= render 'search' %>
    <%= render 'topics' %>
  </main>
</div>
