<div class="grid-row inner">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge dgu-home-spacer__top">
      Welcome to Find government data
    </h1>
    <p class="lede dgu-home-spacer__bottom">
      Find data published by central government, local authorities and public bodies to help you build products and services
    </p>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <form action="/search" method="GET" class="dgu-search-box">
      <label for="q" class="visuallyhidden">Search</label>
      <input id="q" name="q" type="text" class="form-control dgu-search-box__input"/><button type="submit" class="dgu-search-box__button">Find data</button>
    </form>
  </div>
</div>
