
<h1 class="govuk-heading-l datagovuk-heading-l">Agricultural commodity prices</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Get the latest prices for a range of agricultural commodities, including cereals, livestock, milk, eggs, animal feed, bananas, fruit and vegetables. This data is provided by the Department for Environment, Food and Rural Affairs. The datasets are updated on a weekly or monthly basis. There are also separate collections for agricultural price indices, and the prices for egg packers, farm-gate milk and cattle compensation.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/collections/commodity-prices">Agricultural commodity prices <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

