
<h1 class="govuk-heading-l datagovuk-heading-l">Bank of England interest rates</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">See how the Bank of England’s Bank Rate has changed over time, from 1975 to the present day. The Bank Rate affects other interest rates in the economy and is used as a tool to keep inflation stable. You can copy or print this data, or download it in CSV or XLSX format.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.bankofengland.co.uk/boeapps/database/Bank-Rate.asp">Bank Rate history <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

