
<h1 class="govuk-heading-l datagovuk-heading-l">Electricity</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Data on the UK’s electricity sector covering generation, fuel use, supply, consumption and power station capacity. The statistics examine trends in the UK’s electricity sector with monthly, quarterly and annual views. You can also access a historical electricity dataset covering 1920 to 2024.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/collections/electricity-statistics">
            Electricity statistics <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

