
<h1 class="govuk-heading-l datagovuk-heading-l">Energy prices</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Quarterly energy prices for every year since 2015. The data covers energy prices for domestic and industrial consumers, for all the major fuels. Road fuel and petrol prices are also covered, along with comparisons of fuel prices in the European Union and G7 countries. Alongside the statistical bulletins, the Department for Energy Security and Net Zero publishes this data in monthly, quarterly and annual tables.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/collections/quarterly-energy-prices">
            Energy prices <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

