<h2 class="govuk-heading-l">Food hygiene ratings</h2>
<p class="govuk-body"><p class="govuk-body-m">Find a food business’s hygiene rating by searching on the business name or address. Businesses include restaurants, pubs, cafés, takeaways, hotels and other places consumers eat, as well as supermarkets and other food shops. The data provides the food hygiene rating or inspection result given to a business after an inspection by the local authority. The data is also available via API in XML and JSON formats – a free service with no need to register.</p></p>

<section class="dgu-link dgu-section" aria-label="Get the data links">
    <h2 class="govuk-heading-l">Get the data</h2>
    <p><a role="button" class="govuk-button" rel="nofollow" href="https://ratings.food.gov.uk/">More information</a></p>
    <ul class="dgu__list">
            <li class="dgu__item dgu__item--active">
                <a href="https://api.ratings.food.gov.uk/Help" aria-current="location">API</a>
            </li>
        <li class="dgu__item dgu__item--active">
            <a href="#1" aria-current="location">Datasets</a>
        </li>
    </ul>
        <h2 class="govuk-heading-s">The page was last updated 2026-01-23</h2>
    <a href="#1" aria-current="location">Give feedback</a>
</section>