
<h1 class="govuk-heading-l datagovuk-heading-l">Food hygiene ratings</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Find a food business’s hygiene rating by searching on the business name or address. Businesses include restaurants, pubs, cafés, takeaways, hotels and other places where consumers eat, as well as supermarkets and other food shops. Results include the date of inspection by the local authority and the food hygiene rating or inspection result that was given. The data is also available via API in XML and JSON formats - a free service with no need to register.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://ratings.food.gov.uk/">
            Food hygiene ratings <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://api.ratings.food.gov.uk/Help">API documentation</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

