<h1 class="govuk-heading-l datagovuk-heading-l">Food hygiene ratings</h1>

<p class="govuk-body-m datagovuk-body">Find a food business’s hygiene rating by searching on the business name or address. Businesses include restaurants, pubs, cafés, takeaways, hotels and other places consumers eat, as well as supermarkets and other food shops. The data provides the food hygiene rating or inspection result given to a business after an inspection by the local authority. The data is also available via API in XML and JSON formats – a free service with no need to register.</p>



<div class="govuk-inset-text datagovuk-feedback-inset-text">
    <p class="govuk-body datagovuk-body">
        Is this data/dataset useful? <a href="#feedback" class="govuk-link datagovuk-link">Give us feedback</a>
    </p>
</div>

<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>

        <ul class="govuk-list datagovuk-list">
                <li>
                    <a class="govuk-link datagovuk-link" href="https://ratings.food.gov.uk/open-data">Dataset</a>
                </li>
        </ul>
        <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://ratings.food.gov.uk/">
            More information <span class='datagovuk-right-arrow'>&#8594;</span>
</a>        <ul class="govuk-list datagovuk-list">
                <li>
                    <a class="govuk-link datagovuk-link"href="https://api.ratings.food.gov.uk/Help">API documentation</a>
                </li>
        </ul>
    </section>

    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body">The page was last updated 2026-01-23</p>
    </section>
</section>