
<h1 class="govuk-heading-l datagovuk-heading-l">Fuel and oil prices</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Monthly and annual prices of road fuels and fuels used for home heating, plus an index of crude oil prices. View the data online or download the spreadsheet. This dataset is owned by the Department for Energy Security and Net Zero.</p>
</section>

    <section class="govuk-section datagovuk-section">
      
<section class="govuk-section datagovuk-section">
  <h2 class="govuk-heading-m datagovuk-heading-m">Fuel price in pence per litre</h2>

  <div class="govuk-grid-row line-chart">
    <div id="chart-1" style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div>
<script nonce="1RFfvHm1rfaDgeur+hhtxBMApG4oVWWiCvdH6nwdQt8=">
  (function() {
    if (document.documentElement.hasAttribute("data-turbolinks-preview")) return;
    if (document.documentElement.hasAttribute("data-turbo-preview")) return;

    var createChart = function() { new Chartkick["LineChart"]("chart-1", [{"name":"Motor spirit: Premium unleaded / ULSP (Pence per litre)","title":"Fuel price in pence per litre","color":"#C27A9A","data":{"1977":0.0,"1978":0.0,"1979":0.0,"1980":0.0,"1981":0.0,"1982":0.0,"1983":0.0,"1984":0.0,"1985":0.0,"1986":0.0,"1987":0.0,"1988":0.0,"1989":38.29,"1990":42.03,"1991":45.07,"1992":46.07,"1993":49.44,"1994":51.58,"1995":53.77,"1996":56.52,"1997":61.82,"1998":64.8,"1999":70.16,"2000":79.93,"2001":75.72,"2002":73.24,"2003":76.04,"2004":80.22,"2005":86.75,"2006":91.32,"2007":94.24,"2008":107.08,"2009":99.29,"2010":116.9,"2011":133.27,"2012":135.39,"2013":134.15,"2014":127.5,"2015":111.13,"2016":108.85,"2017":117.59,"2018":125.2,"2019":124.88,"2020":113.95,"2021":131.27,"2022":164.73,"2023":147.75,"2024":141.48,"2025":135.07},"dataset":{"pointRadius":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4],"pointStyle":["rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot"]}},{"name":"Derv: Diesel / ULSD (Pence per litre)","title":"Fuel price in pence per litre","color":"#00890B","data":{"1977":18.21,"1978":18.46,"1979":23.65,"1980":29.67,"1981":34.01,"1982":35.86,"1983":37.3,"1984":38.33,"1985":41.94,"1986":35.6,"1987":34.58,"1988":34.0,"1989":36.18,"1990":40.48,"1991":43.82,"1992":45.01,"1993":49.2,"1994":51.53,"1995":54.24,"1996":57.71,"1997":62.47,"1998":65.5,"1999":72.49,"2000":81.34,"2001":77.84,"2002":75.46,"2003":77.92,"2004":81.91,"2005":90.86,"2006":95.21,"2007":96.85,"2008":117.51,"2009":103.93,"2010":119.26,"2011":138.72,"2012":141.83,"2013":140.41,"2014":133.46,"2015":114.9,"2016":110.13,"2017":120.15,"2018":129.98,"2019":131.48,"2020":119.14,"2021":134.94,"2022":177.66,"2023":158.19,"2024":148.33,"2025":142.55},"dataset":{"pointRadius":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4],"pointStyle":["rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect"]}}], {"points":true,"dataset":{"empty":"No data available","tension":0.5,"pointRadius":0,"pointHoverRadius":10},"library":{"plugins":{"datalabels":{"display":false},"legend":{"display":true,"labels":{"color":"#5D5D5D","font":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"padding":30,"usePointStyle":true}},"tooltip":{"bodyFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"titleFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"}}},"responsive":true,"layout":{"padding":{"top":20,"bottom":20,"left":20,"right":20}},"scales":{"y":{"min":0,"grid":{"display":true},"border":{"dash":[5,5]},"ticks":{"stepSize":45,"maxTicksLimit":10,"autoSkip":false,"font":{"size":20}}},"x":{"border":{"display":true},"ticks":{"font":{"size":20}}}}},"legend":"bottom"}); };
    if ("Chartkick" in window) {
      createChart();
    } else {
      window.addEventListener("chartkick:load", createChart, true);
    }
  })();
</script>

  </div>
  <p class="govuk-body datagovuk-body"><a href="https://assets.publishing.service.gov.uk/media/6978dcbad6ab92f1d3a4d6d5/table_411_413__5_.xlsx" class="govuk-link datagovuk-link">Download the chart data</a></p>
</section>

    </section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/statistical-data-sets/oil-and-petroleum-products-monthly-statistics">
            Fuel and oil prices <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

