<h1 class="govuk-heading-l datagovuk-heading-l">Get charity information</h1>

<p class="govuk-body-m datagovuk-body">Find information about registered charities in England and Wales. Search the Charity Commission register by charity name, charity number, area, activities and classifications. Results include details of the charity’s income and expenditure, how it spends its money, the number of employees, trustees and volunteers, and a breakdown of employees with total benefits over £60,000. You can download a dataset of the entire register, view lists of the top 10 charities in different categories, and view a graphical representation of data about the charity sector data. You can also retrieve information via API – the data returned is live and in real-time.</p>


<section class="govuk-section datagovuk-section">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-s datagovuk-heading-s govuk-!-margin-bottom-2"><%= title %></h2>
        </div>
      </div>
    </main>
  </div>


  <div class="govuk-grid-row">
<%= line_chart [{
    name: "Charity Information",
    data: {
    "Jan": 42,
    "Feb": 38,
    "Mar": 45,
    "Apr": 55,
    "May": 51,
    "Jun": 42,
    "Jul": 48,
    "Aug": 41,
    "Sep": 45,
    "Oct": 49,
    "Nov": 58,
    "Dec": 47
}, dataset: {
    pointRadius: [0,0,0,0,0,0,0,0,0,0,0,5],
    pointStyle: "rect",
    pointHoverRadius: 7,
    datalabels: {
        anchor: 'end',
        align: 'top',
        color: '#000',
        font: {
            size: 10
        },
    }
}
}],
colors: ["#C27A9A"],
curve: true,
legend: "bottom",
suffix: "%",
min: 10,
max: 70,
ytitle: "Percentage",
library: {
    elements: {
        point: {
            radius: 0,
        }
    },
    scales: {
        y: {
            ticks: {
                stepSize: 10,
                maxTicksLimit: 7,
                font: {
                    size: 16
                }
            }
        },
        x: {
            ticks: {
                font: {
                    size: 16
                }
            }
        }
    },
    plugins: {
        datalabels: {
            display: false
        },
      legend: {
        labels: {
          font: { size: 20 }
        }
      }
    }
}
%>
  </div>
</section>





<br />
<br />

<%= bar_chart({
        "Charities with income under £10,000": 25,
        "Charities with income between £10,000 and £100,000": 40,
        "Charities with income between £100,000 and £1 million": 20,
        "Charities with income over £1 million": 15
    },
    colors: ["#000000"],
    xtitle: "Income Bracket",
    dataset: {
        datalabels: {
            anchor: 'end',
            align: 'right',
            color: '#000',
            font: {
                size: 10
            },
        },
    },
    library: {
        scales: {
            x: {
                grace: '15%', # Prevents data labels from overflowing and not being seen
            }
        }
    }
)
%>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data/dataset useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://register-of-charities.charitycommission.gov.uk/en/charity-search">
            Get charity information <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://register-of-charities.charitycommission.gov.uk/en/documentation-on-the-api">API documentation</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

