<h2 class="govuk-heading-l datagovuk-heading-l">Get charity information</h2>
<p class="govuk-body-m datagovuk-body">Find information about registered charities in England and Wales. Search the Charity Commission register by charity name, charity number, area, activities and classifications. </p>
<p class="govuk-body-m datagovuk-body">Results include details of the charity’s income and expenditure, how it spends its money, the number of employees, trustees and volunteers, and a breakdown of employees with total benefits over £60,000. You can download a dataset of the entire register, view lists of the top 10 charities in different categories, and view a graphical representation of data about the charity sector data. You can also retrieve information via API – the data returned is live and in real-time.</p>




<div class="govuk-inset-text datagovuk-feedback">
    Is this data/dataset useful? <a href="#" class="govuk-link datagovuk-link">Give us feedback here.</a>
</div>

<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>

    <section class="datagovuk-section">
        <a role="button" class="govuk-button datagovuk-more-info-btn" rel="nofollow" href="https://register-of-charities.charitycommission.gov.uk/en/charity-search">
            More information <span class='datagovuk-right-arrow'>&#8594;</span>
</a>        <ul class="datagovuk__list">
                <li class="datagovuk__item datagovuk__item--active">
                    <a href="https://register-of-charities.charitycommission.gov.uk/en/documentation-on-the-api" aria-current="location">API documentation</a>
                </li>
            <li class="datagovuk__item datagovuk__item--active">
                <a href="#1" aria-current="location">Download the datasets</a>
            </li>
        </ul>
    </section>

    <section class="datagovuk-section">
            <p>The page was last updated 2026-01-30</p>
    </section>
</section>