<h1 class="govuk-heading-l datagovuk-heading-l">Get company information</h1>

<p class="govuk-body-m datagovuk-body">Search the Companies House register of UK companies by company name, company number or officer name – or do an advanced search on other characteristics. Results include the company’s address, type and status, date of incorporation, accounting period, nature of business and previous names. You can also view the filing history, any registered charges and the company’s past and present registered officers.</p>


<%= line_chart({ "2026-01-01" => 2, "2026-01-02" => 5, "2026-01-03" => 3 },
    colors: ["#C27A9A"],
  library: {
    title: { text: "Line Chart Example", fontSize: 18 },
    hAxis: { title: "Date" },
    vAxis: { title: "Value" },
    legend: { position: "none" },
    lineWidth: 2,
    backgroundColor: "#ffffff",
    chartArea: { left: 50, top: 50, width: "80%", height: "70%" },
    animation: { duration: 1000, easing: "out", startup: true },
    pointRadius: 0,
  })
%>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data/dataset useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://find-and-update.company-information.service.gov.uk/">
            Get company information <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://developer.company-information.service.gov.uk/">API documentation</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

