<h2 class="govuk-heading-l datagovuk-heading-l">Get company information</h2>
<p class="govuk-body-m datagovuk-body">Search the Companies House register of UK companies by company name, company number or officer name. Results include the company’s address, type and status, date of incorporation, accounting period, nature of business and previous names. You can also view the filing history, any registered charges and the company’s past and present registered officers.</p>




<div class="govuk-inset-text datagovuk-feedback-inset-text">
    Is this data/dataset useful? <a href="#" class="govuk-link datagovuk-link">Give us feedback here.</a>
</div>

<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>

    <section class="datagovuk-section">
        <a role="button" class="govuk-button datagovuk-more-info-btn" rel="nofollow" href="https://find-and-update.company-information.service.gov.uk/">
            More information <span class='datagovuk-right-arrow'>&#8594;</span>
</a>        <ul class="datagovuk__list">
                <li class="datagovuk__item datagovuk__item--active">
                    <a href="https://developer.company-information.service.gov.uk/" aria-current="location">API documentation</a>
                </li>
            <li class="datagovuk__item datagovuk__item--active">
                <a href="#1" aria-current="location">Download the datasets</a>
            </li>
        </ul>
    </section>

    <section class="datagovuk-section">
            <p>The page was last updated 2026-01-22</p>
    </section>
</section>