
<h1 class="govuk-heading-l datagovuk-heading-l">Get company information</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Search the Companies House register of UK companies by company name, company number or officer name – or do an advanced search on other characteristics. Results include the company’s address, type and status, date of incorporation, accounting period, nature of business and previous names. You can also view the filing history, any registered charges and the company’s past and present registered officers.</p>
</section>

  <section class="datagovuk-headline govuk-section datagovuk-section govuk-!-margin-top-8">
  <h2 class="govuk-body datagovuk-body govuk-!-margin-bottom-2">
    Companies incorporated and dissolved (2024-25)
  </h2>
  <div class="datagovuk-headline__columns govuk-!-margin-bottom-2">
      

<div class="datagovuk-headline__column">
    <h3 class="govuk-heading-m datagovuk-heading-m">
        Company formations
    </h3>
    <p class="govuk-body datagovuk-body datagovuk-!-colour-grey">
        New companies incorporated 2024/2025
    </p>
    <div class="datagovuk-headline__number">
        801,864
    </div>

    <div class="datagovuk-headline__change datagovuk-headline__trenddown">
        <span class="datagovuk-headline__arrow" aria-hidden="true">
                <img src="/find-assets/v2/down_arrow-a52ea6d7a1233d57b7f8908c7873e3ac9638d54cdf5fbf076a8a687cf632936e.svg" />
        </span>
            <span class="datagovuk-headline__change-value govuk-body datagovuk-body">
                -88820
            </span>
        <span class="datagovuk-headline__change-value-percent govuk-body datagovuk-body">
                (9.7%) 
        </span>
    </div>

    <p class="govuk-body datagovuk-body">
        In 2024/2025 compared to 2023/2024.
    </p>

</div>
      

<div class="datagovuk-headline__column">
    <h3 class="govuk-heading-m datagovuk-heading-m">
        Company dissolutions
    </h3>
    <p class="govuk-body datagovuk-body datagovuk-!-colour-grey">
        Companies removed from the register 2024/2025
    </p>
    <div class="datagovuk-headline__number">
        726,735
    </div>

    <div class="datagovuk-headline__change datagovuk-headline__trendup">
        <span class="datagovuk-headline__arrow" aria-hidden="true">
                <img src="/find-assets/v2/up_arrow-054d77c044a73999bf6500fc68fbc31cff53ac5f3d6890c50399505d3b0b7cf6.svg" />
        </span>
            <span class="datagovuk-headline__change-value govuk-body datagovuk-body">
                +63568
            </span>
        <span class="datagovuk-headline__change-value-percent govuk-body datagovuk-body">
                (9.6%) 
        </span>
    </div>

    <p class="govuk-body datagovuk-body">
        In 2024/2025 compared to 2023/2024.
    </p>

</div>
  </div>
  <p class="govuk-body datagovuk-body"><a href="https://www.gov.uk/government/statistics/companies-register-activities-statistical-release-april-2024-to-march-2025" class="govuk-link datagovuk-link">Download the chart</a></p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://find-and-update.company-information.service.gov.uk/">
            Get company information <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://developer.company-information.service.gov.uk/">API documentation</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

