
<h1 class="govuk-heading-l datagovuk-heading-l">Inflation</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">A range of data about inflation and price indices. Inflation refers to the rate at which the general level of prices for goods and services rises, while a price index measures the average change in prices over time. The rate of inflation is the change in prices for goods and services over time. Measures of inflation and prices include consumer price inflation, producer price inflation and the House Price Index. This data is owned by the Office for National Statistics.</p>
</section>

    <section class="govuk-section datagovuk-section">
      
<section class="govuk-section datagovuk-section">
  <h2 class="govuk-heading-m datagovuk-heading-m">Rate of inflation (%)</h2>

  <div class="govuk-grid-row line-chart">
    <div id="chart-1" style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div>
<script nonce="tiYCMnx38qo6eiLDp8dR7dzY+OEo0r/XLgzZOL89osY=">
  (function() {
    if (document.documentElement.hasAttribute("data-turbolinks-preview")) return;
    if (document.documentElement.hasAttribute("data-turbo-preview")) return;

    var createChart = function() { new Chartkick["LineChart"]("chart-1", [{"name":"Inflation","color":"#000000","data":{"1989":5.7,"1990":8.0,"1991":7.5,"1992":4.6,"1993":2.6,"1994":2.2,"1995":2.7,"1996":2.9,"1997":2.2,"1998":1.8,"1999":1.7,"2000":1.2,"2001":1.6,"2002":1.5,"2003":1.4,"2004":1.4,"2005":2.1,"2006":2.5,"2007":2.4,"2008":3.5,"2009":2.0,"2010":2.5,"2011":3.8,"2012":2.6,"2013":2.3,"2014":1.5,"2015":0.4,"2016":1.0,"2017":2.6,"2018":2.3,"2019":1.7,"2020":1.0,"2021":2.5,"2022":7.9,"2023":6.8,"2024":3.3,"2025":3.9},"dataset":{"pointRadius":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4],"pointStyle":["rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot"]}}], {"points":true,"dataset":{"empty":"No data available","tension":0.5,"pointRadius":0,"pointHoverRadius":10},"library":{"plugins":{"datalabels":{"display":false},"legend":{"display":true,"labels":{"color":"#5D5D5D","font":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"padding":30,"usePointStyle":true}},"tooltip":{"bodyFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"titleFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"}}},"responsive":true,"layout":{"padding":{"top":20,"bottom":20,"left":20,"right":20}},"scales":{"y":{"min":0,"grid":{"display":true},"border":{"dash":[5,5]},"ticks":{"stepSize":2,"maxTicksLimit":10,"autoSkip":false,"font":{"size":20}}},"x":{"border":{"display":true},"ticks":{"font":{"size":20}}}}},"legend":"bottom"}); };
    if ("Chartkick" in window) {
      createChart();
    } else {
      window.addEventListener("chartkick:load", createChart, true);
    }
  })();
</script>

  </div>
  <p class="govuk-body datagovuk-body"><a href="https://www.ons.gov.uk/economy/inflationandpriceindices/timeseries/l55o/mm23" class="govuk-link datagovuk-link">Download the chart</a></p>
</section>

    </section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.ons.gov.uk/economy/inflationandpriceindices">
            Inflation and price indices <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

