<h2 class="govuk-heading-l datagovuk-heading-l">Inflation</h2>
<p class="govuk-body-m datagovuk-body">A range of data about inflation and price indices. Inflation refers to the rate at which the general level of prices for goods and services rises, while a price index measures the average change in prices over time. The rate of inflation is the change in prices for goods and services over time. Measures of inflation and prices include consumer price inflation, producer price inflation and the House Price Index. This data is owned by the Office for National Statistics. </p>




<div class="govuk-inset-text datagovuk-feedback-inset-text">
    Is this data/dataset useful? <a href="#" class="govuk-link datagovuk-link">Give us feedback here.</a>
</div>

<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>

    <section class="datagovuk-section">
        <a role="button" class="govuk-button datagovuk-more-info-btn" rel="nofollow" href="https://www.ons.gov.uk/economy/inflationandpriceindices">
            More information <span class='datagovuk-right-arrow'>&#8594;</span>
</a>        <ul class="datagovuk__list">
            <li class="datagovuk__item datagovuk__item--active">
                <a href="#1" aria-current="location">Download the datasets</a>
            </li>
        </ul>
    </section>

    <section class="datagovuk-section">
    </section>
</section>