<h1 class="govuk-heading-l datagovuk-heading-l">Trade tariffs</h1>

<p class="govuk-body-m datagovuk-body">Use this service to find a commodity code for goods you’re importing to or exporting from the UK. You can also check if there’s duty or VAT to pay, and find out about suspensions or reductions. Start by searching on the name of the good, a commodity code (if you have one) or by the date you’re planning to trade goods. </p>
<p class="govuk-body-m datagovuk-body">On the page about the commodity, you can find:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>import and export measures, conditions and exemptions</li>
<li>reduced or zero duty rates based on preferential rules of origin</li>
<li>chapter notes and references</li>
<li>a filter to select any country and view specific UK measures, such as preferential rules of origin for trading with that country</li>

</ul>



<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data/dataset useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/trade-tariff">
            Trade tariffs <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://api.trade-tariff.service.gov.uk">Trade tariff API</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

