
<h1 class="govuk-heading-l datagovuk-heading-l">UK trade</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Explore statistics that set out the UK’s economic relationship with other countries and illustrate the UK’s bilateral trade on top exports and imports for goods and services. In addition, the UK trade summary statistics depict foreign direct investment (FDI), regional trade statistics, and the UK’s position in global trade and investment rankings. You can download more detailed data in ODS format. The data is provided by the Department for Business and Trade.</p>
</section>

  <section class="datagovuk-headline govuk-section datagovuk-section govuk-!-margin-top-8">
      
<h2 class="govuk-heading-m datagovuk-heading-m">Total UK exports and imports in goods and services 2010 to 2025</h2>

<div class="govuk-grid-row line-chart">
  <div id="chart-1" style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div>
<script nonce="GG3d5Pbx2/vcF8EBf54fSg3OpYSq4PRgF0xte3lV5i0=">
  (function() {
    if (document.documentElement.hasAttribute("data-turbolinks-preview")) return;
    if (document.documentElement.hasAttribute("data-turbo-preview")) return;

    var createChart = function() { new Chartkick["LineChart"]("chart-1", [{"name":"Value of exports in £ millions","color":"#C27A9A","data":{"2010":"464495","2011":"522107","2012":"525113","2013":"540436","2014":"534994","2015":"537513","2016":"582613","2017":"649590","2018":"691740","2019":"718759","2020":"636325","2021":"680291","2022":"879121","2023":"878278","2024":"897916","2025":"925541"},"dataset":{"pointRadius":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4],"pointStyle":["rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot"]}},{"name":"Value of imports in £ millions","color":"#00890B","data":{"2010":"489677","2011":"535370","2012":"541810","2013":"563771","2014":"567939","2015":"563867","2016":"617023","2017":"675643","2018":"717814","2019":"745746","2020":"620657","2021":"679352","2022":"906868","2023":"910419","2024":"919505","2025":"971472"},"dataset":{"pointRadius":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4],"pointStyle":["rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect"]}}], {"suffix":null,"points":true,"dataset":{"empty":"No data available","tension":0.5,"pointRadius":0,"pointHoverRadius":10},"library":{"plugins":{"datalabels":{"display":false},"legend":{"display":true,"labels":{"color":"#5D5D5D","font":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"padding":30,"usePointStyle":true}},"tooltip":{"bodyFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"titleFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"}}},"responsive":true,"layout":{"padding":{"top":20,"bottom":20,"left":20,"right":20}},"scales":{"y":{"min":0,"grid":{"display":true},"border":{"dash":[5,5]},"ticks":{"stepSize":0,"maxTicksLimit":10,"autoSkip":false,"font":{"size":20}}},"x":{"border":{"display":true},"ticks":{"font":{"size":20}}}}},"legend":"bottom"}); };
    if ("Chartkick" in window) {
      createChart();
    } else {
      window.addEventListener("chartkick:load", createChart, true);
    }
  })();
</script>

</div>


      <p class="govuk-body datagovuk-body govuk-!-margin-top-4">
        <a href="/collections/business-and-economy/uk-trade/charts/uk-trade/total-uk-imports-exports" class="govuk-link datagovuk-link">Download the chart data</a>
      </p>
  </section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/statistics/uk-trade-in-numbers/uk-trade-in-numbers-web-version">UK trade statistics <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

