
<h1 class="govuk-heading-l datagovuk-heading-l">UK trade</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">These statistics set out the UK’s economic relationship with other countries and illustrate the UK’s bilateral trade on top exports and imports for goods and services. In addition, the UK trade summary statistics depict foreign direct investment (FDI), regional trade statistics, and the UK’s position in global trade and investment rankings.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/statistics/uk-trade-in-numbers/uk-trade-in-numbers-web-version">
            UK trade statistics <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

