<section class="govuk-section datagovuk-section">
  <h2 class="govuk-heading-m datagovuk-heading-m"><%= local_assigns[:title] %></h2>
  <div class="govuk-grid-row bar-chart">
    <%= bar_chart local_assigns[:bar_chart]["data"], 
    colors: ["#C27A9A"],
    height: "600px",
    aspectRatio: 2,
    library: {
      indexAxis: 'y',
      responsive: true,
      maintainAspectRatio: false,
      layout: {
        padding: {
          left: 20,
          right: 20,
          top: 20,
          bottom: 20
        }
      },
      plugins: {
        datalabels: {
          display: true,
          anchor: 'end',
          align: 'right',
          offset: 3,
          clip: false,
          color: '#5D5D5D',
          font: {
            family: "Inter, sans-serif",
            size: 15,
            weight: 'bold'
          }
        },
        legend: {
          display: false,
        },
        tooltip: {
          bodyFont: { size: 15, family: "Inter, sans-serif", weight: "bold" },
          titleFont: { size: 15, family: "Inter, sans-serif", weight: "bold" }
        }
      },
      scales: {
        x: {
          grid: { 
            display: true
          },
          border: {
                dash: [5, 5],
          },
          ticks: { 
            font: { 
              size: 15,
              family: "Inter, sans-serif"
            }
          },
        },
        y: {
          ticks: {
            font: { size: 15, family: "Inter, sans-serif" } 
          },
        }
      }
    },
    dataset: {
      hoverBackgroundColor: "#C27A9A",
      backgroundColor: "#C27A9A",
      hoverBorderColor: "#C27A9A",
      borderWidth: 0
    }
    %>
  </div>
  <p class="govuk-body datagovuk-body"><a href="<%= local_assigns[:bar_chart]["source"] || '#' %>" class="govuk-link datagovuk-link">Download the chart data</a></p>
</section>