<p class="govuk-body datagovuk-body">
    <a href="<%= local_assigns[:collection_topic_path] %>/charts/<%= local_assigns[:file_name] %>" class="govuk-link datagovuk-link">Download the chart data</a>
</p>
