<%
  data_series = local_assigns[:data_series]
  max_value = local_assigns[:max_value] || 0
  empty_description = local_assigns[:empty_description]
  number_base = local_assigns[:number_base] || 1
  source = local_assigns[:source] || "#"
  suffix = local_assigns[:suffix]
  min = local_assigns[:min] || 0
%>

<section class="govuk-section datagovuk-section">
  <h2 class="govuk-heading-m datagovuk-heading-m"><%= local_assigns[:title] %></h2>

  <div class="govuk-grid-row line-chart">
    <%= line_chart data_series, suffix: suffix,
    points: true,
    dataset: {
      empty: empty_description,
      tension: 0.5,
      pointRadius: 0,
      pointHoverRadius: 10
    },
    library: {
      plugins: { 
        datalabels: {
          display: false
        },
        legend: {
          display: true,
          labels: {
            color: "#5D5D5D",
            font: {
              size: 15,
              family: "Inter, sans-serif",
              weight: "bold"
            },
            padding: 30,
            usePointStyle: true
          }
        },
        tooltip: {
          bodyFont: {
            size: 15,
            family: "Inter, sans-serif",
            weight: "bold"
          },
          titleFont: {
            size: 15,
            family: "Inter, sans-serif",
            weight: "bold"
          }
        }
      },
      responsive: true,
      layout: {
        padding: {
          top: 20,
          bottom: 20,
          left: 20,
          right: 20
        }
      },
      scales: {
        y: {
          min: min,
          grid: {
            display: true,
          },
          border: {
            dash: [5, 5],
          },
          ticks: {
            stepSize: ((max_value.ceil.to_f * 0.25) / number_base).ceil,
            maxTicksLimit: 10,
            autoSkip: false,
            font: {
              size: 20
            }
          },
        },
        x: {
          border: {
            display: true,
          },
          ticks: {
            font: {
              size: 20
            }
          }
        },
      },
    },
    legend: "bottom"
    %>
  </div>
  <p class="govuk-body datagovuk-body"><a href="<%= source %>" class="govuk-link datagovuk-link">Download the chart data</a></p>
</section>
