
<h1 class="govuk-heading-l datagovuk-heading-l">Contracts finder</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">The GOV.UK Contracts Finder allows you to search for contracts published by central government departments, local authorities and other government agencies. You can use it to find public sector procurement opportunities or contracts already awarded. Search on the contract title, description, buyer or other keywords, or by location or procurement stage. You can filter results by additional factors such as date range, contract value or industry code. The platform is free to use and does not require an account to search, but creating an account allows you to receive email updates and save searches.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.contractsfinder.service.gov.uk/Search">
            Contracts finder <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

