
<h1 class="govuk-heading-l datagovuk-heading-l">Council tax statistics</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Explore a collection of annual Council Tax statistics for England provided by the Ministry of Housing, Communities and Local Government. The data includes Council Tax levels set by English local authorities (since 2011-12), collection rates for Council Tax and non-domestic rates (since 2009-10), and Council Tax statistics for town and parish councils in England (since 2010-11).</p>
<p class="govuk-body-m datagovuk-body">For each year, you can download the statistics in a combination of PDF, ODS and XLS formats. There are also datasets for Band D Council Tax figures and average Council Tax per dwelling – each going back to 1993.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/collections/council-tax-statistics">Council Tax statistics <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body">The page was last updated 24/3/2026</p>
    </section>
</section>

