
<h1 class="govuk-heading-l datagovuk-heading-l">Council tax statistics</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Get statistics on:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>Council Tax rates levels set by English local authorities since 2011</li>
<li>Council Tax and national non-domestic rates collection rates since 2009</li>
<li>Council Tax precepts for town and parish councils in England since 2010 </li>

</ul>
<p class="govuk-body-m datagovuk-body">You can also view and download live tables providing:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>Band D Council Tax figures</li>
<li>average Council Tax per dwelling</li>
<li>Council Tax statistics for parish and town councils</li>

</ul>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/collections/council-tax-statistics">
            Council tax statistics <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

