<h2 class="govuk-heading-l">Election results</h2>
<p class="govuk-body"><p class="govuk-body-m">Get UK Parliament election results for every general election since 2010 and every by-election since the 2015 general election. Results include the number of constituencies contested and won, and the number of votes and vote share, for every party that stood a candidate in each election. </p>
<p class="govuk-body-m">There are also dedicated tables for members, parties and constituencies. These allow you to view the candidacies of former and current MPs, compare each party&rsquo;s historical performance at general elections and by-elections, and view any constituency’s results at each election.</p></p>

<section class="dgu-link dgu-section" aria-label="Get the data links">
    <h2 class="govuk-heading-l">Get the data</h2>
    <p><a role="button" class="govuk-button" rel="nofollow" href="https://electionresults.parliament.uk/">More information</a></p>
    <ul class="dgu__list">
        <li class="dgu__item dgu__item--active">
            <a href="#1" aria-current="location">Datasets</a>
        </li>
    </ul>
        <h2 class="govuk-heading-s">The page was last updated 2026-01-23</h2>
    <a href="#1" aria-current="location">Give feedback</a>
</section>