<h1 class="govuk-heading-l datagovuk-heading-l">Election results</h1>

<p class="govuk-body-m datagovuk-body">Get UK Parliament election results for every general election since 2010 and every by-election since the 2015 general election. Results include the number of constituencies contested and won, and the number of votes and vote share, for every party that stood a candidate in each election. </p>
<p class="govuk-body-m datagovuk-body">There are also dedicated tables for members, parties and constituencies. These allow you to view the candidacies of former and current MPs, compare each party&rsquo;s historical performance at general elections and by-elections, and view any constituency’s results at each election.</p>



<div class="govuk-inset-text datagovuk-feedback-inset-text">
    Is this data/dataset useful? <a href="#" class="govuk-link datagovuk-link">Give us feedback here.</a>
</div>

<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>

    <section class="datagovuk-section">
        <ul class="datagovuk__list">
                    <li class="datagovuk__item datagovuk__item--active">
                        <a class="govuk-link datagovuk-link" href="https://electionresults.parliament.uk/elections">Dataset</a>
                    </li>
        </ul>
        <a role="button" class="govuk-button datagovuk-more-info-btn" rel="nofollow" href="https://electionresults.parliament.uk/">
            More information <span class='datagovuk-right-arrow'>&#8594;</span>
</a>        <ul class="datagovuk__list">
        </ul>
    </section>

    <section class="datagovuk-section">
            <p>The page was last updated 2026-01-23</p>
    </section>
</section>