
<h1 class="govuk-heading-l datagovuk-heading-l">Election results data</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Get UK Parliament election results for every general election since 2010 and every by-election since the 2015 general election. Results include the number of constituencies contested and won, and the number of votes and vote share for every party that stood a candidate in each election. </p>
<p class="govuk-body-m datagovuk-body">There are dedicated tables for members, parties and constituencies. These allow you to view the candidacies of former and current MPs, compare each party&rsquo;s historical performance at general elections and by-elections, and view any constituency’s results at each election.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://electionresults.parliament.uk/">
            Election results data <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

