<h1 class="govuk-heading-l datagovuk-heading-l">Local government finance</h1>





<div class="govuk-inset-text datagovuk-feedback-inset-text">
    Is this data/dataset useful? <a href="#" class="govuk-link datagovuk-link">Give us feedback here.</a>
</div>

<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>

    <section class="datagovuk-section">
        <ul class="datagovuk__list">
        </ul>
        <a role="button" class="govuk-button datagovuk-more-info-btn" rel="nofollow" href="https://www.gov.uk/government/statistical-data-sets/live-tables-on-local-government-finance">
            More information <span class='datagovuk-right-arrow'>&#8594;</span>
</a>        <ul class="datagovuk__list">
        </ul>
    </section>

    <section class="datagovuk-section">
            <p>The page was last updated 2026-02-04</p>
    </section>
</section>