
<h1 class="govuk-heading-l datagovuk-heading-l">Local government finance</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Get the latest data tables from the Ministry of Housing, Communities and Local Government on: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list datagovuk-body">
  <li>local authorities’ outstanding borrowing and investments for the UK </li>
<li>quarterly capital expenditure and receipts – at England level and by local authority </li>
<li>receipts of Council Taxes collected during a financial year in England </li>
<li>estimates of data reported by local authorities regarding exit payments </li>
<li>claimant numbers per quarter for localised Council Tax support for local authorities in England </li>
<li>quarterly revenue update, which collects information on current expenditure by local authorities for quarters 1 to 3 each financial year </li>

</ul>
<p class="govuk-body-m datagovuk-body">The separate statistics compendium page has annual datasets for local government finance statistics in England since 2010, available in ODS or XLS format.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/statistical-data-sets/live-tables-on-local-government-finance">Local government finance <span class="datagovuk-right-arrow">&#8594;</span></a>
            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/collections/local-government-finance-statistics-england">Local government finance statistics – England (compendium)</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

