
<h1 class="govuk-heading-l datagovuk-heading-l">Service assessment reports</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Search reports of government services that were assessed against the Service Standard. The standard was developed by the Government Digital Service and helps teams create and run great public services. Filter reports by assessment date, the stage being assessed (alpha, beta, live) and assessment results (met, not met).</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/service-standard-reports">
            Service assessment reports <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

