
<h1 class="govuk-heading-l datagovuk-heading-l">Transparency data</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Search GOV.UK for transparency data by entering a keyword or filtering by topic, public sector organisation, world location or date of update. The data includes over 21,000 releases, the earliest going back to 1998. You can filter results by date or most viewed.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/search/transparency-and-freedom-of-information-releases?content_store_document_type=transparency">
            Transparency data <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

