
<h1 class="govuk-heading-l datagovuk-heading-l">Upcoming election data</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Use the election information API to provide users with all the information they need to take part in elections. The API uses postcode lookup to tell voters where and when to vote, and the candidates standing for elections in their area. The API shows dates for every type of election – from by-elections to general elections – and tracks if an election has been cancelled. Town, parish and community council elections, and referendums, are not included.</p>
</section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.electoralcommission.org.uk/i-am-a/voter/your-election-information">
            Upcoming election data <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://api.electoralcommission.org.uk/docs">Election information API</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

