.datagovuk-headline {
    background-color: $datagovuk-light-grey;
    border-radius: 30px;
    font-family: Inter, sans-serif;
}

.datagovuk-headline__col {
    padding-top: 10px;
    padding-bottom: 10px;
}

.datagovuk-headline__col--left {
    padding-right: 20px;
}

.datagovuk-headline__col--right {
    padding-left: 20px;
}

.datagovuk-headline__subtitle {
    color: $datagovuk-light-grey;
}

.datagovuk-headline__change {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
}

.datagovuk-headline__change .datagovuk-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.datagovuk-headline__change-value, 
.datagovuk-headline__change-value-prc {
    margin: 0;
}

.datagovuk-trendup {
    background-color: $datagovuk-light-green;
}

.datagovuk-trenddown {
    background-color: $datagovuk-light-pink;
}

@media (min-width: 40.0625em) {
    .datagovuk-headline__col--left {
        padding-right: 30px;
        border-right: 1px solid #333333;
    }

    .datagovuk-headline__col--right {
        padding-left: 30px;
    }

    .datagovuk-headline {
        padding: 25px;
    }
}