$datagovuk-dark-green: #2b7a2d;
$datagovuk-active-green: #00890b;

.datagovuk-side-navigation {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-bottom: 30px;
    padding-left: 14px;
    border-left: 4px solid transparent;
    display: flex;
    align-items: center;

    a {
      @include govuk-font(24);
      text-decoration: none;
      font-weight: 400;

      &:hover {
        font-weight: 400;
        text-decoration: none !important;
      }
    }

    &:hover {
      border-left: 5px solid $datagovuk-active-green;
    }

    &--active {
      border-left: 5px solid $datagovuk-active-green;
    }

    a {
        color: $datagovuk-light-green;
        font-weight: 400;
        text-decoration: none !important;
    }
  }
}