.datagovuk-side-navigation__item a {
    text-decoration: underline;
    color: $datagovuk-dark-green;
}

.datagovuk-side-navigation__item a:visited {
    text-decoration: none;
}

.datagovuk-side-navigation__item {
    margin-bottom: 20px;
}

.datagovuk-side-navigation__item--active {
    color: $datagovuk-light-green;
    text-decoration: none;
    padding-left: 10px;
    border-left: 4px solid #00890b !important; // TODO: Check colours are matching design
    cursor: pointer;
}

.datagovuk-side-navigation li a {
    color: $datagovuk-light-green;
    text-decoration: none;
    padding-left: 10px;
    display: block;
    width: 100%;
    height: 100%;
}

.datagovuk-side-navigation li:hover {
    border-left: 4px solid $datagovuk-light-green !important;
    cursor: pointer;
}

@media (max-width: 40.0625em) {
    .datagovuk-side-navigation {
        order: 1;
    }

    .govuk-grid-column-two-thirds {
        order: 2;
    }
}


