<div class="govuk-grid-row">
  <form action="/search" method="GET" class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/search", {
      label_text: t('.accessibility.search_button_label')
    } %>
  </form>
</div>
