<% content_for :page_title do %>
  CKAN maintenance
<% end %>

<div class="text">
  <h1 class="heading-large">
    Data.gov.uk publishing freeze
  </h1>

<p>data.gov.uk publishing freeze – 6:30am on Wednesday 20 September to 11:59pm on Thursday 21 September 2021</p>
<p>We’re making some improvements to your data.gov.uk publishing account.</p>
<p>You will not be able to publish, edit, delete or view datasets on the publishing tool during the upgrade.</p>
<p>There will not be any downtime for visitors to data.gov.uk – only publishing will be affected.</p>
<h2 class="heading-medium">Why we need to upgrade</h2>
<p>We’re upgrading the CKAN version. This will make data.gov.uk more stable for users and publishers.</p>

<p>If you have any questions or concerns about the upgrade, please let us know: <a href="https://data.gov.uk/support">https://data.gov.uk/support</a></p>
</div>
