<% content_for :page_title do %>
  CKAN maintenance
<% end %>

<main role="main" id="content">

  <div class="text">
   <h1 class="heading-large">
     Data.gov.uk publishing freeze
   </h1>

  <p>data.gov.uk publishing freeze – 6:30am on Tuesday 6 July to 11:59pm on Wednesday 7 July 2021</p>
  <p>We’re making some improvements to your data.gov.uk publishing account.</p>
  <p>You will not be able to publish, edit or delete datasets while we upgrade the data publishing tool.</p>
  <p>There will not be any downtime for visitors to data.gov.uk – only publishing will be affected.</p>
  <h2 class="heading-medium">Why we need to upgrade</h2>
  <p>We’re upgrading to CKAN 2.9. This will make data.gov.uk more stable for users and publishers. It will also allow us to make further improvements to the publishing tool later this year.</p>
  <p>You can see a detailed list of the CKAN 2.9 changes at: <a href="https://github.com/ckan/ckan/blob/2.9/CHANGELOG.rst#v293-2021-05-19">https://github.com/ckan/ckan/blob/2.9/CHANGELOG.rst#v293-2021-05-19</a></p>

  <p>If you have any questions or concerns about the upgrade, please let us know: <a href="https://data.gov.uk/support">https://data.gov.uk/support</a></p>
  </div>
</main>
