<% content_for :page_title do %>
  Cookies -
<% end %>

<h1 class="heading-large">
  Cookies
</h1>
<p>
  The data.gov.uk team will collect data on how you’re using the new service, data.gov.uk, to help us improve it. 


We’ll use Google Analytics to collect data on:

</p>
<ul class="list list-bullet">
  <li>the terms you enter into the search box</li>
  <li>the pages you visit</li>
  <li>the links you click on</li>
</ul>
When you visit data.gov.uk, we’ll put a small file (known as a ‘cookie’) onto your computer to collect the data.
<h2 class="heading-large">How cookies are used on data.gov.uk</h2>
We use cookies to:
<ul class="list list-bullet">
  <li>measure how you use the service so it can be updated and improved based on your needs</li>
  <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
  <li>remember that you’ve already seen this page</li>
  We won’t use cookies for any other reasons.

You’ll see a message on the site before we store a cookie on your computer.

These are the Google Analytics cookies we’ll use.

