<% content_for :page_title do %>Cookies<% end %>

<main role="main" id="content">
  <div class="text">
    <h1 class="heading-large">
      Cookies
    </h1>
    <p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
    <p>Data.gov.uk does not use cookies.</p>
  </div>
</main>
