<% content_for :page_title do %>
  <%= t('.find_open_data') %> -
<% end %>

<div class="dgu-split-background">
  <main role="main">
    <%= render 'search' %>
    <%= render 'topics' %>
  </main>
</div>
