<div class="grid-row inner">
  <div class="column-two-thirds">
    <h1 class='heading-large'>Support</h1>

      The Government Digital Service (GDS) maintains the service behind data.gov.uk and helps
      publishers to manage their data and keep it up-to-date. GDS provides operational support
      from 9am to 5pm, Monday to Friday.

      <form action="tickets/new" method="get">
        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-medium">How can we help you?</h1>
            </legend>

            <div class="multiple-choice">
              <input id="support-1" type="radio" name="support" value="feedback">
              <label for="support-1">I want to report a problem of give feedback</label>
            </div>

            <div class="multiple-choice">
              <input id="support-2" type="radio" name="support" value="data">
              <label for="support-2">I have a data request</label>
            </div>

          </fieldset>
        </div>
        <input class="button" type="submit" value="Continue">
      </form>

    </div>
  </div>
