<% content_for :page_title do %>
  Terms and conditions -
<% end %>

<main role="main" id="content">
  <%= render partial: 'layouts/feedback_survey_banner' if flash[:beta_message] == 'hide' %>

  <div class="text">

    <h1 class="heading-large">
      Terms and conditions
    </h1>

    <p>This page and any pages it links to explains Find open data's terms of use. You must agree to these to use
      Find open data.</p>

    <h2 class="heading-medium">
      Who we are
    </h2>

    <p>Find open data is managed
      by <%= link_to 'Government Digital Service', 'https://www.gov.uk/government/organisations/government-digital-service' %>
      (GDS) on behalf of the Crown. GDS is part of the Cabinet Office and will be referred to as 'we' from now on.</p>

    <h2 class="heading-medium">
      Using Find open data
    </h2>

    <p>You agree to use Find open data only for lawful purposes. You must also use it in a way that doesn't infringe the
      rights of, or restrict or inhibit the use and enjoyment of, this site by anyone else.</p>

    <h2 class="heading-medium">
      Linking from Find open data
    </h2>

    <p>Find open data links to websites that are managed by other government departments and agencies, service providers or
      other organisations. We don't have any control over the content on these websites.</p>

    <p>We're not responsible for:</p>

    <ul class="list list-bullet">
      <li>the protection of any information you give to these websites</li>
      <li>any loss or damage that may come from your use of these websites, or any other websites they link to</li>
    </ul>

    <p>You agree to release us from any claims or disputes that may come from using these websites.</p>

    <p>You should read all terms and conditions, privacy policies and end user licences that relate to these websites
      before you use them.</p>

    <h2 class="heading-medium">
      Changes to these terms and conditions
    </h2>

    <p>Please check these terms and conditions regularly. We can update them at any time without notice.</p>

    <p>You'll agree to any changes if you continue to use Find open data after the terms and conditions have been
      updated.</p>

  </div>
</main>
