<div class="grid-row inner">
  <div class="column-two-thirds">
    <h1 class='heading-large'>Thanks for contacting data.gov.uk</h1>
    <p>
      Data.gov.uk is built and supported by a team here to help you at the Government Digital Service.
    </p>
    <p>
      GDS provides operational support from 9am to 5pm, Monday to Friday.
    </p>
    <%= link_to 'Go back to support', support_path %>
  </div>
</div>
