<main role="main">
  <div class="grid-row inner">
    <div class="column-two-thirds">
      <h1 tabindex="-1" id="content" class='heading-large'><%= t('.thanks_for_contacting') %></h1>
      <p>
        <%= t('.built_by_gds') %>
      </p>
      <p>
        <%= t('.operational_support') %>
      </p>
      <%= link_to 'Go back to support', support_path %>
    </div>
  </div>
</main>
