<% content_for :page_title do %>Confirmation<% end %>

<main role="main" id="content">
  <div class="grid-row inner">
    <div class="column-two-thirds">
      <h1 class='heading-large'><%= t('.thanks_for_contacting') %></h1>
      <p>
        <%= t('.built_by_gds') %>
      </p>
      <p>
        <%= t('.operational_support') %>
      </p>
      <%= link_to 'Go back to support', support_path %>
    </div>
  </div>
</main>
