<% content_for :page_title do %><%= t(".#{@ticket.support}_request") %><% end %>

<%= content_for :breadcrumb do %>
  <%= render 'shared/breadcrumb' %>
<% end%>

<main role="main" id="main-content" class="govuk-main-wrapper">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Service unavailable</h1>
      <p>Sorry you can't use this service because of a technical problem.</p>
      <p>We're working on a fix. Please try again later.</p>
    </div>
  </div>
</main>
