<section class="datagovuk-split-chart">
  <div class="govuk-grid-row datagovuk-split-chart__row">
    <%= render "layouts/version_2/charts/split_chart/a_side", **left, side_class: "datagovuk-split-chart__col--left" %>
    <%= render "layouts/version_2/charts/split_chart/a_side", **right, side_class: "datagovuk-split-chart__col--right" %>
  </div>
</section>