<% content_for :page_title do %>Service unavailable<% end %>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Service unavailable</h1>
      <p>Sorry you can't use this service because of a technical problem.</p>
      <p>We're working on a fix. Please try again later.</p>
    </div>
  </div>
</main>
