<% content_for :page_title do %>Service unavailable<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="govuk-heading-l">Service unavailable</h1>
    <p class="govuk-body">Sorry you can't use this service because of a technical problem.</p>
    <p class="govuk-body">We're working on a fix. Please try again later.</p>
  </div>
</div>
