<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds not-found">
      <h1 class="heading-large">You've entered the wrong username or password</h1>
      <p>Please try entering your details again.</p>
      <%= link_to "Try again", use_of_data_confirm_path, class:"button dgu-filters__apply-button" %>
      <h2 class='heading-medium'>If you've forgotten your username and password</h2>
      <p>Contact <a href="mailto:team@data.gov.uk">team@data.gov.uk</a> for new account details.</p>
    </div>
  </div>
</main>
