<% content_for :page_title do %>Page not found<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">If you entered a web address please check it was correct.</p>
    <p class="govuk-body">You can <%= link_to 'search or browse from the homepage', root_path, class: 'govuk-link' %> to find the information you need.</p>
  </div>
</div>
