<% content_for :page_title do %>Service unavailable<% end %>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Service unavailable</h1>
      <p>Sorry, we’re experiencing technical difficulties</p>
      <p>Please try again in a few moments.</p>
    </div>
  </div>
</main>
