
<h1 class="govuk-heading-l datagovuk-heading-l">Check MOT history</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Check the past results of a vehicle’s MOT tests, including if it passed or failed and the mileage recorded when it was tested. Search for a vehicle by entering its registration number. You can also check when the next MOT is due and download a copy of the current and previous MOT certificates. For tests in England, Scotland or Wales, you’ll be able to see where each test was done, and what parts failed or had minor problems. For tests in Northern Ireland, you can only get results for tests done since 2017. </p>
<p class="govuk-body-m datagovuk-body">The MOT history API combines all vehicle types into a single API based on REST principles. The response data is in JSON format and uses standard HTTP error response codes.</p>
</section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/check-mot-history">
            Check MOT history <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://developer-portal.driver-vehicle-licensing.api.gov.uk/apis/vehicle-enquiry-service/vehicle-enquiry-service-description.html">MOT history API</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

