
<h1 class="govuk-heading-l datagovuk-heading-l">Driving tests</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">A data collection about the number of theory and driving tests taken in England, Scotland and Wales, as well as pass rates and the number of instructors. View or download quarterly analysis reports for every year since 2015-16. Each report contains driver and rider testing and instructor statistics. There are also separate datasets – including data for England, Scotland and Wales overall, and for each test centre – for each type of test: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>cars</li>
<li>motorcycles</li>
<li>large goods vehicles (LGV)</li>
<li>passenger carrying vehicles (PCV)</li>
<li>approved driving instructor (ADI) qualifying test data</li>
<li>driving instructor and motorcycle instructor register data </li>

</ul>
<p class="govuk-body-m datagovuk-body">This data is published by the Driver and Vehicle Standards Agency (DVSA)</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/collections/driving-tests-and-instructors-statistics">
            Driving tests data <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

