
<h1 class="govuk-heading-l datagovuk-heading-l">Fishing vessels</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Get details of registered and licensed fishing vessels in the UK. There are annual datasets from 2015 onwards for vessels over 10 metres and vessels 10 metres and under. You can download the spreadsheets in ODS or XLSX format. Each fishing vessel list includes: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list datagovuk-body">
  <li>administrative port</li>
<li>home port</li>
<li>port letters and number</li>
<li>vessel name</li>
<li>registry of shipping and seamen number</li>
<li>overall length </li>

</ul>
<p class="govuk-body-m datagovuk-body">This data is owned by the Marine Management Organisation.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/collections/uk-vessel-lists">Fishing vessel statistics <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body datagovuk-!-colour-grey">The page was last updated 24/3/2026</p>
    </section>
</section>

