<h1 class="govuk-heading-l datagovuk-heading-l">Get vehicle information</h1>

<p class="govuk-body-m datagovuk-body">Find out what information the Driver and Vehicle Licensing Agency (DVLA) holds about a vehicle by searching on its registration number (number plate). With this service you can check details about a vehicle including its tax, SORN status, MOT expiry, date of registration, V5C issue date, year of manufacture, type approval category, weight, engine size, fuel type, emissions and export status.</p>



<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/get-vehicle-information-from-dvla">
            Get vehicle information <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://developer-portal.driver-vehicle-licensing.api.gov.uk/apis/vehicle-enquiry-service/vehicle-enquiry-service-description.html">API documentation</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

