
<h1 class="govuk-heading-l datagovuk-heading-l">Maritime and shipping</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Explore the Department for Transport’s maritime statistics dashboard, which includes:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>an overview of UK maritime statistics for the latest year </li>
<li>freight UK port statistics for each year since 2000 </li>
<li>cargo summary statistics for each year since 2000 </li>
<li>freight route statistics for each year since 2000 </li>
<li>international sea passenger statistics for each year since 2010 </li>

</ul>
<p class="govuk-body-m datagovuk-body">You can download the data in various formats, including HTML, PDF and ODS, from the separate maritime and shipping statistics page. </p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://maps.dft.gov.uk/maritime-statistics/index.html">Maritime statistics dashboard <span class="datagovuk-right-arrow">&#8594;</span></a>
            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/collections/maritime-and-shipping-statistics">Maritime and shipping statistics</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

