
<h1 class="govuk-heading-l datagovuk-heading-l">MOT test results</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Access a range of aggregated datasets about MOT testing in Great Britain, including results by vehicle type, failures by type of defect, and MOT test stations and testers. Datasets include: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list datagovuk-body">
  <li>MOT results by class of vehicle (updated every 3 months)</li>
<li>initial failures by defect category (updated every 3 months)</li>
<li>MOT test stations and testers (updated once a year)</li>
<li>action against MOT authorised examiners and MOT testers (updated once a year) </li>

</ul>
<p class="govuk-body-m datagovuk-body">This dataset comes from data held by the Driver and Vehicle Standards Agency (DVSA).</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/statistical-data-sets/mot-testing-data-for-great-britain">MOT test results <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body">The page was last updated 24/3/2026</p>
    </section>
</section>

