
<h1 class="govuk-heading-l datagovuk-heading-l">National Travel Survey</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Get statistics and data from the Department for Transport’s National Travel Survey. This is a household survey that monitors long-term trends in personal travel and informs policy development. The survey collects information on how, why, when and where people travel, as well as factors affecting travel such as car and driving licence availability. For an in-depth search, you can explore the Transport Statistics Finder to find the latest statistics, and download and view all the statistical content in ODS format. </p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/collections/national-travel-survey-statistics">National Travel Survey <span class="datagovuk-right-arrow">&#8594;</span></a>
            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://maps.dft.gov.uk/transport-statistics-finder/index.html">Transport Statistics Finder</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

