<h1 class="govuk-heading-l datagovuk-heading-l">Real-time and historic train information</h1>

<p class="govuk-body-m datagovuk-body">Get information from Darwin – the official train running information engine for England, Scotland and Wales, run by National Rail. The data provides real-time arrival and departure predictions, platform numbers, delay estimates, schedule changes and cancellations. Darwin also powers a Historic Service Performance service that shows the real-time historic performance of trains over periods of up to one year. The data is available via API and is free to access once you sign up to the Rail Data Marketplace.</p>



<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
            <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.nationalrail.co.uk/developers/darwin-data-feeds/">
              Train information API <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

