
<h1 class="govuk-heading-l datagovuk-heading-l">Road conditions</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Get statistics on the condition of local authority roads, motorways and trunk roads in England since 2020. You can download the data in HTML, ZIP or ODS format. The statistics are provided by the Department for Transport and drawn from several sources including: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>SCANNER surveys (machine surveys of local authorities’ classified roads)</li>
<li>TRACS surveys (machine surveys of the National Highways road network)</li>
<li>manual surveys of unclassified roads</li>
<li>skidding resistance surveys </li>

</ul>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/collections/road-network-size-and-condition">Road condition statistics <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

