
<h1 class="govuk-heading-l datagovuk-heading-l">Road traffic</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Get road traffic statistics for England, Scotland and Wales. The data includes road traffic by vehicle type, road type and country, measured in billion vehicle miles (bvm). The data is provided by the Department for Transport and updated annually going back to 1993. </p>
<p class="govuk-body-m datagovuk-body">On the separate datasets page, you can download traffic figures for all regions, all local authorities and all count point locations in CSV or Shapefile format. </p>
</section>

  <section class="datagovuk-headline govuk-section datagovuk-section govuk-!-margin-top-8">
      <h2 class="govuk-body datagovuk-body govuk-!-margin-bottom-2">
  Road traffic levels by vehicle type
</h2>

<div class="datagovuk-headline__columns govuk-!-margin-bottom-2">
    

<div class="datagovuk-headline__column">
    <h3 class="govuk-heading-m datagovuk-heading-m">
        Cars and taxis
    </h3>
    <p class="govuk-body datagovuk-body datagovuk-!-colour-grey">
        Billion vehicle miles
    </p>
    <div class="datagovuk-headline__number">
        256.1
    </div>

    <div class="datagovuk-headline__change datagovuk-headline__trendup">
        <span class="datagovuk-headline__arrow">
                <img alt="Trending up" src="/find-assets/v2/up_arrow-054d77c044a73999bf6500fc68fbc31cff53ac5f3d6890c50399505d3b0b7cf6.svg" />
        </span>
        <span class="datagovuk-headline__change-value-percent govuk-body datagovuk-body">
                +1.9%
        </span>
    </div>

    <p class="govuk-body datagovuk-body">
        Increase of 1.9% from 2023 to 2024
    </p>

</div>

    

<div class="datagovuk-headline__column">
    <h3 class="govuk-heading-m datagovuk-heading-m">
        Buses and coaches
    </h3>
    <p class="govuk-body datagovuk-body datagovuk-!-colour-grey">
        Billion vehicle miles
    </p>
    <div class="datagovuk-headline__number">
        2.0
    </div>

    <div class="datagovuk-headline__change datagovuk-headline__trendup">
        <span class="datagovuk-headline__arrow">
                <img alt="Trending up" src="/find-assets/v2/up_arrow-054d77c044a73999bf6500fc68fbc31cff53ac5f3d6890c50399505d3b0b7cf6.svg" />
        </span>
        <span class="datagovuk-headline__change-value-percent govuk-body datagovuk-body">
                +1.7%
        </span>
    </div>

    <p class="govuk-body datagovuk-body">
        Increase of 1.7% from 2023 to 2024
    </p>

</div>

</div>


  </section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://roadtraffic.dft.gov.uk">Road traffic statistics <span class="datagovuk-right-arrow">&#8594;</span></a>
            <ul class="govuk-list datagovuk-list datagovuk-collection-get-data__list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://roadtraffic.dft.gov.uk/docs/index.html">Road traffic API</a>
                    </li>
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://roadtraffic.dft.gov.uk/downloads">Road traffic datasets</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

