
<h1 class="govuk-heading-l datagovuk-heading-l">Transport connectivity</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Use the Connectivity Tool Lite to see how any location in England and Wales is connected to everyday services by walking, driving, cycling and public transport. Search a map by entering a postcode, street name or coordinates, or by selecting a local authority. You can then see a connectivity score for that area and filter by the different types of transport stops in that area. </p>
<p class="govuk-body-m datagovuk-body">The Connectivity Tool is provided by the Department for Transport. No registration is needed for the lite version of the tool. Built environment professionals in the public or private sector can request access to the full version via the separate guidance page. The full version lets you plot new transport routes to understand how these would affect an area’s connectivity. You can also download data on the overall connectivity for all of England and Wales in an ODS format from the transport connectivity metric page. </p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/statistical-data-sets/mot-testing-data-for-great-britain">Connectivity Tool Lite <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

