
<h1 class="govuk-heading-l datagovuk-heading-l">Births</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">View data on births including annual live births, stillbirths, maternities and fertility rates in England and Wales up to 2024. Explore the data by factors including parent age, parent country of birth, ethnicity, deprivation, gestational age and birthweight. This dataset is owned by the Office for National Statistics (ONS). </p>
</section>

  <section class="datagovuk-headline govuk-section datagovuk-section govuk-!-margin-top-8">
      
<h2 class="govuk-heading-m datagovuk-heading-m">Total live birth counts, England and Wales, 1938 to 2024</h2>

<div class="govuk-grid-row line-chart">
  <div id="chart-1" style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div>
<script nonce="AxUfpQQ2bKh+dMPXkqNpCmfy3TEt00l/kogPvlkhWjY=">
  (function() {
    if (document.documentElement.hasAttribute("data-turbolinks-preview")) return;
    if (document.documentElement.hasAttribute("data-turbo-preview")) return;

    var createChart = function() { new Chartkick["LineChart"]("chart-1", [{"color":"#C27A9A","data":{"1938":621,"1939":614,"1940":590,"1941":579,"1942":651,"1943":684,"1944":751,"1945":679,"1946":820,"1947":881,"1948":775,"1949":730,"1950":697,"1951":677,"1952":673,"1953":684,"1954":673,"1955":667,"1956":700,"1957":723,"1958":740,"1959":748,"1960":785,"1961":811,"1962":838,"1963":854,"1964":875,"1965":862,"1966":849,"1967":832,"1968":819,"1969":797,"1970":784,"1971":783,"1972":725,"1973":675,"1974":639,"1975":603,"1976":584,"1977":569,"1978":596,"1979":638,"1980":656,"1981":634,"1982":625,"1983":629,"1984":636,"1985":656,"1986":661,"1987":681,"1988":693,"1989":687,"1990":706,"1991":699,"1992":689,"1993":673,"1994":664,"1995":648,"1996":649,"1997":643,"1998":635,"1999":621,"2000":604,"2001":594,"2002":596,"2003":621,"2004":639,"2005":645,"2006":669,"2007":690,"2008":708,"2009":706,"2010":723,"2011":723,"2012":729,"2013":698,"2014":695,"2015":697,"2016":696,"2017":679,"2018":657,"2019":640,"2020":613,"2021":624,"2022":605,"2023":591,"2024":594},"dataset":{"pointRadius":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4],"pointStyle":["rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot"]}}], {"suffix":"k","round":2,"points":true,"dataset":{"empty":"No data available","tension":0.5,"pointRadius":0,"pointHoverRadius":10},"library":{"plugins":{"datalabels":{"display":false},"legend":{"display":false,"labels":{"color":"#5D5D5D","font":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"padding":30,"usePointStyle":true}},"tooltip":{"bodyFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"titleFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"}}},"responsive":true,"layout":{"padding":{"top":20,"bottom":20,"left":20,"right":20}},"scales":{"y":{"min":1,"grid":{"display":true},"border":{"dash":[5,5]},"ticks":{"stepSize":0,"maxTicksLimit":10,"autoSkip":false,"font":{"size":20}}},"x":{"border":{"display":true},"ticks":{"font":{"size":20}}}}},"legend":"bottom"}); };
    if ("Chartkick" in window) {
      createChart();
    } else {
      window.addEventListener("chartkick:load", createChart, true);
    }
  })();
</script>

</div>


      <p class="govuk-body datagovuk-body govuk-!-margin-top-4">
        <a href="/collections/people/births/charts/live-births-england-and-wales-1938-2024.csv" class="govuk-link datagovuk-link">Download the chart data</a>
      </p>
  </section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/livebirths/bulletins/birthsummarytablesenglandandwales/2024refreshedpopulations">Births <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

