
<h1 class="govuk-heading-l datagovuk-heading-l">Compare school performance</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Compare the performance of schools, colleges and multi-academy trusts in England. Find one or more schools by entering a name, location, local authority or parliamentary constituency. Each result includes the school’s details such as address and headteacher, the performance of pupils at the school and pupil absence data. Depending on the school’s education phase(s), performance data is based on results at key stage 2, key stage 4, A level qualifications and students who progressed to higher education or training.</p>
<p class="govuk-body-m datagovuk-body">If your search returns more than one school, you can filter the results or compare them in a table. You can also download datasets in CSV or XLS format for each academic year since 1991-92, covering all of England or a specific local authority. The datasets cover general school information, performance, pupil destinations, absence and pupil population, and multi-academy trust data. </p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.compare-school-performance.service.gov.uk/">Compare school performance <span class="datagovuk-right-arrow">&#8594;</span></a>
            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://www.compare-school-performance.service.gov.uk/download-data">Download school performance data</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

