
<h1 class="govuk-heading-l datagovuk-heading-l">Compare school performance</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Compare the performance of schools, colleges and multi-academy trusts in England. Find a school by searching a name, location, local authority or parliamentary consistency. Results include the school’s details such as address and headteacher, the performance of pupils at the school and pupil absence data. Depending on the school’s education phase(s), performance data is based on results at key stage 2, key stage 4, A level qualifications and students who progressed to higher education or training.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.compare-school-performance.service.gov.uk/">
            Compare school performance <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

