
<h1 class="govuk-heading-l datagovuk-heading-l">Courts management</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Get management information from HM Courts and Tribunals Service (HMCTS) to understand workload volumes and timeliness at a national level. The data is for criminal, civil and family courts, and tribunals. Data tables are published monthly for every year since 2019 in CSV, XLSX or ODS format. The data includes:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list datagovuk-body">
  <li>receipts – the number of cases that have been received and entered onto the respective administrative system by the court or tribunal in the month</li>
<li>disposals – the number of cases that have been completed with a final result in the month</li>
<li>outstanding – the number of cases that have been receipted but not yet disposed of at the end of the month</li>
<li>timeliness – an end-to-end measure of how long those cases have taken to manage through the court or tribunal system for cases completed in the month </li>

</ul>
<p class="govuk-body-m datagovuk-body">The separate modernised services page primarily focuses on the digital uptake, number of applications and user satisfaction of services reformed under the HMCTS Reform Programme.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
        <ul class="govuk-list datagovuk-list datagovuk-collection-get-data__list">
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/collections/hmcts-management-information">Courts management information</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/collections/hmcts-management-information-modernised-services">Courts management information – modernised services</a>
                </li>
        </ul>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body">The page was last updated 24/3/2026</p>
    </section>
</section>

