
<h1 class="govuk-heading-l datagovuk-heading-l">Deaths</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">This data includes registered deaths by age, sex, selected underlying causes of death and the leading causes of death in England and Wales up to 2024.  The data contains death rates and death registrations by area of residence and single year of age. This dataset is owned by the Office for National Statistics (ONS).</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/deaths/bulletins/deathsregistrationsummarytables/2024">
            Get deaths data <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

