
<h1 class="govuk-heading-l datagovuk-heading-l">Deprivation</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Get statistics on deprivation in England. Deprivation refers to people’s unmet needs, a lack of access to opportunities and resources which we might expect in our society. Search by postcode or use an interactive map to explore deprivation patterns and compare areas, including by local authority district or smaller neighbourhoods. You can customise your view by selecting the overall measure of deprivation (known as the Index of Multiple Deprivation) or a specific type of deprivation: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>income</li>
<li>employment</li>
<li>education and skills</li>
<li>health and disability</li>
<li>crime</li>
<li>barriers to housing and services</li>
<li>living environment</li>
<li>income deprivation affecting children</li>
<li>income deprivation affecting old people </li>

</ul>
<p class="govuk-body-m datagovuk-body">You can download the data in Excel, CSV or JSON format. There are separate pages with the indices of deprivation for the other UK nations.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
        <ul class="govuk-list datagovuk-list">
                <li>
                    <a class="govuk-link datagovuk-link" href="https://deprivation.communities.gov.uk/">Deprivation in England</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.scot/collections/scottish-index-of-multiple-deprivation-2020/">Deprivation in Scotland</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.wales/welsh-index-multiple-deprivation-2025-series">Deprivation in Wales</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.nisra.gov.uk/statistics/people-and-communities/deprivation">Deprivation in Northern Ireland</a>
                </li>
        </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

