
<h1 class="govuk-heading-l datagovuk-heading-l">Early years and childcare inspections and outcomes</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Get Ofsted’s official statistics on the inspections and outcomes of childcare providers in England. The statistics are published twice a year and include:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>the main findings</li>
<li>summary tables and charts in Excel and ODS format</li>
<li>individual provider-level and inspection-level data in ODS format</li>
<li>a methodology and quality report</li>
<li>a pre-release access list </li>

</ul>
<p class="govuk-body-m datagovuk-body">There are also datasets for inspections management information, transparency data, Five-Year Ofsted Inspection Data, and for data before September 2019, as well as statistical commentaries.</p>
</section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/collections/early-years-and-childcare-statistics">
            Childcare provider statistics <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

