
<h1 class="govuk-heading-l datagovuk-heading-l">Family food statistics</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Get annual statistics about food and drink purchases in the UK. The statistics come from ‘Family Food’, an annual publication by the Department for Environment, Food and Rural Affairs that uses data collected from a sample of UK households. The datasets for each year since 2011 include detailed information on purchased quantities and expenditure derived from both household and eating out food and drink. </p>
<p class="govuk-body-m datagovuk-body">For older data, you can:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>view the Family Food publications for 2002 to 2010 on the National Archive</li>
<li>download a dataset with data from the National Food Survey from 1974 to 2000</li>

</ul>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
        <ul class="govuk-list datagovuk-list">
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/collections/family-food-statistics">Family Food (2011 to present)</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://webarchive.nationalarchives.gov.uk/ukgwa/20130103031008/http://www.defra.gov.uk/statistics/foodfarm/food/familyfood/">Family Food (2002 to 2010) National Archive</a>
                </li>
        </ul>
            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/statistics/family-food-open-data">Family Food (1974 to 2000) dataset</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

