
<h1 class="govuk-heading-l datagovuk-heading-l">Homelessness</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Get the latest data on homelessness in England in ODS or XLSX format. The data is provided by the Ministry of Housing, Communities and Local Government and includes:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list datagovuk-body">
  <li>a statutory homelessness time series data table for England</li>
<li>detailed quarterly local authority-level tables since 2019</li>
<li>flow tables for 2018-21 that show the flow of households through the duties of the Homelessness Reduction Act</li>
<li>discontinued data tables with data since 2009-10</li>

</ul>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/statistical-data-sets/live-tables-on-homelessness">Homelessness <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body">The page was last updated 24/3/2026</p>
    </section>
</section>

