
<h1 class="govuk-heading-l datagovuk-heading-l">Immigration</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Get the latest immigration statistics published by the Home Office for every quarter since 2011-12. Each release includes: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>a summary of the latest statistics</li>
<li>how many people come to the UK each year (including visitors)</li>
<li>why people come to the UK (work, study, family)</li>
<li>how people come to the UK (humanitarian routes or irregularly)</li>
<li>how many people claim asylum, are granted asylum, and the number of asylum cases in the UK</li>
<li>how many people are granted settlement or citizenship</li>
<li>how many people are detained in the UK and returned from the UK </li>

</ul>
<p class="govuk-body-m datagovuk-body">There’s a separate page with all the data tables that make up the immigration system statistics. You can download the data in CSV or XLSX format.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/collections/immigration-statistics-quarterly-release">Quarterly immigration statistics <span class="datagovuk-right-arrow">&#8594;</span></a>
            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/statistical-data-sets/immigration-system-statistics-data-tables">Immigration statistics: data tables</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

