
<h1 class="govuk-heading-l datagovuk-heading-l">Museum and gallery visits</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Get statistics on the number of visits to the museums and galleries in England sponsored by the Department for Culture, Media and Sport. Provisional monthly visits statistics are published in ODS format every quarter, with data since 2004. </p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
        <ul class="govuk-list datagovuk-list datagovuk-collection-get-data__list">
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/statistical-data-sets/museums-and-galleries-monthly-visits">Museum and gallery visits (monthly)</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/statistics/daily-visitors-to-dcms-sponsored-museums-and-galleries">Museum and gallery visits</a>
                </li>
        </ul>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body">The page was last updated 24/3/2026</p>
    </section>
</section>

