
<h1 class="govuk-heading-l datagovuk-heading-l">Museum and gallery visits</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Get statistics on the number of visits to museums and galleries sponsored by the Department for Culture, Media and Sport (DCMS). Provisional monthly visits statistics are published every quarter with data going back to 2004. You can also access daily experimental statistics on the number of visits during a period of 2020 which monitored the effect of the easing of COVID-19 related restrictions.</p>
</section>

<section class="govuk-section datagovuk-section">
</section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
        <ul class="govuk-list datagovuk-list">
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/statistical-data-sets/museums-and-galleries-monthly-visits">Museum and gallery visits (monthly)</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/statistics/daily-visitors-to-dcms-sponsored-museums-and-galleries">Museum and gallery visits (daily)</a>
                </li>
        </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

