
<h1 class="govuk-heading-l datagovuk-heading-l">Police recorded crime and outcomes</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">These open data tables are published by the Home Office and have many uses. The data relates to crime in England and Wales and includes:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>police force area tables</li>
<li>Community Safety Partnership tables</li>
<li>offences involving knives or sharp instruments</li>
<li>offences involving the use of firearms</li>
<li>hate crime</li>
<li>rape incidents and offences</li>
<li>crime outcomes</li>
<li>outcomes for alternate offences</li>
<li>transferred or cancelled crimes</li>
<li>supplementary crime outcomes metrics</li>
<li>fraud offences </li>

</ul>
<p class="govuk-body-m datagovuk-body">The datasets cover various time periods, in some cases going back to 2003, and are available in ODS or MS Excel format.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/statistical-data-sets/police-recorded-crime-and-outcomes-open-data-tables">
             <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

