<h1 class="govuk-heading-l datagovuk-heading-l">Population data</h1>




<div class="govuk-inset-text datagovuk-feedback-inset-text">
    Is this data/dataset useful? <a href="#" class="govuk-link datagovuk-link">Give us feedback here.</a>
</div>

<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>

    <section class="datagovuk-section">
        <a role="button" class="govuk-button datagovuk-more-info-btn" rel="nofollow" href="https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates">
            More information <span class='datagovuk-right-arrow'>&#8594;</span>
</a>        <ul class="datagovuk__list">
                <li class="datagovuk__item datagovuk__item--active">
                    <a href="https://developer.ons.gov.uk/" aria-current="location">API documentation</a>
                </li>
            <li class="datagovuk__item datagovuk__item--active">
                <a href="#1" aria-current="location">Download the datasets</a>
            </li>
        </ul>
    </section>

    <section class="datagovuk-section">
            <p>The page was last updated 2026-01-23</p>
    </section>
</section>