
<h1 class="govuk-heading-l datagovuk-heading-l">Population estimates</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Get comprehensive annual population estimates datasets and analysis for the UK from the Office for National Statistics (ONS). The data includes estimates by different areas, age, gender and other characteristics. Most datasets are available as XLSX files. You can also download some as a CSV or ZIP file. </p>
<p class="govuk-body-m datagovuk-body">The data includes annual estimates from mid-2011 onwards and is available at the local authority level and above. You can also view population estimates for the whole of the UK since 1971, and download the data in PNG, CSV or XLSX format. </p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates">Population estimates <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

