
<h1 class="govuk-heading-l datagovuk-heading-l">Public health dashboard</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Browse the UK Health Security Agency (UKHSA) dashboard for the latest data on: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>outbreaks</li>
<li>respiratory viruses</li>
<li>emerging infections and zoonoses</li>
<li>childhood vaccinations</li>
<li>antimicrobial resistance (AMR)</li>
<li>healthcare-associated infections (HCAI)</li>
<li>syndromic surveillance</li>
<li>weather and climate risks</li>
<li>vectors and vector-borne diseases</li>
<li>streptococcal infections</li>
<li>blood-borne viruses</li>
<li>vaccine-preventable diseases</li>
<li>environmental hazards </li>

</ul>
<p class="govuk-body-m datagovuk-body">The data covers various time periods. Some of the data applies only to England, some is UK wide. You can view the data in chart or tabular form, and download it in CSV or JSON format.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://ukhsa-dashboard.data.gov.uk/">UKHSA data dashboard <span class="datagovuk-right-arrow">&#8594;</span></a>
            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://ukhsa-dashboard.data.gov.uk/access-our-data">UKHSA data dashboard API</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

