<h2 class="govuk-heading-l datagovuk-heading-l">Public health dashboard</h2>
<p class="govuk-body"><p class="govuk-body-m">This dashboard shows public health data across England. The data covers outbreaks, respiratory viruses, emerging infections, childhood vaccinations, antimicrobial resistance, healthcare-associated infections, syndromic surveillance, weather and climate risks, vector-borne diseases, streptococcal infections, blood-borne viruses, vaccine-preventable diseases and environmental hazards.</p></p>

<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <h3 class="datagovuk-heading-m">Get the data</h3>

    <section class="datagovuk-section">
        <p><a role="button" class="govuk-button datagovuk-more-info-btn" rel="nofollow" href="https://ukhsa-dashboard.data.gov.uk/">
            More information <span class='datagovuk-right-arrow'>&#8594;</span>
</a>        </p>
        <ul class="datagovuk__list">
                <li class="datagovuk__item datagovuk__item--active">
                    <a href="https://ukhsa-dashboard.data.gov.uk/access-our-data" aria-current="location">API</a>
                </li>
            <li class="datagovuk__item datagovuk__item--active">
                <a href="#1" aria-current="location">Datasets</a>
            </li>
        </ul>
            <p>The page was last updated 2026-01-29</p>
        <a href="#1" aria-current="location">Give feedback</a>
    </section>
</section>