
<h1 class="govuk-heading-l datagovuk-heading-l">Pupil attendance</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">A collection of statistics on pupil attendance and pupil absence in state-funded primary, secondary and special schools in England. For the latest pupil attendance data, the Department of Education (DfE) publishes a fortnightly release. There are also yearly statistics for:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>pupil absence autumn term release – since 2009</li>
<li>pupil absence autumn and spring term combined release – since 2009-10</li>
<li>pupil absence full year release – since 2009-10 </li>

</ul>
<p class="govuk-body-m datagovuk-body">Each release has information on the levels of overall, authorised and unauthorised absence in state-funded schools. It includes:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>reasons for absence</li>
<li>absence by pupil characteristic</li>
<li>rates of persistent and severe absence </li>

</ul>
<p class="govuk-body-m datagovuk-body">The data since 2020 is available on the DfE’s education statistics explorer. Here you can get statistical summaries, create your own data tables, browse a data catalogue and download all the data as a zip file.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
        <ul class="govuk-list datagovuk-list">
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/collections/statistics-pupil-absence">Pupil attendance and absence</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://explore-education-statistics.service.gov.uk">Education statistics explorer</a>
                </li>
        </ul>
            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://api.education.gov.uk/statistics/docs">Education statistics explorer (API)</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

