
<h1 class="govuk-heading-l datagovuk-heading-l">Pupil attendance</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Explore a collection of statistics on pupil attendance and pupil absence in state-funded primary, secondary and special schools in England. For the latest pupil attendance data, the Department of Education (DfE) publishes a fortnightly release. There are also yearly statistics for the autumn term, autumn and spring term combined, and full year since 2009-10. </p>
<p class="govuk-body-m datagovuk-body">Each release has information on the levels of overall, authorised and unauthorised absence in state-funded schools. This includes the reasons for absence, absence by pupil characteristic and rates of persistent and severe absence. </p>
<p class="govuk-body-m datagovuk-body">For data since 2020, you can also use the DfE’s education statistics explorer to get statistical summaries, browse a data catalogue and download all the data as a ZIP file.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
        <ul class="govuk-list datagovuk-list datagovuk-collection-get-data__list">
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/collections/statistics-pupil-absence">Pupil attendance and absence</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://explore-education-statistics.service.gov.uk">Education statistics explorer</a>
                </li>
        </ul>
            <ul class="govuk-list datagovuk-list datagovuk-collection-get-data__list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://api.education.gov.uk/statistics/docs">Education statistics explorer (API)</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

