
<h1 class="govuk-heading-l datagovuk-heading-l">Social mobility</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Find social mobility data for an area of the UK by entering a postcode or selecting one of 205 regions. The result page has data on 4 measures of social mobility:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list datagovuk-body">
  <li>promising prospects – how well young people from similar socio-economic backgrounds do in education and the labour market (since 2018)</li>
<li>conditions of childhood – whether the conditions children grow up in are good for promoting social mobility (since 2000)</li>
<li>labour market opportunities for young people – whether the area offers more or less favourable employment opportunities (since 2000)</li>
<li>innovation and growth – as measured by an area’s productivity level, ‘new economy’ jobs, and economically-active residents with postgraduate qualifications (since 2000)</li>

</ul>
<p class="govuk-body-m datagovuk-body">This data comes from the Social Mobility Commission, who use it in their annual report into social mobility in the UK.</p>
</section>

  <section class="datagovuk-headline govuk-section datagovuk-section govuk-!-margin-top-8">
      
<h2 class="govuk-heading-m datagovuk-heading-m">Percentage of people aged 25 to 29 years who were unemployed, by socio-economic background (UK, 2024)</h2>

<div class="govuk-grid-row bar-chart">
  <div id="chart-1" style="height: 600px; width: 100%; text-align: center; color: #999; line-height: 600px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div>
<script nonce="Y5cjSXiHWepKwGmXaGKylba+mCOui8Lxne9bI/r1F4Y=">
  (function() {
    if (document.documentElement.hasAttribute("data-turbolinks-preview")) return;
    if (document.documentElement.hasAttribute("data-turbo-preview")) return;

    var createChart = function() { new Chartkick["BarChart"]("chart-1", [["Higher professional",2.206],["Lower professional",4.353],["Intermediate",4.971],["Higher working",5.621],["Lower working",6.116]], {"round":2,"colors":["#C27A9A"],"aspectRatio":2,"library":{"indexAxis":"y","responsive":true,"maintainAspectRatio":false,"layout":{"padding":{"left":20,"right":20,"top":20,"bottom":20}},"plugins":{"datalabels":{"display":true,"anchor":"end","align":"right","offset":3,"clip":false,"color":"#5D5D5D","font":{"family":"Inter, sans-serif","size":15,"weight":"bold"}},"legend":{"display":false},"tooltip":{"bodyFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"titleFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"}}},"scales":{"x":{"grid":{"display":true,"drawTicks":false},"border":{"width":1,"color":"#5D5D5D","dash":[5,5]},"ticks":{"display":false}},"y":{"border":{"width":1,"color":"#5D5D5D"},"ticks":{"font":{"size":15,"family":"Inter, sans-serif"}}}}},"dataset":{"hoverBackgroundColor":"#C27A9A","backgroundColor":"#C27A9A","hoverBorderColor":"#C27A9A","borderWidth":0}}); };
    if ("Chartkick" in window) {
      createChart();
    } else {
      window.addEventListener("chartkick:load", createChart, true);
    }
  })();
</script>

</div>

      <p class="govuk-body datagovuk-body govuk-!-margin-top-4">
        <a href="/collections/people/social-mobility/charts/unemployment-by-socio-ecomomic-background.csv" class="govuk-link datagovuk-link">Download the chart data</a>
      </p>
  </section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://social-mobility.data.gov.uk/">Social mobility <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body">The page was last updated 24/3/2026</p>
    </section>
</section>

