
<h1 class="govuk-heading-l datagovuk-heading-l">Social mobility</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Find social mobility data for an area of the UK by searching a postcode or one of 205 regions. An area’s results page includes classifications for 4 measures of social mobility: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>promising prospects – how well young people from similar socio-economic backgrounds do in education and the labour market</li>
<li>conditions of childhood – whether the conditions children grow up in are good for promoting social mobility</li>
<li>labour market opportunities for young people – whether the area offers more or less favourable employment opportunities</li>
<li>innovation and growth – as measured by an area’s productivity level, ‘new economy’ jobs, and economically-active residents with postgraduate qualifications </li>

</ul>
<p class="govuk-body-m datagovuk-body">The data comes from the Social Mobility Commission and is used in State of the Nation, its annual report into social mobility in the UK.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://social-mobility.data.gov.uk/">
            Social mobility data <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

