
<h1 class="govuk-heading-l datagovuk-heading-l">Vocational qualifications</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Get data on vocational qualifications from 2012 to the present for England. The data is owned by the Office of Qualifications and Examinations Regulation (Ofqual) and updated quarterly. The data includes certificates issued for vocational and other qualifications. This excludes GCSEs, AS and A levels, Advanced Extension Awards, apprenticeship end-point assessments, Extended Project Qualifications and T Level Technical Qualifications. </p>
<p class="govuk-body-m datagovuk-body">As well as downloading the entire dataset as a CSV, you can view and download quarterly releases for every year since 2014. Each release includes a commentary with some of the findings and trends for the quarter. </p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
        <ul class="govuk-list datagovuk-list datagovuk-collection-get-data__list">
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/collections/statistics-vocational-qualifications">Vocational qualifications</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/collections/statistics-vocational-qualifications">Vocational and other qualifications: quarterly releases</a>
                </li>
        </ul>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body datagovuk-!-colour-grey">The page was last updated 24/3/2026</p>
    </section>
</section>

