
<h1 class="govuk-heading-l datagovuk-heading-l">Dwelling stock (including vacancies)</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Dwelling stock represents the total number of residential properties in a given area. The Ministry of Housing, Communities and Local Government publishes various data for England in ODS format. The data includes the number of dwellings by tenure and district in England since 2009, and local authority dwelling stock by English district from 1979. You can also explore the data for local authority vacant dwellings in England from 1980, and access discontinued tables with data that includes the other UK nations.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/statistical-data-sets/live-tables-on-dwelling-stock-including-vacants">Dwelling stock <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

