<h1 class="govuk-heading-l datagovuk-heading-l">Dwelling stock (including vacancies)</h1>

<p class="govuk-body-m datagovuk-body">Get the latest data tables including: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>the number of dwellings by tenure and district, England </li>
<li>by tenure and region, from 1991</li>
<li>Private Registered Provider stock, by district, from 1997 </li>
<li>local authority dwelling stock, by district, England, from 1979 </li>

</ul>
<p class="govuk-body-m datagovuk-body">There are also live tables on vacant stock: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>local authority vacant dwellings, England, from 1980</li>
<li>vacant dwellings by local authority district: England, from 2004</li>

</ul>



<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data/dataset useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/statistical-data-sets/live-tables-on-dwelling-stock-including-vacants">
            Dwelling stock data <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

