
<h1 class="govuk-heading-l datagovuk-heading-l">Energy performance of buildings</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Learn about the energy efficiency of domestic and non-domestic buildings in England and Wales that have been constructed, sold or let since 2008. The data is based on information and publications from certificates held on the Energy Performance of Buildings Register. Publications are quarterly and go back to 2014. The data is aggregated and does not comment on individual buildings.</p>
</section>

<section class="govuk-section datagovuk-section">
</section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/collections/energy-performance-of-buildings-certificates">
            Energy performance of buildings <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

