
<h1 class="govuk-heading-l datagovuk-heading-l">English Housing Survey</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Explore a range of datasets about people’s housing circumstances and the condition and energy efficiency of the English housing stock. The data is updated each year as part of the English Housing Survey published by the Ministry of Housing, Communities and Local Government. You can download the datasets in ODS format, with most going back to 2008. The datasets include: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>parking, mains gas and EV charge points</li>
<li>dwelling condition, safety and security</li>
<li>energy performance, heating and insulation</li>
<li>social and private renters</li>
<li>leaseholders</li>

</ul>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/collections/english-housing-survey-live-tables">English Housing Survey <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

