
<h1 class="govuk-heading-l datagovuk-heading-l">Fire statistics</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">View or download a wide range of datasets covering fires, false alarms and other incidents attended by fire crews. The statistics include the numbers of incidents, fires, fatalities and casualties, as well as information on response times to fires. The Ministry of Housing, Communities and Local Government (MHCLG) also collects information on the workforce, fire prevention work, health and safety and firefighter pensions.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/statistical-data-sets/fire-statistics-data-tables">
            Fire statistics <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

