<h1 class="govuk-heading-l datagovuk-heading-l">Housing supply</h1>

<p class="govuk-body-m datagovuk-body">Get the latest data on ‘housing supply: indicators of new supply’ in England. The live data tables include permanent dwellings: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>started and completed, by tenure (quarterly) since 1978</li>
<li>started and completed, by tenure and region (quarterly) since 1990</li>
<li>started and completed, by tenure (quarterly seasonally adjusted) since 2000</li>
<li>started and completed, by tenure, historical calendar year series since 1946</li>
<li>started and completed, by tenure and district since 1980-81</li>
<li>started and completed, by tenure and district (quarterly) since 2005</li>
<li>completed, by house and flat, number of bedroom and tenure</li>

</ul>



<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data/dataset useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/statistical-data-sets/live-tables-on-house-building">
            Housing supply data <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

