
<h1 class="govuk-heading-l datagovuk-heading-l">Housing supply</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Explore various datasets about housing supply in England provided by the Ministry of Housing, Communities and Local Government. The data includes permanent dwellings started and completed by private enterprises, housing associations and local authorities for each quarter since 1978. You can get similar data broken down for each English region for every quarter since 1990. </p>
<p class="govuk-body-m datagovuk-body">Each dataset is available in ODS format. There are also discontinued datasets that include the other UK nations.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/statistical-data-sets/live-tables-on-house-building">Housing supply <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body">The page was last updated 24/3/2026</p>
    </section>
</section>

