
<h1 class="govuk-heading-l datagovuk-heading-l">Land and property ownership</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Find information about a property in England or Wales via HM Land Registry, or in Scotland via Registers of Scotland. With HM Land Registry you’ll need to set up an account first. It’s then free to get a property summary and, from the datasets page, download most of the data in CSV or GML format. There’s a charge to get a title register or title plan. </p>
<p class="govuk-body-m datagovuk-body">You can also get information about the extent of registered land in England and Wales via the National Polygon Service. The service contains 3 licensed, chargeable datasets that provide the indicative shape and position of boundaries, legal interests and class of title, and unique property reference numbers. </p>
<p class="govuk-body-m datagovuk-body">With Registers of Scotland, you can search the land register to find property prices, view boundaries on a map or check if land or property is on the register. There’s a charge for the title sheet, which includes current owners and other information. </p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
        <ul class="govuk-list datagovuk-list datagovuk-collection-get-data__list">
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/search-property-information-land-registry">HM Land Registry</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://use-land-property-data.service.gov.uk">HM Land Registry datasets</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/guidance/national-polygon-service">National Polygon Service</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.ros.gov.uk">Registers of Scotland</a>
                </li>
        </ul>
            <ul class="govuk-list datagovuk-list datagovuk-collection-get-data__list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://use-land-property-data.service.gov.uk/api-information">HM Land Registry API</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body">The page was last updated 24/3/2026</p>
    </section>
</section>

