
<h1 class="govuk-heading-l datagovuk-heading-l">Nationwide house price calculator</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Find out how much a property could be worth, and how its value has changed over time. The calculator gives a rough idea of average UK house prices or prices in an area, based on region or postcode. The data comes from Nationwide’s house price index and is based on information from its lending for owner-occupier houses.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.nationwide.co.uk/house-price-index/">
            House price calculator <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

