<h1 class="govuk-heading-l datagovuk-heading-l">Planning data</h1>

<p class="govuk-body-m datagovuk-body">The planning datasets page allows you to download a range of datasets based on geography, category, legal Instrument, document, organisation, policy, metric and timetable. Or for the latest data, view the live tables for statistics on planning applications at national and local planning authority level. </p>
<p class="govuk-body-m datagovuk-body">Note: This product is still in active development so data may not yet be complete.</p>



<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.planning.data.gov.uk">
            Planning and housing data <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://www.planning.data.gov.uk/docs">Planning Data API</a>
                    </li>
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://www.planning.data.gov.uk/dataset/">Plannign data datasets</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

