
<h1 class="govuk-heading-l datagovuk-heading-l">Planning data</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Find land and housing data in England to inform planning and housing decisions. Built by the Ministry of Housing, Communities and Local Government, the Planning Data portal collects data from various datasets grouped by geography, category, legal instrument, document, organisation, policy, metric and timetable. To explore the data on a map, enter a postcode, Unique Property Reference Number (UPRN) or Local Planning Authority and then filter the results with combinations of more than 50 data layers such as brownfield site or conservation area. Alternatively, you can search the data in bulk, filter by location, date and UPRN, and download the data as a JSON file. The portal is still in development so data may not be complete yet.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.planning.data.gov.uk">Planning and housing data <span class="datagovuk-right-arrow">&#8594;</span></a>
            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://www.planning.data.gov.uk/docs">Planning Data API</a>
                    </li>
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://www.planning.data.gov.uk/dataset/">Planning data datasets</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

