<h1 class="govuk-heading-l datagovuk-heading-l">Property price paid</h1>

<p class="govuk-body-m datagovuk-body">Property price paid data is a comprehensive record of residential property transactions in England and Wales, as recorded by HM Land Registry. The data includes the sale price, date of transfer, property type (detached, semi-detached, terraced, flat/maisonette, or other), tenure (freehold or leasehold), and whether the property is a new build. Find properties by searching on any combination of these characteristics. You can use this data to understand market activity, conduct research and inform decisions about buying and selling property.</p>



<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data/dataset useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://landregistry.data.gov.uk/app/ppd">
            Search the property price paid dataset <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://www.gov.uk/government/statistical-data-sets/price-paid-data-downloads">Download the price paid dataset</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

