<h2 class="govuk-heading-l datagovuk-heading-l">Property price paid</h2>
<p class="govuk-body-m datagovuk-body">Find property transactions through HM Land Registry by searching on address, type of property or a price or date range. Property types include terraced, detached, semi-detached, flat or maisonette, and other. You can filter properties based on freehold or leasehold, and new build or not new build.</p>
<p class="govuk-body-m datagovuk-body">You can also search the UK house price index to find house price trends in the UK, or download quarterly house price data from the Office for National Statistics (ONS).</p>




<div class="govuk-inset-text datagovuk-feedback-inset-text">
    Is this data/dataset useful? <a href="#" class="govuk-link datagovuk-link">Give us feedback here.</a>
</div>

<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>

    <section class="datagovuk-section">
        <a role="button" class="govuk-button datagovuk-more-info-btn" rel="nofollow" href="https://landregistry.data.gov.uk/app/ppd/">
            More information <span class='datagovuk-right-arrow'>&#8594;</span>
</a>        <ul class="datagovuk__list">
                <li class="datagovuk__item datagovuk__item--active">
                    <a href="https://use-land-property-data.service.gov.uk/api-information" aria-current="location">API documentation</a>
                </li>
            <li class="datagovuk__item datagovuk__item--active">
                <a href="#1" aria-current="location">Download the datasets</a>
            </li>
        </ul>
    </section>

    <section class="datagovuk-section">
            <p>The page was last updated 2026-01-23</p>
    </section>
</section>