
<h1 class="govuk-heading-l datagovuk-heading-l">Rents, lettings and tenancies</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Get the latest data tables on: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>the number of households on local authority housing registers (waiting lists), by district, England from 1987 </li>
<li>local authority owned dwellings let by local authorities, England, from 1981-82 </li>
<li>evictions from local authority owned dwellings by reason, England, from 2010-11</li>

</ul>
<p class="govuk-body-m datagovuk-body">You can also view historical data on local authority dwelling stock and average weekly rents.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.gov.uk/government/statistical-data-sets/live-tables-on-rents-lettings-and-tenancies">
            Rents, lettings and tenancies <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

