/* 
  Breaking out of our BEM conventions for cookie banner overrides as 
  the banner was taken from govuk-publishing-components and depends on 
  certain classes for javascript to work.
*/
.js-enabled #global-cookie-message {
  display: none;
}

#global-cookie-message {
  background-color: $datagovuk-light-grey;
  margin: 20px 0;
}

#global-cookie-message .gem-c-button {
  display: none;
}

.datagovuk-cookie-banner {
  background-color: $datagovuk-light-grey;
}

.govuk-button-group .govuk-link.datagovuk-link {
  @extend .datagovuk-body;
}
