.govuk-header__link {
    color: $link_color;
}

.govuk-header__link:link,
.govuk-header__link:visited {
    color: $link_color;
}

.datagovuk-govuk-header,
.govuk-header {
    background: govuk-colour("white");
    color: govuk-colour("blue");
}

// Navigation

.datagovuk__nav img {
    width: 50%;
    object-fit: contain;
    float: left;
}

.datagovuk__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datagovuk__nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.datagovuk__nav .govuk-header__link {
    font-size: 22px;
}