---
title: MOT results
collection: Transport
website: https://www.gov.uk/government/statistical-data-sets/mot-testing-data-for-great-britain
api:
dataset:
page-last-updated:
visualisation-data:
contact:
status: for-publication
---

A range of datasets about MOT testing in Great Britain, including results by vehicle type, failures by type of defect, and MOT test stations and testers. Datasets include: 

- MOT results by class of vehicle (updated every 3 months)
- initial failures by defect category (updated every 3 months)
- MOT test stations and testers (updated once a year)
- action against MOT authorised examiners and MOT testers (updated once a year) 

This dataset comes from data held by the Driver and Vehicle Standards Agency (DVSA). 