<% content_for :page_title, "Data manual" %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      Side nav
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= render partial: "v2/data_manual/content/#{params[:content_slug]}"  %>
    </div>
  </div>
</div>
