<% content_for :page_title, "Data manual" %>

<section class="datagovuk-data-manual-section">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render partial: "v2/components/gridlist_3column_icons", locals: {
          items: [
            {
              title: "Who this manual is for",
              url: "#",
              body: "Find out if this manual can help you and why it's important.",
              icon: "user",
            },
            {
              title: "Data management",
              url: "#",
              body: "Understand data roles and responsibilities, and how to manage data quality.",
              icon: "database",
            },
            {
              title: "Data standards",
              url: "#",
              body: "A range of standards for improving how data is used across government.",
              icon: "document",
            },
            {
              title: "Security",
              url: "#",
              body: "Strategies, policies and guidance to make your service safer.",
              icon: "padlock",
            },
            {
              title: "Data protection and privacy",
              url: "#",
              body: "How to comply with the Data Protection Act 2018 and UK GDPR.",
              icon: "shield",
            },
            {
              title: "Data sharing",
              url: "#",
              body: "Frameworks and guides about sharing data between government organisations.",
              icon: "sharing",
            },
            {
              title: "AI and data-driven technologies",
              url: "#",
              body: "How to build APIs in government and improve API standards.",
              icon: "stars",
            },
            {
              title: "General guidance",
              url: "#",
              body: "Where to start when you're creating a new public service.",
              icon: "open-book",
            },
          ]
        } %>
      </div>
    </div>
  </div>
</section>

<section class="datagovuk-data-manual-section">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render partial: "v2/components/feedback" %>
      </div>
    </div>
  </div>
</section>

<section class="datagovuk-data-manual-section">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <%= render partial: "v2/components/cta", locals: {
          title: "Get in touch",
          url: "#",
          body: "We’d love your feedback. Is this manual useful? Can we improve it?",
          icon: "phone",
        } %>
      </div>
      <div class="govuk-grid-column-one-half">
        <%= render partial: "v2/components/cta", locals: {
          title: "Join a data community",
          url: "#",
          body: "Find Slack channels, events and other ways to connect with data practitioners.",
          classes: "datagovuk-cta--secondary",
          icon: "community",
        } %>
      </div>
    </div>
  </div>
</section>
