<% content_for :page_title, "Data manual" %>

<div class="govuk-width-container datagovuk-width-container">
  <section class="govuk-!-margin-bottom-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render partial: "v2/components/data_manual_grid", locals: {
          items: @data_manual_pages
        } %>
      </div>
    </div>
  </section>

  <section class="govuk-!-margin-bottom-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render partial: "v2/components/feedback" %>
      </div>
    </div>
  </section>

  <section class="govuk-!-margin-bottom-9">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <div class="datagovuk-data-manual-card">
          <%= image_tag "v2/icons/form.svg", class: "datagovuk-data-manual-card__icon", alt: "" %>
          <h2 class="govuk-body datagovuk-body">
            <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link datagovuk-!-colour-dark-green">Get in touch</a>
          </h2>
          <p class="govuk-body datagovuk-body govuk-!-margin-bottom-0 datagovuk-!-colour-dark-green">
            We’d love your feedback. Is this manual useful? Can we improve it?
          </p>
        </div>
      </div>

      <div class="govuk-grid-column-one-half">
        <div class="datagovuk-data-manual-card datagovuk-data-manual-card--secondary">
          <%= image_tag "v2/icons/community.svg", class: "datagovuk-data-manual-card__icon", alt: "" %>
          <h2 class="govuk-body datagovuk-body">
            <a href="/data-manual/join-a-data-community" class="govuk-link datagovuk-link datagovuk-!-colour-dark-pink">Join a data community</a>
          </h2>
          <p class="govuk-body datagovuk-body govuk-!-margin-bottom-0 datagovuk-!-colour-dark-pink">
            Find Slack channels, events and other ways to connect with data practitioners.
          </p>
        </div>
      </div>

    </div>
  </section>
</div>
