<section class="datagovuk-headline govuk-section datagovuk-section govuk-!-margin-top-8">
  <h2 class="govuk-body datagovuk-body govuk-!-margin-bottom-2">
    <%= title %>
  </h2>
  <div class="datagovuk-headline__columns">
    <% items.each do |item|  %>
      <%= render partial: "v2/collection/charts/headline/column", locals: item %>
    <% end %>
  </div>
</section>
