
<h1 class="govuk-heading-l datagovuk-heading-l">Aerial photography mapping</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Oblique aerial photography and vertical aerial photography are airborne mapping techniques:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list datagovuk-body">
  <li>oblique aerial photography uses a professional grade DSLR camera to capture images from the side of an aircraft</li>
<li>vertical aerial photography uses a high-resolution camera mounted vertically underneath an aircraft to capture reflected light in the red, green, blue, and, for some datasets, near infra-red spectrum </li>

</ul>
<p class="govuk-body-m datagovuk-body">The Environment Agency has been capturing oblique aerial photography since 2010 and vertical aerial photography since 2006. Oblique aerial photographic images are available as JPEG images. Each image contains metadata for a geo-referenced GPS coordinate of the plane during exposure in WGS1984 latitude, longitude. </p>
<p class="govuk-body-m datagovuk-body">Vertical aerial photography data is available as a raster dataset in ECW (enhanced compressed wavelet) format as either a true colour (RGB), near infra-red (NIR) or a 4-band (RGBN) raster. You can download aerial photography data in various formats including GDB, GeoJSON and GPKG.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
        <ul class="govuk-list datagovuk-list datagovuk-collection-get-data__list">
                <li>
                    <a class="govuk-link datagovuk-link" href="https://environment.data.gov.uk/dataset/32e2ff04-0c14-4544-b107-baa1552d0eee">Oblique aerial photography</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://environment.data.gov.uk/dataset/dae203a8-ba24-4c54-bab0-866b9faadb58">Vertical aerial photography</a>
                </li>
        </ul>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body">The page was last updated 24/3/2026</p>
    </section>
</section>

