
<h1 class="govuk-heading-l datagovuk-heading-l">Air quality</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">The AIR Information Resource (UK AIR) stores 3 types of data: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>air quality monitoring data collected from over 1,500 sites across the UK</li>
<li>descriptive statistics – for each monitoring site you can select a range of statistics which are relevant to the particular monitoring method, for example annual mean or maximum and minimum values</li>
<li>exceedance statistics – these provide information about concentrations above a specific threshold value, for example the average number of days per site on which pollution levels were above National Air Quality Standards</li>

</ul>
<p class="govuk-body-m datagovuk-body">This data is published by the Department for Environment, Food and Rural Affairs (DEFRA) devolved administrations under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/" class="govuk-link datagovuk-link datagovuk-link--secondary">Open Government Licence</a> (OGL).</p>
</section>

<section class="govuk-section datagovuk-section">
</section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://uk-air.defra.gov.uk/data/">
            Air quality data <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

