
<h1 class="govuk-heading-l datagovuk-heading-l">Air quality</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">The AIR Information Resource (UK AIR) stores 3 types of data: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>air quality monitoring data collected from over 1,500 sites across the UK</li>
<li>descriptive statistics – for each monitoring site you can select a range of statistics which are relevant to the particular monitoring method, for example annual mean or maximum and minimum values</li>
<li>exceedance statistics – these provide information about concentrations above a specific threshold value, for example the average number of days per site on which pollution levels were above National Air Quality Standards</li>

</ul>
<p class="govuk-body-m datagovuk-body">This data is published by the Department for Environment, Food and Rural Affairs (DEFRA) devolved administrations under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/" class="govuk-link datagovuk-link datagovuk-link--secondary">Open Government Licence</a> (OGL).</p>
</section>

    <section class="govuk-section datagovuk-section">
      
<section class="govuk-section datagovuk-section">
  <h2 class="govuk-heading-m datagovuk-heading-m">Mean number of days per urban site when air pollution was ‘Moderate’ or higher in the UK, 2010 to 2024</h2>

  <div class="govuk-grid-row line-chart">
    <div id="chart-1" style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div>
<script nonce="dQkYk/JyEo5mS0ycnM5r7b8MoYl0QoZulaqgCxLtOZc=">
  (function() {
    if (document.documentElement.hasAttribute("data-turbolinks-preview")) return;
    if (document.documentElement.hasAttribute("data-turbo-preview")) return;

    var createChart = function() { new Chartkick["LineChart"]("chart-1", [{"color":"#C27A9A","data":{"2010":15.58181818,"2011":23.55357143,"2012":18.19642857,"2013":15.25,"2014":12.92727273,"2015":10.21052632,"2016":8.786885246,"2017":7.609375,"2018":8.850746269,"2019":12.1375,"2020":9.94047619,"2021":4.4,"2022":9.308510638,"2023":8.571428571,"2024":6.201923077},"dataset":{"pointRadius":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,4],"pointStyle":["rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot"]}}], {"suffix":null,"points":true,"dataset":{"empty":"No data available","tension":0.5,"pointRadius":0,"pointHoverRadius":10},"library":{"plugins":{"datalabels":{"display":false},"legend":{"display":true,"labels":{"color":"#5D5D5D","font":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"padding":30,"usePointStyle":true}},"tooltip":{"bodyFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"titleFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"}}},"responsive":true,"layout":{"padding":{"top":20,"bottom":20,"left":20,"right":20}},"scales":{"y":{"min":0,"grid":{"display":true},"border":{"dash":[5,5]},"ticks":{"stepSize":0,"maxTicksLimit":10,"autoSkip":false,"font":{"size":20}}},"x":{"border":{"display":true},"ticks":{"font":{"size":20}}}}},"legend":"bottom"}); };
    if ("Chartkick" in window) {
      createChart();
    } else {
      window.addEventListener("chartkick:load", createChart, true);
    }
  })();
</script>

  </div>
  <p class="govuk-body datagovuk-body"><a href="https://www.gov.uk/government/statistics/air-quality-statistics/days-with-moderate-or-higher-air-pollution-includes-sulphur-dioxide" class="govuk-link datagovuk-link">Download the chart data</a></p>
</section>

    </section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://uk-air.defra.gov.uk/data/">
            Air quality data <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

