
<h1 class="govuk-heading-l datagovuk-heading-l">Climate projections</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Get UK climate projections from the Met Office. This page provides climate model projections for the UK, showing how the climate is likely to change in the future until 2100. </p>
<p class="govuk-body-m datagovuk-body">You can access high-resolution, spatially-coherent, future climate projections for the globe at 60km scale and for the UK at 12 km scale. The 12km climate model allows for realistic simulations of high-impact events such as localised heavy rainfall in summer, projections of sea-level rise and storm surges.</p>
<p class="govuk-body-m datagovuk-body">The data includes: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list datagovuk-body">
  <li>spreadsheets in XLSX format of results based on probabilistic and sea level projections</li>
<li>maps with projections over land for different variables across UK nations, administrative regions and river basins until 2099</li>

</ul>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.metoffice.gov.uk/research/approach/collaboration/ukcp">Climate projections <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body">The page was last updated 24/3/2026</p>
    </section>
</section>

