
<h1 class="govuk-heading-l datagovuk-heading-l">Coastal erosion</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">View the National Coastal Erosion Risk Map which shows projected areas in the UK at risk from erosion. The erosion risk zones are created by splitting the coastline into ‘frontages’ – lengths of coast with consistent characteristics based on location, cliff behaviour characteristics and defence characteristics.</p>
<p class="govuk-body-m datagovuk-body">This dataset is intended to be an up-to-date and reliable benchmark that shows erosion risk extents for:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list datagovuk-body">
  <li>the medium term (up to 2055) and long term (up to 2105)</li>
<li>2 management scenarios – with shoreline management plans delivered, and with no future intervention</li>
<li>3 climate scenarios – Present Day, Higher Central and Upper End </li>

</ul>
<p class="govuk-body-m datagovuk-body">The data is owned by the Department for Environment, Food and Rural Affairs.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://environment.data.gov.uk/dataset/9fede91f-5acd-4fd2-9bd8-98153fa3c2ff">Coastal erosion data <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body">The page was last updated 24/3/2026</p>
    </section>
</section>

