
<h1 class="govuk-heading-l datagovuk-heading-l">Flood alerts</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Check for flood alerts and warnings by searching for a town, city or postcode in England, or view a map of flood alert areas. You can also view lists of places where flooding is currently expected or possible, which are updated every 24 hours. </p>
<p class="govuk-body-m datagovuk-body">The page for an area at risk provides detailed commentary about the situation, action to take and when the message will next be updated.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://check-for-flooding.service.gov.uk/alerts-and-warnings">Flood alerts <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body">The page was last updated 24/3/2026</p>
    </section>
</section>

