
<h1 class="govuk-heading-l datagovuk-heading-l">Forest and woodlands</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">The National Forest Inventory woodland map covers all forest and woodland area over 0.5 hectare with a minimum of 20% canopy cover, or the potential to achieve it, and a minimum width of 20 metres. Search the map of England and Wales by zooming in or drawing an area, and filter by various factors such as the type of woodland. Download the results as a CSV, SHP, GeoJSON or KML format.</p>
</section>

<section class="datagovuk-headline govuk-section datagovuk-section govuk-!-margin-top-8">
    
<h2 class="govuk-heading-m datagovuk-heading-m">Woodland area in the UK (thousand hectares), 2005 to 2025</h2>

<div class="govuk-grid-row line-chart">
  <div id="chart-1" style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div>
<script nonce="+oMY0HjFaZoc9biOioBJpajYgdUUAQJtuaI3Uc0vibM=">
  (function() {
    if (document.documentElement.hasAttribute("data-turbolinks-preview")) return;
    if (document.documentElement.hasAttribute("data-turbo-preview")) return;

    var createChart = function() { new Chartkick["LineChart"]("chart-1", [{"color":"#C27A9A","data":{"2005":3021,"2006":3030,"2007":3041,"2008":3048,"2009":3054,"2010":3059,"2011":3067,"2012":3110,"2013":3126,"2014":3143,"2015":3155,"2016":3159,"2017":3164,"2018":3175,"2019":3198,"2020":3215,"2021":3223,"2022":3246,"2023":3258,"2024":3271,"2025":3286},"dataset":{"pointRadius":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4],"pointStyle":["rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot"]}}], {"suffix":null,"points":true,"dataset":{"empty":"No data available","tension":0.5,"pointRadius":0,"pointHoverRadius":10},"library":{"plugins":{"datalabels":{"display":false},"legend":{"display":false,"labels":{"color":"#5D5D5D","font":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"padding":30,"usePointStyle":true}},"tooltip":{"bodyFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"titleFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"}}},"responsive":true,"layout":{"padding":{"top":20,"bottom":20,"left":20,"right":20}},"scales":{"y":{"min":0,"grid":{"display":true},"border":{"dash":[5,5]},"ticks":{"stepSize":0,"maxTicksLimit":10,"autoSkip":false,"font":{"size":20}}},"x":{"border":{"display":true},"ticks":{"font":{"size":20}}}}},"legend":"bottom"}); };
    if ("Chartkick" in window) {
      createChart();
    } else {
      window.addEventListener("chartkick:load", createChart, true);
    }
  })();
</script>

</div>


    <p class="govuk-body datagovuk-body govuk-!-margin-top-4">
      <a href="/collections/environment/forest-and-woodlands/charts/woodland-area.csv" class="govuk-link datagovuk-link">Download the chart data</a>
    </p>
</section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://data-forestry.opendata.arcgis.com/datasets/0682c7cb180e4abe9dee7e4d5cc35784_0/explore">National Forest Inventory map <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

