
<h1 class="govuk-heading-l datagovuk-heading-l">Landfill sites</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Access a polygon dataset containing the boundaries of landfill sites that are currently authorised by the Environment Agency. You can filter the data based on various descriptor codes – for example, for industrial waste or licence revoked. When a landfill site stops accepting waste, it’s removed from the dataset (which is updated every 3 months) and added to the historic landfill site dataset (updated every 6 months). </p>
<p class="govuk-body-m datagovuk-body">You can download the data by area of interest or the entire dataset, and in various formats including GDB, GeoJSON, GPKG, LYR and SHP.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://environment.data.gov.uk/dataset/692eaecf-d465-11e4-ac2e-f0def148f590">Landfill sites <span class="datagovuk-right-arrow">&#8594;</span></a>
            <ul class="govuk-list datagovuk-list datagovuk-collection-get-data__list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://environment.data.gov.uk/dataset/7a955570-d465-11e4-a37c-f0def148f590">Historic landfill sites</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

