
<h1 class="govuk-heading-l datagovuk-heading-l">LIDAR</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">LIDAR (Light Detection and Ranging) is an airborne mapping technique which uses a laser to measure the height of the terrain and surface objects on the ground such as trees and buildings. The LIDAR dataset provided by the Environment Agency is a valuable resource for accurate elevation data in the UK. It includes a Digital Terrain Model covering approximately 99% of England at a 1m spatial resolution. You can use the model to analyse slopes, create contours or visualise landscape features – useful for topographic mapping, environmental monitoring and many other applications. You can download the data as GeoTiff rasters in 5km tiles aligned to the Ordnance Survey National Grid.</p>
</section>

<section class="govuk-section datagovuk-section">
</section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://environment.data.gov.uk/dataset/13787b9a-26a4-4775-8523-806d13af58fc">
            LIDAR Composite Digital Terrain Model <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

