
<h1 class="govuk-heading-l datagovuk-heading-l">Long term flood risk</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Use this service to find out:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>the long-term flood risk for an area in England</li>
<li>how climate change might increase the chance of flooding in an area</li>
<li>the possible causes of flooding</li>
<li>how to manage flood risk </li>

</ul>
<p class="govuk-body-m datagovuk-body">Search a postcode to learn the flood risk of the land in that area (excluding buildings). Results include the chance of flooding from surface water, river and the sea, groundwater and reservoirs. Projections are both yearly and longer term – typically looking 2 to 4 decades ahead – with the risk based on very low, low, medium and high chance. </p>
<p class="govuk-body-m datagovuk-body">There are separate searches for Scotland and Wales, based on postcode, or for Northern Ireland view an interactive map of areas prone to flooding. </p>
<p class="govuk-body-m datagovuk-body">There’s also a service to get flood risk information for planning applications in England. You can use the service to find out if you need a flood risk assessment, download a flood map and request flood risk data.</p>
</section>

<section class="govuk-section datagovuk-section">
</section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
        <ul class="govuk-list datagovuk-list">
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.gov.uk/check-long-term-flood-risk">Flood risk in England</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://map.sepa.org.uk/floodmaps">Flood risk in Scotland</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://naturalresources.wales/splash?orig=%2fflooding%2fcheck-your-flood-risk-by-postcode%2f">Flood risk in Wales</a>
                </li>
                <li>
                    <a class="govuk-link datagovuk-link" href="https://www.nidirect.gov.uk/articles/check-risk-flooding-your-area">Flood risk in Northern Ireland</a>
                </li>
        </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

