
<h1 class="govuk-heading-l datagovuk-heading-l">Main rivers</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">The main rivers map is a spatial (polyline) dataset that allows you to explore rivers in England that are designated as ‘main rivers’ by statute. The Environment Agency carries out maintenance, improvement or construction work on main rivers to manage flood risk. On the datasets page, you can also download the data in various formats including GDP, GeoJSON, GPKG, LYR and SHP.</p>
</section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.arcgis.com/apps/webappviewer/index.html?id=17cd53dfc524433980cc333726a56386">
            Main rivers map <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://environment.data.gov.uk/dataset/25dde009-ba7d-40de-8380-c5c3bb32ccdc">Main rivers map: datasets</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

