
<h1 class="govuk-heading-l datagovuk-heading-l">Non-woodland trees</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">View a map of England’s trees outside woodlands, which make up 30% of the nation’s tree cover. The map: </p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>identifies canopy cover over 3m tall and 5m2 area which exists outside the National Forest Inventory</li>
<li>displays woodland types – lone tree, group of trees, small woodland – for each English region</li>
<li>also displays the National Forest Inventory England map, allowing for side-by-side comparison with trees outside woodland </li>

</ul>
<p class="govuk-body-m datagovuk-body">On the datasets page, you can download the full map data as a GDP file or download ZIP files of data for each English region.</p>
</section>

<section class="govuk-section datagovuk-section">
</section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://ncea.maps.arcgis.com/apps/instant/sidebar/index.html?appid=cf571f455b444e588aa94bbd22021cd3">
            Trees outside woodland map <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://environment.data.gov.uk/dataset/9c41b3c6-2453-44f6-9900-e7821f1a1072">Trees outside woodland: datasets</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

