<h1 class="govuk-heading-l datagovuk-heading-l">Public registers</h1>

<p class="govuk-body-m datagovuk-body">Use this service to find:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>environmental permits and licences</li>
<li>exemptions</li>
<li>waste carriers, brokers and dealers</li>
<li>scrap metal dealers</li>
<li>environmental permits and licences with any available Compliance Assessment Reports (CARs) </li>

</ul>
<p class="govuk-body-m datagovuk-body">Search either a specific register, or search all registers by business name, permit number, local authority or address. Results include the registration details of each business. You can download the results of your search as a CSV, or download the data for a specific local authority or the complete register.</p>



<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data/dataset useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://environment.data.gov.uk/public-register/view/index">
            Public registers <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

