
<h1 class="govuk-heading-l datagovuk-heading-l">Road noise</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Get data indicating the level of noise according to the strategic noise mapping of road sources across England. The data comes from analysis undertaken in 2022 and is provided by the Department for Environment, Food and Rural Affairs. The data includes noise indicators for:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list datagovuk-body">
  <li>daytime noise (07:00-19:00) based on an annual average</li>
<li>evening noise (19:00-23:00) based on an annual average</li>
<li>night-time noise (23:00-07:00) based on an annual average</li>
<li>the annual average steady noise level over a 16-hour daytime period (07:00 to 23:00)</li>
<li>overall annoyance over 24 hours, based on an annual average, with penalties for evening and night-time noise</li>

</ul>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://environment.data.gov.uk/dataset/562c9d56-7c2d-4d42-83bb-578d6e97a517">Road noise <span class="datagovuk-right-arrow">&#8594;</span></a>
    </section>
    <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body">The page was last updated 24/3/2026</p>
    </section>
</section>

