
<h1 class="govuk-heading-l datagovuk-heading-l">Sites of Special Scientific Interest</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Sites of Specific Scientific Interest (SSSIs) are designated areas in the UK recognised for their ecological or geological significance. SSSIs support many characteristic, rare and endangered species, habitats and natural features. Download data for SSSIs in England in various formats, or find SSSIs for an area on the interactive map.</p>
</section>

<section class="govuk-section datagovuk-section">
</section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://naturalengland-defra.opendata.arcgis.com/datasets/Defra::sites-of-special-scientific-interest-england/about">
            Sites of Specific Scientific Interest (England) <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://naturalengland-defra.opendata.arcgis.com/datasets/Defra::sites-of-special-scientific-interest-england/explore">Sites of Specific Scientific Interest (England): map</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

