
<h1 class="govuk-heading-l datagovuk-heading-l">Sites of Special Scientific Interest</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Find Sites of Specific Scientific Interest (SSSIs) in England. SSSIs are designated areas recognised for their ecological or geological significance. They support many characteristic, rare and endangered species, habitats and natural features. You can download data in various formats including CSV, Shapefile, GeoJSON, KML, XLSX and GeoPackage, or find SSSIs for an area on the interactive map. The data is provided by Natural England – a public body sponsored by the Department for Environment, Food and Rural Affairs.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://naturalengland-defra.opendata.arcgis.com/datasets/Defra::sites-of-special-scientific-interest-england/about">Sites of Specific Scientific Interest (England) <span class="datagovuk-right-arrow">&#8594;</span></a>
            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://naturalengland-defra.opendata.arcgis.com/datasets/Defra::sites-of-special-scientific-interest-england/explore">Sites of Specific Scientific Interest (England): map</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

