
<h1 class="govuk-heading-l datagovuk-heading-l">Storm overflows</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Get an annual summary of the performance of storm overflows in England. This data is provided by Water and Sewerage Companies (WaSCs) and published by the Environment Agency. There are datasets for each year since 2020 that show the:</p>
<ul class="govuk-list govuk-list--bullet datagovuk-list">
  <li>number of storm overflows with event duration monitors (EDM)</li>
<li>number of storm overflows returning spill counts</li>
<li>average spill duration and average spill count for each WaSC </li>

</ul>
<p class="govuk-body-m datagovuk-body">There’s also a dataset with long-term trends. You can download each dataset as a ZIP file or view the data on a map, with the ability to filter by year and WaSC.</p>
</section>

<section class="govuk-section datagovuk-section">
</section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://environment.data.gov.uk/dataset/21e15f12-0df8-4bfc-b763-45226c16a8ac">
            Storm overflows <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://experience.arcgis.com/experience/c9b8f3ba094c429aa30e0e2b6eaf43ac">Storm overflows – map</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

