
<h1 class="govuk-heading-l datagovuk-heading-l">Water quality</h1>

<section class="govuk-section datagovuk-section">
  <p class="govuk-body-m datagovuk-body">Use the Environment Agency’s Water Quality Explorer to access water quality data collected from tens of thousands of sampling points across England. The dataset covers all major water body types, including rivers, lakes, ponds, canals, groundwater, and coastal and estuarine waters. The data includes over 72 million observations derived from over 5 million samples collected since the year 2000. Search the map by drawing or selecting an area, and selecting an area type such as local authority, river basin district or water supply. You can then view observations about that area – such as sampling point, type of sample material and the measurement taken – and download the results as a CSV file.</p>
</section>


<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="#" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://environment.data.gov.uk/water-quality">
            Water quality explorer <span class="datagovuk-right-arrow">&#8594;</span>
</a>    </section>
    <section class="datagovuk-section">
    </section>
</section>

