<h2 class="govuk-heading-l datagovuk-heading-l">Weather</h2>
<p class="govuk-body-m datagovuk-body">Find a forecast for anywhere in the UK. Search by place or postcode on the Met Office website. Results include hourly forecasts, temperature, wind, humidity, visibility, chance of rain, UV, air pollution, sunrise and sunset. You can also apply filters, view local weather maps and check the last 3 days’ weather. </p>
<p class="govuk-body-m datagovuk-body">On the Met Office Climate Data Portal, you can explore and download climate datasets in a range of file formats, free of charge. You can also pay to access the data via API on the Weather DataHub. The hub’s products include atmospheric models, site-specific forecasts and map images.</p>




<div class="govuk-inset-text datagovuk-feedback">
    Is this data/dataset useful? <a href="#" class="govuk-link datagovuk-link">Give us feedback here.</a>
</div>

<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>

    <section class="datagovuk-section">
        <a role="button" class="govuk-button datagovuk-more-info-btn" rel="nofollow" href="https://www.metoffice.gov.uk/">
            More information <span class='datagovuk-right-arrow'>&#8594;</span>
</a>        <ul class="datagovuk__list">
                <li class="datagovuk__item datagovuk__item--active">
                    <a href="https://datahub.metoffice.gov.uk/" aria-current="location">API documentation</a>
                </li>
            <li class="datagovuk__item datagovuk__item--active">
                <a href="#1" aria-current="location">Download the datasets</a>
            </li>
        </ul>
    </section>

    <section class="datagovuk-section">
            <p>The page was last updated 2026-01-23</p>
    </section>
</section>