
<h1 class="govuk-heading-l datagovuk-heading-l">Weather</h1>

<section class="govuk-section datagovuk-section">
    <p class="govuk-body-m datagovuk-body">Find a forecast for anywhere in the UK. Search by place or postcode on the Met Office website. Results include hourly forecasts, temperature, wind, humidity, visibility, chance of rain, UV, air pollution, sunrise and sunset. You can also apply filters, view local weather maps and check the last 3 days’ weather. </p>
<p class="govuk-body-m datagovuk-body">On the Met Office Climate Data Portal, you can explore and download climate datasets in a range of file formats, free of charge. You can also pay to access the data via API on the Weather DataHub. The hub’s products include atmospheric models, site-specific forecasts and map images.</p>
</section>

    <section class="govuk-section datagovuk-section">
      
<section class="govuk-section datagovuk-section">
  <h2 class="govuk-heading-m datagovuk-heading-m">UK monthly maximum temperature (°C) at 25-year intervals</h2>

  <div class="govuk-grid-row line-chart">
    <div id="chart-1" style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div>
<script nonce="tdk8juzqECA51Wjv1TGsXEp3Y3ZZxY2yuFCdxlQqfAc=">
  (function() {
    if (document.documentElement.hasAttribute("data-turbolinks-preview")) return;
    if (document.documentElement.hasAttribute("data-turbo-preview")) return;

    var createChart = function() { new Chartkick["LineChart"]("chart-1", [{"name":"1900","color":"#1d70b8","data":{"Jan":6.0,"Feb":4.3,"Mar":6.0,"Apr":11.6,"May":13.4,"Jun":17.7,"Jul":20.3,"Aug":18.0,"Sep":17.0,"Oct":11.9,"Nov":8.6,"Dec":8.7},"dataset":{"pointRadius":[0,0,0,0,0,0,0,0,0,0,0,4],"pointStyle":["rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot","rectRot"]}},{"name":"1925","color":"#4c2c92","data":{"Jan":7.1,"Feb":6.7,"Mar":7.3,"Apr":10.3,"May":14.0,"Jun":18.5,"Jul":19.9,"Aug":18.3,"Sep":14.1,"Oct":12.9,"Nov":6.3,"Dec":4.8},"dataset":{"pointRadius":[0,0,0,0,0,0,0,0,0,0,0,4],"pointStyle":["rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect","rect"]}},{"name":"1950","color":"#00703c","data":{"Jan":6.2,"Feb":7.1,"Mar":10.3,"Apr":10.2,"May":14.3,"Jun":19.1,"Jul":18.7,"Aug":18.4,"Sep":15.0,"Oct":11.9,"Nov":7.5,"Dec":3.0},"dataset":{"pointRadius":[0,0,0,0,0,0,0,0,0,0,0,4],"pointStyle":["triangle","triangle","triangle","triangle","triangle","triangle","triangle","triangle","triangle","triangle","triangle","triangle"]}},{"name":"1975","color":"#f47738","data":{"Jan":8.1,"Feb":6.8,"Mar":6.9,"Apr":10.7,"May":13.0,"Jun":18.4,"Jul":19.9,"Aug":21.6,"Sep":15.8,"Oct":12.6,"Nov":8.6,"Dec":7.3},"dataset":{"pointRadius":[0,0,0,0,0,0,0,0,0,0,0,4],"pointStyle":["circle","circle","circle","circle","circle","circle","circle","circle","circle","circle","circle","circle"]}},{"name":"2000","color":"#d4351c","data":{"Jan":7.2,"Feb":8.1,"Mar":9.9,"Apr":10.6,"May":15.4,"Jun":17.3,"Jul":18.2,"Aug":19.6,"Sep":17.1,"Oct":12.5,"Nov":8.7,"Dec":7.0},"dataset":{"pointRadius":[0,0,0,0,0,0,0,0,0,0,0,4],"pointStyle":["circle","circle","circle","circle","circle","circle","circle","circle","circle","circle","circle","circle"]}},{"name":"2025","color":"#aa2e48","data":{"Jan":5.9,"Feb":7.4,"Mar":11.4,"Apr":14.9,"May":17.4,"Jun":19.7,"Jul":21.3,"Aug":20.9,"Sep":16.9,"Oct":13.3,"Nov":10.1,"Dec":8.4},"dataset":{"pointRadius":[0,0,0,0,0,0,0,0,0,0,0,4],"pointStyle":["circle","circle","circle","circle","circle","circle","circle","circle","circle","circle","circle","circle"]}}], {"suffix":null,"points":true,"dataset":{"empty":"No data available","tension":0.5,"pointRadius":0,"pointHoverRadius":10},"library":{"plugins":{"datalabels":{"display":false},"legend":{"display":true,"labels":{"color":"#5D5D5D","font":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"padding":30,"usePointStyle":true}},"tooltip":{"bodyFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"},"titleFont":{"size":20,"family":"Inter, sans-serif","weight":"bold"}}},"responsive":true,"layout":{"padding":{"top":20,"bottom":20,"left":20,"right":20}},"scales":{"y":{"min":0,"grid":{"display":true},"border":{"dash":[5,5]},"ticks":{"stepSize":0,"maxTicksLimit":10,"autoSkip":false,"font":{"size":20}}},"x":{"border":{"display":true},"ticks":{"font":{"size":20}}}}},"legend":"bottom"}); };
    if ("Chartkick" in window) {
      createChart();
    } else {
      window.addEventListener("chartkick:load", createChart, true);
    }
  })();
</script>

  </div>
  <p class="govuk-body datagovuk-body"><a href="https://www.metoffice.gov.uk/research/climate/maps-and-data/uk-and-regional-series" class="govuk-link datagovuk-link">Download the chart data</a></p>
</section>

    </section>

<div class="govuk-inset-text datagovuk-feedback-inset-text">
  <p class="govuk-body datagovuk-body">
      Is this data useful?
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>



<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
          <a role="button" class="govuk-button datagovuk-button" rel="nofollow" href="https://www.metoffice.gov.uk">
            Weather forecasts <span class="datagovuk-right-arrow">&#8594;</span>
</a>            <ul class="govuk-list datagovuk-list">
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://datahub.metoffice.gov.uk">Weather DataHub API</a>
                    </li>
                    <li>
                        <a class="govuk-link datagovuk-link" href="https://climate-themetoffice.hub.arcgis.com">Met Office Climate Data Portal</a>
                    </li>
            </ul>
    </section>
    <section class="datagovuk-section">
    </section>
</section>

