/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$path: "/assets/";
$helvetica-regular: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
$nta-light-tabular: $helvetica-regular;
$toolkit-font-stack: $helvetica-regular;
$toolkit-font-stack-tabular: $helvetica-regular;
$NTA-Light: $helvetica-regular;
$NTA-Light-Tabular: $helvetica-regular;
$Helvetica-Regular: $helvetica-regular;
$alpine-fresh: #128400;

@import 'design-patterns/alpha-beta';
@import 'design-patterns/buttons';
@import 'design-patterns/breadcrumbs';

// From GDS's alphagov/govuk_elements
@import 'elements/helpers';
@import 'elements/reset';
@import 'elements/layout';
@import 'elements/elements-typography';
@import 'elements/buttons';
@import 'elements/lists';
@import 'elements/tables';
@import 'elements/details';
@import 'elements/panels';
@import 'elements/forms';
@import 'elements/forms/form-date';
@import 'elements/forms/form-validation';
@import 'elements/forms/form-multiple-choice';
@import 'elements/breadcrumbs';
@import 'elements/phase-banner';
@import 'elements/components';

@import 'govuk-overrides';
@import 'components';
@import 'accessible-autocomplete/dist/accessible-autocomplete.min';
@import 'organograms';
