// =============================================================================
// Front-end components go here

// Home ==================================================================
.dgu-home-search {
  padding-top: 2.5em;
}

.dgu-topics {

  margin-top: 2em;

  h3 {
    font-weight: bold;
  }

  @media (min-width: 641px) {
    li {
      min-height: 6em;
    }
  }
}


// Search box ==================================================================
.dgu-search-box {
  &__input {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    margin-right: -40px;
    margin-bottom: 25px;
  }

  &__button {
    position: relative;
    top: -4px;
    height: 38px;
    width: 40px;
    cursor: pointer;
    background: #0b0c0c image-url("search-button.png") no-repeat 2px 50%;
    text-indent: -5000px;
    border: 0;
    padding: 0;
  }
}

// Support =====================================================================
.dgu-support {
  &__form-label {
    margin-top: 15px;
  }
  &__button {
    margin-top: 5px;
  }
}



// split-background layout  ====================================================
.dgu-beta-message {
  background: #0C5FA3;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  padding: 20px 15px 10px 20px;
}

.dgu-split-background {
  width: 100%;
  main#content {
    // override the media queries on #content which aren't needed here
    margin: 0!important;
    width: 100%;
    max-width: 100%;
  }

  h1 {
    margin-top: 0;
    margin-bottom: .8em;
  }

  &__top {
    padding: 0em 1em 2.5em 1em;
    background: $highlight-colour;
    &-inner {
      margin: auto;
      max-width: 960px;
      .phase-banner {
        margin-bottom: 2.5em;
      }
    }
  }

  &__bottom {
    max-width: 960px;
    margin: auto;
    padding: 1.5em 1em 1.5em 1em;
  }
}

// Result list and controls ====================================================

.dgu-results {

  &__summary {
    display: inline-block;
    margin-top: 5px;
  }

  &__result {
    margin-top: 30px;
  }
}

.dgu-metadata__box {

  &--in-dataset {
    background: #F8F8F8;
    padding: 25px 30px 15px 30px;
  }

  margin-top: 5px;
  margin-bottom: 10px;
  dt, dd {
    display: inline-block;
    margin-bottom: 5px;
  }
  dt {
    width: 30%;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 5px;
  }
  dd {
    width: 60%;
  }

}

// pagination controls =========================================================

.dgu-pagination {
  border-top: solid;
  border-width: thin;
  border-color: grey;
  margin-top: 25px;
  padding-top: 25px;
  &__numbers {
    padding-left: 20px;
    float:right;
    word-spacing: 6px;
  }
}

// sorting controls ============================================================

.dgu-sort {

  &__apply {
    float: right;
    margin-left: 1em;

    input {
      background: none;
      border: none;
      color: #005ea5;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__sort-type {
    margin-top: 5px;
    float: right;
    overflow: hidden;
    width: 128px;
    background: image-url("triangle-down.png") no-repeat right center;
    background-size: 8%;
    select {
      @include copy-19;
      width: 200px;
      background: transparent;
      border: none;
    }
  }
}

// Datafiles ===================================================================

.dgu-datafiles {
  th {
    white-space: nowrap;
  }
  th, td {
    font-size: 16px;
  }
  margin-bottom: 20px;

  &__year {
    font-family: $helvetica-regular;
    text-decoration: none !important;

    &:focus {
      outline: none;
    }
  }

  &__expand {
    font-size: 1.5em;
    text-decoration: none !important;

    &:focus {
      outline: none;
    }
  }
}


// =============================================================================

.dgu-dataset-right {
  padding-left: 25px;
  &__sidebar {
    ul li {
      margin-bottom: 10px;
    }

    &__publisher_datasets {
      h3 {
        margin: 0;
        padding-top: 30px;
        border-top: 10px solid #F8F8F8;
      }

    }
  }
}

// =============================================================================

.dgu-datalinks {
  &__download {
    margin-top: 1.5em;
  }
}

// =============================================================================

.dgu-additional-info {
  &__notes {
    max-width: 625px;
  }
}


// Search filters ============================================================

.dgu-filters {
  @media (max-width: 641px) {
    margin-bottom: 2em;
  }
  padding-top: 30px;
  h2 {
    margin-top: 0;
  }
  &__filter {
    width: 100%;
  }
  &__apply-button {
    margin-top: .5em;
  }
  &__remove-button {
    margin-top: .7em;
  }
}


// =============================================================================
// preview page

.dgu-datafile-preview {
  margin-top: 40px;
  table {
    border: 2px solid $panel-colour;
    background: #fff;
    th, td {
      padding-left: 20px;
      padding-right: 20px;
    }
    th, tr:nth-child(2n) {
      background-color: $highlight-colour;
    }
    tr td {
      border-bottom: none;
    }
  }
}

// =============================================================================
// Definition lists

.dgu-deflist {
  dt {
    clear: both;
    display: inline-block;
    float: left;
    width: 35%;
    font-weight: bold;
  }
  dd {
    display: inline-block;
    float: right;
    width: 65%;
  }
}


// =============================================================================

section .year-expand {
  .showHide-control, .expand {
    cursor: pointer;
  }
  overflow: hidden;
  border-bottom: 1px solid #BFC1C3;
  &:hover {
    background: #F8F8F8;
  }
  h3 {
    color: #005ea5;
    display: inline-block;
    float: left;
    margin: 20px 0;
  }
  div {
    float: right;
    height: 30px;
    span {
      display: inline-block;
      font-size: 36px;
      color: #005ea5;
      margin: 10px 0;
    }
  }
}

//time-series datalinks______
span.showHide-open-all {
  font-size: 16px;
  float: right;
  font-weight: normal;
  display: inline-block;
  color: $link-colour;
  text-decoration: underline;
  cursor: pointer;
}


// contact______
.contact {
  .column-one-half {
    padding-left: 0;
    &.foi {
      padding-right: 0;
    }
  }
}
