// =============================================================================
// Front-end components go here

.dgu-secondary-text {
  color: $secondary-text-colour;
}

.dgu-highlight {
  background: $grey-3;
  padding: em(2) em(5) em(2) em(5);
}

.table-wrapper {
  margin: 20px 0;
  padding-bottom: 20px;
}

// Home ==================================================================
.dgu-home-search {
  padding-top: 2.5em;
}

.dgu-topics {

  margin-top: 2em;

  h2 {
    font-weight: bold;
  }

  @media (min-width: 641px) {
    li {
      min-height: 6em;
    }
  }
}


// Search box ==================================================================
.dgu-search-box {
  &__input {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    margin-right: -40px;
    margin-bottom: 25px;
  }

  &__button {
    position: relative;
    top: -4px;
    height: 38px;
    width: 40px;
    cursor: pointer;
    background: #0b0c0c image-url("search-button.png") no-repeat 2px 50%;
    text-indent: -5000px;
    border: 0;
    padding: 0;
  }
}

// Support =====================================================================
.dgu-support {
  &__form-label {
    margin-top: 15px;
  }
  &__button {
    margin-top: 5px;
  }
}

// dgu beta message ============================================================
#dgu-beta__banner {
    background: #0C5FA3;
    max-width: 100%
}

.dgu-beta__banner--hidden{
  display:none;
}

.dgu-beta {
  &__banner {
    background: #0C5FA3;
    max-width: 100%
  }
  &__message {
    margin: auto;
    max-width: 960px;
    color: white;
    padding: 18px 15px 10px 15px;
    a:link {
      color: white;
    }
    a:visited {
      color: white;
    }
    a:hover {
      color: $light-blue-25;
    }

  // when beta message is displayed, spacing of adjacent elements must be adjusted____________
    &--show {
      form {
        .dgu-split-background__top {
          &-inner {
            h1.heading-large {
              padding-top: 40px;
            }
          }
        }
      }
    }
  }
}
.phase-banner--hidden{
  display:none;
}

// split-background layout  ====================================================


// Result list and controls ====================================================

.dgu-results {

  &__summary {
    display: inline-block;
    margin-top: 5px;
  }

  &__zero, &__result {
    margin-top: 30px;
  }
}

.dgu-metadata__box {

  &--in-dataset {
    background: $highlight-colour;
    padding: 25px 30px 15px 30px;
  }

  margin-top: 5px;
  margin-bottom: 10px;
  dt, dd {
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: text-top;
  }
  dt {
    width: 30%;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 5px;
  }
  dd {
    width: 60%;
  }

  @include media(mobile) {
    dt,dd {
      width: 100%;
    }
  }

}

// pagination controls =========================================================

.dgu-pagination {
  border-top: solid;
  border-width: thin;
  border-color: grey;
  margin-top: 25px;
  padding-top: 25px;
  &__numbers {
    padding-left: 20px;
    float:right;
    word-spacing: 6px;
  }
}

// sorting controls ============================================================

.dgu-sort {

  &__apply {
    float: right;
    margin-left: 1em;

    input {
      background: none;
      border: none;
      color: #005ea5;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__sort-type {
    margin-top: 5px;
    float: right;
    width: 128px;
    background: image-url("triangle-down.png") no-repeat right 8px;
    background-size: 8%;
    select {
      @include copy-19;
      width: 128px;
      background: transparent;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    select::-ms-expand {
      display: none;
    }
  }
}

// Datafiles ===================================================================

.dgu-datafiles {
  th {
    white-space: nowrap;
  }
  th, td {
    font-size: 19px;
  }
  margin-bottom: 20px;

  &__year {
    font-family: $helvetica-regular;
    text-decoration: none !important;

    &:focus {
      outline: none;
    }
  }

  &__expand {
    font-size: 1.5em;
    text-decoration: none !important;

    &:focus {
      outline: none;
    }
  }

  @include media(mobile) {
    th {
      white-space: normal;
      vertical-align: top;
      font-size: 16px;
    }
    td {
      vertical-align: top;
      font-size: 16px;
    }
  }
}

// Supporting docs ===================================================================

.supporting table {
  th {
    white-space: nowrap;
  }
  th, td {
    font-size: 19px;
  }

  @include media(mobile) {
    th {
      white-space: normal;
      vertical-align: top;
      font-size: 16px;
    }
    td {
      vertical-align: top;
      white-space: normal;
      font-size: 16px;
    }
  }

}


// =============================================================================

.dgu-dataset-right {
  padding-left: 25px;
  &__sidebar {
    ul li {
      margin-bottom: 10px;
    }

    &__publisher_datasets {
      h3 {
        margin: 0;
      }

    }
  }
  @include media(mobile) {
    padding-left: 15px;
  }
}

// =============================================================================

.dgu-datalinks {
  &__download {
    margin-top: 1.5em;
  }
}

// =============================================================================

.dgu-additional-info {
  &__notes {
    max-width: 625px;
  }
}


// Search filters ============================================================

.dgu-filters {
  @media (max-width: 641px) {
    margin-bottom: 2em;
  }
  padding-top: 30px;
  h2 {
    margin-top: 0;
  }
  &__filter {
    width: 100%;
  }
  &__apply-button {
    margin-top: .5em;
  }
  &__remove-button {
    margin-top: .7em;
  }
}


// =============================================================================
// preview page

.dgu-datafile-preview {
  border: 5px solid #dee0e2;
  margin: 30px 0 30px;
  margin-top: 40px;
  table {
    border: 2px solid $panel-colour;
    background: #fff;
    th, td {
      padding-left: 20px;
      padding-right: 20px;
    }
    th, tr:nth-child(2n) {
      background-color: $highlight-colour;
    }
    tr td {
      border-bottom: none;
    }
  }
}
.dgu-datafile-preview__inner {
  border: 1px solid $panel-colour;
  padding: 4px;
  overflow: auto;
}

// =============================================================================
// Definition lists

.dgu-deflist {
  dt {
    clear: both;
    display: inline-block;
    float: left;
    width: 35%;
    font-weight: bold;
    vertical-align: text-top;
  }
  dd {
    display: inline-block;
    float: right;
    width: 65%;
    vertical-align: text-top;
  }
}


// =============================================================================

section .year-expand {
  .showHide-control, .expand {
    cursor: pointer;
  }
  overflow: hidden;
  border-bottom: 1px solid #BFC1C3;
  &:hover {
    background: $highlight-colour;
  }
  h3 {
    color: #005ea5;
    display: inline-block;
    float: left;
    margin: 20px 0;
  }
  div {
    float: right;
    height: 30px;
    span {
      display: inline-block;
      font-size: 36px;
      color: #005ea5;
      margin: 10px 0;
    }
  }
}

//time-series datalinks______
span.showHide-open-all {
  font-size: 16px;
  float: right;
  font-weight: normal;
  display: inline-block;
  color: $link-colour;
  text-decoration: underline;
  cursor: pointer;
}


// contact______
.contact {
  .column-one-half {
    padding-left: 0;
    span {
      display: block;
      word-wrap: break-word;
    }
    h3 {
      padding-bottom: 8px;
    }
    &.foi {
      padding-right: 0;
    }
  }
}


.dgu-top-non-content {
  @extend %site-width-container;
}


.dgu-back-link {
  font-family: $helvetica-regular;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 14px;
  border-bottom: 1px solid $text-colour;
  text-decoration: none;

  &:link, &:visited, &:hover, &:active, &:focus {
    color: #0b0c0c
  }

  &:focus {
    outline: 3px solid $focus-colour;
    outline-offset: 0;
    background-color: $focus-colour;
  }

  &:before {
    position: absolute;
    display: block;
    top: -1px;
    bottom: 1px;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-width: 5px 6px 5px 0;
    border-color: transparent;
    border-right-color: inherit;
    clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
    content: "";
  }
}
