// =============================================================================
// Front-end components go here


// Search box ==================================================================
.dgu-search-box {
  &__input {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    margin-right: -40px;
    margin-bottom: 25px;
  }

  &__button {
    position: relative;
    top: -4px;
    height: 38px;
    width: 40px;
    cursor: pointer;
    background: #0b0c0c image-url("search-button.png") no-repeat 2px 50%;
    text-indent: -5000px;
    border: 0;
    padding: 0;
  }
}


// Styled Dropdown =============================================================
.dgu-dropdown {
  margin-top: 5px;
  float: right;
  overflow: hidden;
  width: 128px;
  background: image-url("triangle-down.png") no-repeat right center;
  background-size: 8%;
  select {
    @include copy-19;
    width: 200px;
    background: transparent;
    border: none;
  }
}

// Results Summary ===========================================================
.results-summary {
  display: inline-block;
  margin-top: 5px;
}

// Twitter typeahead ===========================================================
.twitter-typeahead {
  width: 100%;
  .tt-menu.tt-open {
    width: 100%;
    @include media(mobile) {
      width: 100%;
    }
    border: 3px solid orange;
    border-top: none;
    left: -3px!important;
    cursor: pointer;
  }
  .tt-cursor {
    background: $grey-3;
  }
  .tt-hint {
    color: $grey-1;
  }
  .tt-menu {
    border: 1px solid $grey-1;
    background: $page-colour;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 150px;
  }
  .tt-dropdown-menu {
    width: 100%;
  }
  .tt-highlight {
    text-decoration: underline;
  }
  .tt-cursor {
    color: white;
    background: $link-colour;
  }
  .tt-suggestion {
    padding-left: 2px;
  }
}


//==============================================================================
// Page-specific styles

// Home page custom styles ______________________________
.dgu-home-spacer__top {
  margin-top: 80px;
  margin-bottom: 30px;
  @media (max-width: 641px) {
    margin-top: 30px;
  }
}

.dgu-home-spacer__bottom {
  margin-bottom: 30px;
  margin-top: 0px;
  @media (max-width: 641px) {
    margin-bottom: 30px;
  }
}

// Consent form custom styles ______________________________

details {
  margin-bottom: 30px;
  p:last-child {
    padding-top: 20px;
  }
}

table th, table td {
  font-size: 16px;
}

// Dataset show page custom styles ______________________

// metadata______
.metadata-box {
  background: #F8F8F8;
  padding: 25px 30px 15px 30px;
}

.metadata {
  margin-top: 5px;
  margin-bottom: 10px;
  dt, dd {
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
  }
  dt {
    width: 30%;
    font-weight: bold;
  }
  dd {
    width: 69%;
  }
}

.unavailable {
  color: #6F777B;
}

.fold {
  text-decoration: underline;
  padding-top: 10px;
  cursor: pointer;
  color: $govuk-blue;
}

.data-links {
  th {
    white-space: nowrap;
  }
  th, td {
    font-size: 16px;
  }
}


// related datasets______
.related-datasets {
  padding-left: 25px;
  h3.top {
    margin: 0;
    padding-top: 30px;
    border-top: 10px solid #F8F8F8;
  }
  ul li {
    margin-bottom: 10px;
  }
}

.dataset {
  .download {
    margin-top: 1.5em;
  }
}


// additional info______
.additional-information {
  max-width: 625px;
}

//time-series datalinks______
span.showHide-open-all {
  font-size: 16px;
  float: right;
  font-weight: normal;
  display: inline-block;
  color: $link-colour;
  text-decoration: underline;
  cursor: pointer;
}

button.button.secondary {
  background: none;
  color: $govuk-blue;
  text-decoration: none;
  box-shadow: none;
  font-weight: bold;
  padding: .8em 0 0 0;
  &.expand {
    font-size: 1.5em;
  }
}

section .year-expand {
  .showHide-control, .expand {
    cursor: pointer;
  }
  overflow: hidden;
  border-bottom: 1px solid #BFC1C3;
  &:hover {
    background: #F8F8F8;
  }
  h3 {
    color: #005ea5;
    display: inline-block;
    float: left;
    margin: 20px 0;
  }
  div {
    float: right;
    height: 30px;
    span {
      display: inline-block;
      font-size: 36px;
      color: #005ea5;
      margin: 10px 0;
    }
  }
}

// feedback form______
#feedback {
  margin-top: 200px;
  .button {
    margin-top: 30px;
    margin-bottom: .7em;
  }
  .heading-medium {
    margin-top: 60px;
  }
}

.dgu-feedback-form {
  background: #F8F8F8;
  padding: 1em 1em 0.2em 1em;
}

.dgu-feedback-form .multiple-choice {
  float: none;
  padding-bottom: 2.5em;
}

// contact______
.contact {
  .column-one-half {
    padding-left: 0;
    &.foi {
      padding-right: 0;
    }
  }
}

// filters on search page
.dgu-filters {
  @media (max-width: 641px) {
    margin-bottom: 2em;
  }
  padding-top: 30px;
  h2 {
    margin-top: 0;
  }
  &__filter {
    width: 100%;
  }
  &__apply-button {
    margin-top: .5em;
  }
  &__remove-button {
    margin-top: .7em;
  }
}

// Filter
.inline-buttons {
  &__left {
    display: inline-block;
  }
  &__right {
    display: inline-block;
    vertical-align: -38%
  }
}

.datafiles {
  &__preview {
    width: 5em;
  }
}

// Search results page _______________________________

// Pagination

.pagination {
  border-top: solid;
  border-width: thin;
  border-color: grey;
  margin-top: 25px;
  padding-top: 25px;
    &__numbers {
      padding-left: 20px;
      float:right;
      word-spacing: 6px;
    }
}

// search results
.result {
  margin-top: 30px;
}

// Breadcrumb - this has been replicated here as could not get it to work via the frontend-toolkit gem

.datagov_breadcrumb {

  padding-top: 0.75em;
  padding-bottom: 0.75em;

  ol {
    @extend %contain-floats;
  }

  li {
    @include core-16;
    float: left;

    background-image: image-url("separator.png");

    @include device-pixel-ratio() {
      background-image: image-url("separator-2x.png");
      background-size: 6px 11px;
    }

    background-position: 0% 50%;
    background-repeat: no-repeat;

    list-style: none;

    margin-left: 0.6em;
    margin-bottom: 0.4em;
    padding-left: 0.9em;

    &:first-child {
      background-image: none;
      margin-left: 0;
      padding-left: 0;
    }

  }

  a {
    color: $text-colour;
  }
}


// preview page

section.table__preview {
  margin-top: 40px;
  table {
    border: 2px solid #DEE0E2;
    background: #fff;
    th, td {
      padding-left: 20px;
      padding-right: 20px;
    }
    th, tr:nth-child(2n) {
      background-color: #F8F8F8;
    }
    tr td {
      border-bottom: none;
    }
  }
  ul.pagination {
    margin-left: 0;
  }
}
