// govuk-* overrides

// Homepage header overides__________________

#global-header {
  #logo {
    padding-top: 4px;
    font-size: 26px;
    line-height: 1.3;
    font-weight: normal;
    background: none;
    border-bottom: none;
    width: 110%;
    img {
      display: none;
    }
  }
}

#proposition-links {
  float: right;
}

#global-header-bar {
  display: none;
}


.heading-large {
  margin-top: 1.5em;
  margin-bottom: 40px;
}
// ______________________________________________________
