.govuk-header {
  border-bottom: none;

  &__container {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 5px;
  }

  &__logo {
    width: 75%;
  }
  
  &__logo, &__content {
    @include media(desktop) {
      width: 50%;
    }
  }

  &__link--homepage {
    font-weight: 400;
    font-size: 24px;
  }

  &__navigation {
    text-align: right;
  }
}

.phase-banner .phase-tag {
  padding-bottom: 2px;
}

.heading-large {
  margin-top: 1.5em;
  margin-bottom: 40px;
}

.heading-xlarge {
  margin-top: 1.65em;
  margin-bottom: 40px;
}

* {
  font-family: $helvetica-regular !important;
}

details {
  margin-bottom: 30px;
  p:last-child {
    padding-top: 20px;
  }

  table th, table td {
    font-size: 16px;
  }
}

button.button.secondary {
  background: none;
  color: $govuk-blue;
  text-decoration: underline;
  box-shadow: none;
  padding: .8em 0 0 0;
}


.autocomplete__dropdown-arrow-down {
  z-index: 1 !important;
}

.autocomplete__input {
  z-index: 2;
}

.autocomplete__option {
  min-height: 1.31579em;
}

.breadcrumbs li {
  background-image: image-url("separator.png");
}

.breadcrumbs li {
  @include device-pixel-ratio() {
    background-image: image-url("separator-2x.png");
  }
}
