// govuk-* overrides

// Homepage header overides__________________

#global-header {
  #logo {
    padding-top: 4px;
    font-size: 24px;
    line-height: 1.3;
    font-weight: normal;
    background: none;
    border-bottom: none;
    width: 160%;
    font-family: Helvetica, Arial, sans-serif;
    img {
      display: none;
    }

    .vertical-separator {
      display: inline-block;
      margin-left: 4px;
      color: black;
      border-left: thin solid $grey-2;
      @media (max-width: 646px) {
        display: block;
        line-height: 0;
        font-size: 0;
      }
    }

    .dgu-phase-tag--responsive {
      @media (max-width: 769px) {
        display: block;
        width: 12%;
      }
    }

    .header-proposition {
      #proposition-links {
        a {
          font-family: Helvetica;
        }
      }
    }
  }
}

#proposition-links {
  float: right;
  font-family: Helvetica;
}

#global-header-bar {
  display: none;
}


.heading-large {
  margin-top: 1.5em;
  margin-bottom: 40px;
}

.heading-xlarge {
  margin-top: 1.65em;
  margin-bottom: 40px;
}

#footer .footer-meta .footer-meta-inner .open-government-licence p {
  font-family: Helvetica, Arial, sans-serif;
}


details {
  margin-bottom: 30px;
  p:last-child {
    padding-top: 20px;
  }

  table th, table td {
    font-size: 16px;
  }
}

button.button.secondary {
  background: none;
  color: $govuk-blue;
  text-decoration: underline;
  box-shadow: none;
  padding: .8em 0 0 0;
}


.autocomplete__dropdown-arrow-down {
  z-index: 1;
}

.autocomplete__input {
  z-index: 2;
}

.breadcrumbs li {
  background-image: image-url("separator.png");
}

.breadcrumbs li {
  @include device-pixel-ratio() {
    background-image: image-url("separator-2x.png");
  }
}
