// govuk-* overrides

// Homepage header overides__________________

#global-header {
  #logo {
    padding-top: 4px;
    font-size: 24px;
    line-height: 1.3;
    font-weight: normal;
    background: none;
    border-bottom: none;
    width: 110%;
    font-family: Helvetica, Arial, sans-serif;
    img {
      display: none;
    }
  }
}

#global-header {
  .header-proposition {
    #proposition-links {
      a {
        font-family: Helvetica;
      }
    }
  }
}

#proposition-links {
  float: right;
  font-family: Helvetica;
}

#global-header-bar {
  display: none;
}


.heading-large {
  margin-top: 1.5em;
  margin-bottom: 40px;
}

.heading-xlarge {
  margin-top: 1.65em;
  margin-bottom: 40px;
}

#footer .footer-meta .footer-meta-inner .open-government-licence p {
  font-family: Helvetica, Arial, sans-serif;
}


details {
  margin-bottom: 30px;
  p:last-child {
    padding-top: 20px;
  }

  table th, table td {
    font-size: 16px;
  }
}

// Breadcrumb - this has been replicated here as could not get it to work via the frontend-toolkit gem

.datagov_breadcrumb {

  padding-top: 0.75em;
  padding-bottom: 0.75em;

  ol {
    @extend %contain-floats;
  }

  li {
    @include core-16;
    float: left;

    background-image: image-url("separator.png");

    @include device-pixel-ratio() {
      background-image: image-url("separator-2x.png");
      background-size: 6px 11px;
    }

    background-position: 0% 50%;
    background-repeat: no-repeat;

    list-style: none;

    margin-left: 0.6em;
    margin-bottom: 0.4em;
    padding-left: 0.9em;

    &:first-child {
      background-image: none;
      margin-left: 0;
      padding-left: 0;
    }

  }

  a {
    color: $text-colour;
  }
}



button.button.secondary {
  background: none;
  color: $govuk-blue;
  text-decoration: underline;
  box-shadow: none;
  padding: .8em 0 0 0;
}


.autocomplete__dropdown-arrow-down {
  z-index: 1;
}

.autocomplete__input {
  z-index: 2;
}
