body {
  > .x-panel {
    padding-top: 55px;
    background-color: black;
  }

  > .x-panel-body {
    position: absolute;
    top: 160px;
  }
}

/* Message for search being processed */
#busy_indicator {
  display: none;
  float: right;
  background: #fff1a8;
  margin-top: 5px;
  z-index: 1000;
  width: 200px;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
}

#helplink {
  float: right;
  margin-bottom: 14px;
}

#projectionCombo {
  cursor: pointer;
}

.js-enabled {
  .map-preview-loading-message {
    display: block;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
  }
}

.map-preview-loading-message {
  display: none;
}

/* Prevent logos from being displayed and interfering with copyright annotations */
.failedwms-icon {
  background: image-url('map-preview/deadwms.gif') no-repeat;
  height: 16px;
  width: 16px;
}

/* Styling for map history buttons; previous, next and fullExtent. All the below
OpenLayers control styles overwrites style.css (default ol style sheet) */
.previousButtonItemInactive {
  top: 5px;
  left: 5px;
  position: absolute;
  background: image-url('map-preview/previous.png');
  width: 24px;
  height: 22px;
}

.nextButtonItemInactive {
  top: 5px;
  left: 53px;
  position: absolute;
  background: image-url('map-preview/next.png');
  width: 24px;
  height: 22px;
}

.fullExtentButtonItemInactive {
  top: 5px;
  left: 29px;
  position: absolute;
  background: image-url('map-preview/full-extent.png');
  width: 24px;
  height: 22px;
}

.gx-activelayer-drag-icon {
  background: image-url('map-preview/drag.png') no-repeat !important;
  width: 16px !important;
  height: 16px !important;
}

.gx-attribution-image {
  display: none;
}

table.popup {
  border-width: 0px;
  border-spacing: 0px;
  border-style: none;
  border-color: gray;
  border-collapse: collapse;
  background-color: #fff;
}

table.popup th {
  border-width: 1px;
  padding: 7px;
  border-style: none;
  border-color: #808080;
  background-color: #fffff0;
}

table.popup td {
  border-width: 1px;
  padding: 2px;
  border-style: none;
  border-color: #808080;
  background-color: #fffff0;
}

/* #info */
.olControlAttribution {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-size: .70em;
  left: 5px;
  bottom: 3px;
  color: #666;
  pointer-events: none;

  a {
    pointer-events: auto;
  }
}

.olMousePosition {
  right: 3px;
  padding: 5px;
}

.olControlMousePosition {
  right: 3px;
  padding: 5px;
  pointer-events: none;

  a {
    pointer-events: auto;
  }

  .olControlNoSelect {
    font-size: small;
    color: #555;
  }
}

/* Styling for Control panel that contains the map history buttons
NOTE: if more controls are added this will need to be made larger and
the map panel for the zoom slider will need to be moved if panels overlap
(zoom slider will disappear). */
.olControlPanel {
  width: 80px;
  height: 30px;
}

.olControlLoadingPanel {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-image: image-url('map-preview/loading-transparent.gif');
  background-color: #d2e0f2;
  background-position: 10px 50%;
  background-repeat: no-repeat;
  border-color: #ddd #aaa #aaa #ddd;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 2px 2px 2px #000;
  color: #000;
  display: none;
  font: 12px sans-serif;
  height: 32px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  width: 110px;
}

/* Styling for overview Map */
.olControlOverviewMap {
  background: none;
  border: none;
  padding: 0;
  top: 0;
  right: 0;
  height: 0;
}

/* Styling for Overview Map Container */
.olControlOverviewMapContainer {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
}

/* Styling for Overview Map */
.olControlOverviewMapElement {
  background: none !important;
  border: none;
  top: 0;
  right: 0;
  height: 0;

  /* Styling for border around map and overview map */
  > .olMap {
    border-width: 1px;
    border-style: solid;
    border-color: #99bbe8;
  }
}

/* Styling for Overview Map Minimize Button */
.olControlOverviewMapMinimizeButton {
  height: 18px;
  width: 18px;
  right: 0;
  top: 10px;
  cursor: pointer;
  background: image-url('map-preview/minus.png');
  background-color: transparent;

  > img {
    display: none;
  }
}

/* Styling for Overview Map Maximize Button */
.olControlOverviewMapMaximizeButton {
  height: 18px;
  width: 18px;
  right: 0;
  top: 10px;
  cursor: pointer;
  background: image-url('map-preview/plus.png');
  background-color: transparent;

  > img {
    display: none;
  }
}

.olControlPanZoom {
  display: block;
  color: red;
  position: absolute;
  left: 130px;
}

.olControlScaleLine {
  bottom: 16px;
  right: 3px;
  padding: 5px;
  left: auto;
  color: #666;
  pointer-events: none;

  a {
    pointer-events: auto;
  }
}

/* Failed images to be hidden rather than to be shown as pink */
.olImageLoadError {
  visibility: hidden;
  display: none;
}

.olMap {
  border-width: 1px;
  border-style: solid;
  border-color: #99bbe8;
}

.olPopup {
  padding: 3px;
}

.olPopupContent {
  display: table-cell;
  vertical-align: middle;
  padding: 1px;
}

.x-panel-body {
  border-style: none;
}
