<% content_for :main do %>
  <header class="datagovuk-data-manual-hero">
    <h1 class="govuk-heading-xl datagovuk-heading-xl govuk-!-margin-bottom-4">
      Data manual
    </h1>
    <p class="govuk-body datagovuk-body">
      A guide to working with data in government and the public sector
    </p>
  </header>
  
  <%= yield %>
<% end %>

<%= render template: "v2/layouts/application" %>
