<%= @title %>

<strong class="govuk-tag">
  Completed
</strong>
<strong class="govuk-tag">
  Completed
</strong>
<strong class="govuk-tag">
  Completed
</strong>

<%= @body %>

<details class="govuk-details" open>
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Footnotes
    </span>
  </summary>
  <div class="govuk-details__text">
    <%= @data_source_description %>
  </div>
</details>

<section>
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <div class="govuk-inset-text datagovuk-feedback">
                <div>
                How satisfied are you with this dataset?
                <div>
                <div class="datagovuk-radios" data-module="datagovuk-radios">
                    <div class="datagovuk-radios__item">
                        <input class="datagovuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                            
                        </label>
                    </div>
                    <div class="datagovuk-radios__item">
                        <input class="datagovuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                        
                        </label>
                    </div>
                    <div class="datagovuk-radios__item">
                        <input class="datagovuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
                        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                        
                        </label>
                    </div>
                    <div class="datagovuk-radios__item">
                        <input class="datagovuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
                        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                        
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</section>

<%= yield if block_given? %>
