<div id="dgu-beta__banner" class="dgu-beta__banner--hidden">
  <div class="dgu-beta__message">
    <p>
      We’ve been improving data.gov.uk to help you find and use open government data.<br />
      <%= link_to "Discover what’s changed", about_path %> and <%= link_to "get in touch", "http://www.smartsurvey.co.uk/s/3SEXD/" %> to give us your feedback.
    </p>

    <p>
      <a class="survey-close-button" href="#user-survey-cancel" id="dgu-survey-cancel" role="button">
        Don't show this message again
      </a>
    </p>

  </div>
</div>
