<div class="grid-row">
  <div class="column-two-thirds dgu-beta-message">
    <p>This is an improved version of data.gov.uk to make finding data faster and easier. <%= link_to 'Find out more', about_path %> about why we are making this change.</p>

        <% if current_page?(controller: 'home', action: 'index') %>
          <p><%= link_to "Don't show this message again", seen_beta_message_path %>
        <% elsif %>
        <%  current_page?(controller: 'search', action: 'search') %>
          <p><%= link_to "Don't show this message again", search_beta_message_path(q: params[:q]) %>
        <% else %>
          <p><%= link_to "Don't show this message again", accept_and_redirect_path(uuid: params[:uuid], name: params[:name]) %></p>
        <% end %>
  </div>
</div>
