<%= render "govuk_publishing_components/components/phase_banner", {
  phase: "beta",
  message: sanitize("This part of GOV.UK is being rebuilt - <a class=\"govuk-link\" href='https://www.gov.uk/service-manual/agile-delivery/how-the-beta-phase-works'>find out what beta means</a>")
} %>
