<div id="dgu-phase-banner" class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span><%= t(".beta_survey_message_html", :href => link_to(t('.href'), t('.survey_url')))%>
    </span>
  </p>
</div>
