<div class="phase-banner">
  <p>
    <span><%= t(".beta_survey_message_html",
                :href => link_to(t('.href'),
                                 t('.survey_url'))
                )%>
    </span>
  </p>
</div>
