<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu"> <%= t('.menu') %> </a>
    <nav id="proposition-menu">
      <ul id="proposition-links">
        <%= link_to 'Support', support_path %>
      </ul>
    </nav>
  </div>
</div>
