<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu"><%= t('.menu') %></a>
    <nav id="proposition-menu">
      <ul id="proposition-links">
        <li><%= link_to t('.publishers'), publishers_path %></li>
        <li><a href='https://guidance.data.gov.uk/publish_and_manage_data/'>Documentation</a></li>
        <li><%= link_to t('.support'), support_path %></li>
      </ul>
    </nav>
  </div>
</div>
