<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <ul id="proposition-links">
        <li>
          <%= link_to "Publishers" =%>
        </li>
        <li>
          <%= link_to "Data Collections" =%>
        </li>
        <li>
          <%= link_to "Support" =%>
        </li>
      </ul>
    </nav>
  </div>
</div>
