<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu"> <%= t('layouts.proposition_header.menu') %> </a>
    <nav id="proposition-menu">
      <ul id="proposition-links">
      </ul>
    </nav>
  </div>
</div>
